<div id="message_detail_div" class="shadowCont message">

  <div class="myTableMenu" align="center" style="cursor: pointer; margin-bottom: 10px; text-align: left;"  onclick="window.location='<%= inbox_messages_path %>'">
    <a><span><div>&lt; Back to messages</div></span></a>
  </div>

  <div style="color: #CC33CC; position: absolute; text-align: center; width: 74%; line-height: 20px; font-size: 1.3em;" >
    TODO Title Offer...
  </div>
  <div class="submenu"> <!-- style="float: left; height: 500px; width: 250px;margin-top: 10px;" -->
    <%= @message.topic %>
  </div>

  <div style="float: right;line-height: 20px; margin-bottom: 10px; font-size: 1.2em;"> 
    <%= link_to "Mark as unread", manage_messages_path(:message => [@message.id], :action_to_perform => "mark_as_unread"), :method => :post, :style=>"background: none repeat scroll 0 0 #00DAFF;", :class=>"action" %>
  </div>
  <div class="clear" ></div>

  <% conversations = @message.conversation.sort_by{|e| e[:id]} %>
  <% conversations.each do|conv| %>
    <div style="margin-bottom: 10px;">
      <div style="height: 0px; border-bottom: 1px solid grey;margin-bottom: 10px;"></div>
      <%= conv.from == current_user ? "Me": conv.from.popup_storz_display_name; %><span style="float: right;"><%= conv.created_at.strftime("%d %b %y") %></span>
      <div class="clear" ></div>
      <div class="body"><%= raw (nl2br(conv.body)) %></div>
    </div>
  <% end %>
  <%= form_tag  do_reply_messages_path, { :id => "email_compose_form" } do %>
    <%= hidden_field_tag :message_id , @message.id %>

    <!--div style="width:100%;float:left;height:50px;margin-top: 10px;">
      <div style="width: 75px;float:left;margin-top: 7px;">
    <%= t(:sub_mail) %>&nbsp;&nbsp;&nbsp;
      </div>
      <div style="width: 500px;float:left;">
    <%= text_field_tag :topic,"Re: #{@message.topic}"  , :style => "width:520px;"%>
      </div>
    </div-->

    <div style="width:100%;">
      <%= text_area_tag :body, "", :style => "width:98%;height:65px;", :hint => "Write message here..." %>
    </div>

    <div>
      <div class="myTableMenu" align="center" style="float:left;cursor: pointer;margin-top: 10px;"  onclick="checkFields();">
        <a><span><div class="search">Send</div></span></a>
      </div>

    </div>
  <% end %>
</div>

<script type="text/javascript">
  function checkFields(){
    if($('#topic').val() == ""){
      alert('Please enter subject.');
      return false;
    }else if($('#body').val() == ""){
      alert('Please enter body.');
      return false;
    }
    else{
      $('#email_compose_form').submit();
    }
  }
</script>