<% if user_signed_in? %>
  <li>
    Hello! <%= current_user.first_name %>
  </li>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> &nbsp;&nbsp;
  </li>
  <li>
    <%= link_to "English/French", "/home/index" %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to "$/euro", "/home/index" %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to('Profile', profile_path(current_user.id)) %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to "Personal Space", items_path %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to('Create your listing ', new_item_path ) %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to('Messages', inbox_messages_path ) %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to "About", "/home/about" %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to('Members', "/members" ) %>&nbsp;&nbsp;
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)%> &nbsp;&nbsp;
  </li>
  <li>
    <%= link_to "English/French", "/home/index" %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to "$/euro", "/home/index" %>&nbsp;&nbsp;
  </li>
  <li>
    <%= link_to "About", "/home/about" %>&nbsp;&nbsp;
  </li>
<% end %>


<br/><br/>

 <%= form_tag "/items/search_keyword", :method => :get  do %>
  
  <%= autocomplete_field_tag :keyword, params[:keyword], autocomplete_item_title_items_path, :placeholder => "Appartment, Hotel or warehouse etc.", :style => "width:300px;" %>&nbsp;in the city of&nbsp;
  <%= autocomplete_field_tag :location, params[:location], autocomplete_item_city_items_path, :placeholder => "Location", :style => "width:300px;" %>
  <%= submit_tag "Search" %>
<% end %>

