<h3>
<%= t(:change_commission_rate_of_all_listings) %>
</h3>
<%= form_tag change_all_admin_items_path do |f|%>
 <%= t(:set_owner_commission_rate) %>: <br/>
  <%= text_field_tag "owner_commission_rate"%> % <br/>
  <%= t(:set_guest_commission_rate) %>: <br/>
  <%= text_field_tag "guest_commission_rate"%> % <br/>
  <%= submit_tag t(:done) %>
<% end %>
