<div id="get-list-header">
  <h2><%= t(:all_items) %></h2>
</div>
<div class="listx-bg">
  <% unless @items.blank? %>
    <% @items.each do | item | %>
      <div class="listx" style="margin-bottom: 10px;border-bottom: 1px solid gray;padding: 10px;">
        <div class="imgx">
          <% if item.avatars.size > 0 %>
            <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "115", :height => "81", :alt => "Space-Photo")  %>
          <% else %>
            <%= t(:no_image_provided) %>
          <% end %>
        </div>

        <div class="name-list"><%= item.title %></div>
        <div class="manage-bg">
          <div class="btns">
            <%= link_to t(:destroy) , admin_item_path(item), :method => :delete, :confirm => t(:destroy_message) %>|&nbsp;
          </div>
        </div>
      </div>
    <%end%>
  <%else%>
   <%= t(:no_item_listed) %>
  <%end%>
</div>

<div class="btn-bar">

</div>
