<div style="float: left; padding: 10px; border: 1px solid gray; width: 50%;">
  <div>
  </div>
  <div id="get-list-header">
    <div id="lisit-txt"><%= @item.title %>
      <div style="float:left;width:100%;margin:10px;">
        <%if @item.is_active%>
          <%= link_to t(:deactivate), active_inactive_admin_items_path(:item_id => @item.id), :confirm => "Are you sure"%>
        <%else%>
          <%= link_to t(:activate), active_inactive_admin_items_path(:item_id => @item.id), :confirm => "Are you sure"%>
        <%end%>
      </div>

      <span class="hel-14">
        <b><%= t(:location_show) %></b><%= "#{@item.street_name} #{@item.city}, #{@item.region}, #{@item.zipcode}" %>
        <br/>
      </span>
    </div>
    <div>
      <%= form_tag display_on_home_admin_items_path do |f|%>
        <%= hidden_field_tag "new_item_id", @item.id%>
        <%= check_box_tag "item_id", @item.id, @item.display_on_home%>
        <%= t(:display_on_home) %>
        <%= submit_tag t(:done)%>
      <%end%>
    </div>
    <div>
      <b><%= t(:owner_info) %></b><br/>
      <%= t(:owner_name) %><%= @user.first_name %> <%= @user.last_name %>
      <br/>
      <%= t(:lives_in) %><%= @user.address1 %> <%= @user.address2 %> <%= @user.city %> <%= @user.country %>
      <br/>
    </div>
    <button id="owner"><%= t(:ownership) %></button>
    <div id="change_owner" style="display:none;width:120px !important;">
      <%=form_tag transfer_ownership_admin_items_path do |f|%>
        <%= hidden_field_tag "item_id", @item.id%>
        <%= select_tag( "user_id", options_from_collection_for_select( @users, :id, :first_name), :prompt => "select owner", :class => "paris", :style => "120px !important") %>
        <%= submit_tag t(:done) %>
      <%end%>
    </div>
  </div>
  <br/><br/>
  <div id="left-side">
    <div class="left-gray">
      <div id="white-btn">
        <%= link_to_function "PHOTO" , "if($('#photo_div').is(':hidden')){$('#photo_div').show();$('#my_map_div').css('visibility','hidden');$('#my_map_div').css('position','absolute');}"  %>
        <%= link_to_function "MAP", "$('#photo_div').hide();$('#my_map_div').css('visibility','visible');$('#my_map_div').css('position','');"  %>
      </div>
      <br/><br/>
      <div id="photo_div">
        <% if @item.avatars.size > 0 %>
          <div id="space-img">
            <%= image_tag(@item.avatars.first.photo.url(:large), :height => "286") %>
          </div>
        <% else %>
          <div id="space-img">
            <%= t(:no_image) %>
          </div>
        <%end%>
      </div>

      <div id="my_map_div" style="visibility:hidden;position:absolute;">
        <%= raw(@map.div(:width => 500, :height => 400)) %>
      </div>
    </div>

    <div class="left-gray">
      <div id="space-details-txt"><%= raw @item.description %></div>
    </div>
  </div>

  <div id="right-widgets">
    <div class="blue-box">
      <div id="price-x">
        <span class="font-24"><%= @item.price %></span>
        &nbsp;
        <%= t(:euro_per_day) %>
      </div>
    </div>
  </div>

  <div>
    <h3><%= t(:guest_rate) %>: <%=@item.guest_commission_rate%> % </h3>
    <h3><%= t(:owner_rate)  %>: <%=@item.owner_commission_rate%> % </h3>

    <div class="btns">
      <button id="fff"> <%= t(:change_commision_rate) %> </button>|&nbsp;
    </div>
    <div id="rate_form" style="display: none;">
      <%=form_tag change_commission_rate_admin_items_path do |f|%>
        <%=hidden_field_tag "item_id", @item.id%>
        <%=t(:set_owner_commission_rate)%>: <br/>
        <%=text_field_tag "guest_commission_rate", @item.guest_commission_rate%>%
        <br/>
        <%= t(:set_guest_commission_rate) %>: <br/>
        <%=text_field_tag "owner_commission_rate", @item.owner_commission_rate%>%
        <br/>
        <%= submit_tag t(:update) %>
      <%end%>
    </div>
  </div>

  <div>
    <div>
      <h3> <%= t(:bookings_on_this_item) %></h3>
      <%unless @item.offers.blank?%>
        <%@item.offers.each do |offer|%>
          <%= t(:start_date) %> <%= offer.rental_start_date.blank? ? "" : offer.rental_start_date.strftime("%m-%d-%Y") %><br/>
          <%= t(:end_date) %>  <%= offer.rental_end_date.blank? ? "" : offer.rental_end_date.strftime("%m-%d-%Y") %><br/>
          <% if offer.is_gathering == true  %>
            <%= t(:total_req_person) %><%= offer.persons_in_gathering %><br />
            <%= t(:join_deadline) %><%= offer.gathering_deadline.strftime("%m-%d-%Y") %>
          <% end %>
          <div style="float:left;width:100%;margin:10px;">
            <%if offer.is_active%>
              <%= link_to t(:deactivate), offer_activation_admin_items_path(:offer_id => offer.id), :confirm => t(:sure_delete) %>
            <%else%>
              <%= link_to t(:activate), offer_activation_admin_items_path(:offer_id => offer.id), :confirm => t(:sure_delete) %>
            <%end%>
          </div>
        <%end%>

      <%else%>
        <%= t(:no_bookings) %>
      <%end%>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#user_id").chosen();
  
  $('#fff').click(function() {
    $('#rate_form').toggle();
  });
  
  $('#owner').click(function() {
    $('#change_owner').toggle();
  });
</script>
<style>  
  #user_id_chzn {
    width: 200px !important;
  }

  .chzn-drop{
    width: 198px !important;
  }

  .chzn-search{
    width: 190px !important;
  }

</style>