<h1>Email Settings:</h1>
  <br /><br />
  <%= check_box_tag :receive_person_message, '' ,@email_setting.receive_person_message %>
  <label>I receive a message from another person</label>
  <br /><br />
  
  <%= check_box_tag :booking_request_update, '' ,@email_setting.booking_request_update %>
  <label>An outstanding booking request is accepted or declined.</label>
  <br /><br />
  
  <%= check_box_tag :receive_booking_request, '' ,@email_setting.receive_booking_request %>
  <label>I receive a booking request</label>
  <br /><br />
  
  <%= check_box_tag :upcoming_booking, '' ,@email_setting.upcoming_booking %>
  <label>I have an upcoming booking</label>
  <br /><br />
  
  <%= check_box_tag :new_review, '' ,@email_setting.new_review %>
  <label>I have received a new review</label>
  <br /><br />
  
  <%= check_box_tag :review_required, '', @email_setting.review_required %>
  <label>I need to leave a review </label>
  <br /><br />
  
  <%= link_to "Edit", "/email_settings/edit" %> | 
  <%= link_to "Back", "/messages/inbox" %>