<div class="shadowCont offer">
	<!-- sub-Header -->
	<%= render :partial => "users/account_header" %>
	<div class="clear"></div>

	<div style="overflow: auto;" id="invitation_div">
			<div class="xfields"><b><%= t(:email_setting) %></b></div>
	
	
		  <div class="xfields" style="line-height: 22px;">
			  <%= check_box_tag :receive_person_message, '' ,@email_setting.receive_person_message %>
			  <span><%= t(:received_msg_from_other) %></span>
		  </div>
		  
		  <div class="xfields" style="line-height: 22px;">
			  <%= check_box_tag :booking_request_update, '' ,@email_setting.booking_request_update %>
			  <span><%= t(:outstanding_booking_request) %></span>
		  </div>
		  
		  <div class="xfields" style="line-height: 22px;">
			  <%= check_box_tag :receive_booking_request, '' ,@email_setting.receive_booking_request %>
			  <span><%= t(:received_booking_request) %></span>
		  </div>
		  
		  <div class="xfields" style="line-height: 22px;">
			  <%= check_box_tag :upcoming_booking, '' ,@email_setting.upcoming_booking %>
			  <span><%= t(:upcoming_bookings) %></span>
		  </div>
		  
		  <div class="xfields" style="line-height: 22px;">
			  <%= check_box_tag :new_review, '' ,@email_setting.new_review %>
			  <span><%= t(:received_review) %></span>
		  </div>
		  
		  <div class="xfields" style="line-height: 22px">
			  <%= check_box_tag :review_required, '', @email_setting.review_required %>
			  <span><%= t(:leave_review) %> </span>
		  </div>
		  
		  <div class="xfields" style="margin-top: 17px;">
		  	<%= link_to "Edit", "/email_settings/edit", :class=> "search", :style => "font-size: 16px; padding: 3px 20px;"  %>
		  </div>
	</div>
</div>
