<style>
  .blockParts, .blockParts2{
    font-size: 16px; 
    /*font-weight: bold; */
    font-family: proxima-bold;
    padding-bottom: 1em;
  }

  .blockParts2{
    float: left;
    /*padding-top: 1em;*/
  }
</style>
<div class="shadowCont" style="margin-top:1em;">
  <div id="viewProfileSummary" style="height: 100px;">
    <div style="width: 150px; height: 100%; float:left;">			
      <% if @user.avatars.size > 0 %>
        <% @user.avatars.each  do |avatar| %>
          <%= link_to(image_tag(avatar.photo.url(:thumb)), avatar.photo.url(:original) ) %>
        <% end %>
      <% end %>
    </div>
    <div style="float:left; margin-left: 1em; margin-bottom: 2em; width: 75%">
      <%= render :partial => "searches/member_rating", :locals => {:member => @user, :only_view => false} %>
      <h2 style="float: left;width:100%;font-family:proxima-bold; color: #333333;" onclick="window.location='<%= profile_path(@user.id) %>'">
        <%= @user.full_name %>
      </h2> 
      <br/>
      <div class="name-list" style="float: left;width:200px;margin-bottom: 5px; color: #666666; font-family: proxima-semibold; font-size: 1.2em;" onclick="window.location='<%= profile_path(@user.id) %>'">
        <%= @user.activity %>
        </label>
        <br/>
        <br/>
        <div class="name-list XXII" style="margin-bottom: 5px;float: left;width:350px;" onclick="window.location='<%= profile_path(@user.id) %>'">
          <% unless @user.city.blank? %>
            <%= @user.city %>
          <% end %>
          <% unless @user.country.blank? %>
            <%= @user.country %>
          <% end %>
        </div> 
        <br/>
        <br/>
        <div style="color: #999999;">
          <%= @user.description %>
        </div>
      </div>
    </div>
    <div style="float: left;width: 100%;margin-top: 20px;">
      <h2 style="color:#666666;text-transform: uppercase;"><%= t(:edit_your_profile) %></h2>

      <%= form_for(@user) do |f| %>
  <%#= devise_error_messages! %>

        <div class="reqInfo"><%= t(:required_info) %></div>

        <div class="sign_up_input">
          <label><%= t(:first_name) %></label>
          <%= f.text_field :first_name, :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label><%= t(:last_name) %></label>
          <%= f.text_field :last_name , :autocomplete=> "off"%><span class="info" style="font-weight: bold;color: #999999">Only the first letter of your last name will be displayed</span>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label style="margin-right: 13px;"><%= t(:d_o_b) %></label>
          <%= f.date_select :date_of_birth, {:order =>[:day, :month, :year], :start_year => 1900, :use_month_numbers => true}, {:style=>"margin: 3px 0;width:70px;", :class=>"dateselect"} %><span class="info" style="color:#999999;font-weight: bold;margin-left: 27px;">will not be shown</span>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label><%= t(:gender) %></label>
          <div class="fltL" style="margin: 5px 0;">
            <div style="float: left; width: 218px; line-height: 15px; font-size: 0.9em;">
              <span>
                <%= f.radio_button :gender,   true, :style => "margin-top: 2px;" %>
              </span>
              <span style="margin-left: 5px;">male</span>
            </div><span class="info" style="float: right;font-weight: bold;color: #999999">will not be shown</span>
            <div style="line-height: 15px; font-size: 0.9em;">
              <span>
                <%= f.radio_button :gender, false , :style => "margin-top: 2px;" %>
              </span>
              <span style="margin-left: 5px;">female</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input fltL">
          <label>Email</label>
          <%= f.email_field :email, :autocomplete=> "off" %>
        </div>
        <div class="sign_up_input">
          <label>Verify Email</label>
          <%= f.email_field :verify_email, :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="sign_up_input fltL">
          <label>Password</label>
          <%= f.password_field :password , :autocomplete=> "off"%>
        </div>
        <div class="sign_up_input">
          <label>Verify Password</label>
          <%= f.password_field :password_confirmation, :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="sign_up_input fltL">
          <label>Security Question</label>
          <%= f.text_field :security_question, :autocomplete=> "off" %>
        </div>
        <div class="sign_up_input">
          <label>Security Answer</label>
          <%= f.text_field :security_answer, :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="sign_up_input">
          <label>Mobile No</label>
          <%= f.telephone_field :mobile_phone , :autocomplete=> "off"%><br />
          <div style="color: black; font-size: 0.9em; line-height: 12px; margin-left: 136px; width: 189px;">Please use international format, i.e. +01234567890</div>
          <div class="clear"></div>
        </div>

        <div class="reqInfo">Optional information</div>
        <div class="sign_up_input">
          <label>Address 1</label>
          <%= f.text_field :address1, :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label>Address 2</label>
          <%= f.text_field :address1, :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label>Zip code</label>
          <%= f.text_field :zip_code, :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label>City of residence</label>
          <%= f.text_field :city , :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label style="margin-right: 13px;">Select Country</label>
          <%= f.select :country, options_from_collection_for_select( Country.all, :printable_name, :printable_name), {:prompt => "Select Country"}, {:style => "width: 207px;"} %>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label>Activity</label>
          <%= f.text_field :activity , :autocomplete=> "off"%>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label>Description</label>
          <%= f.text_area :description, :size => "40x4", :autocomplete=> "off" %>
          <div class="clear"></div>
        </div>
        <div class="sign_up_input">
          <label><%= t(:profile_pic_upload) %></label>
          <%(3 - @user.avatars.size).times { @user.avatars.build }%>
          <%= f.fields_for :avatars do |avatar| %>
            <% if avatar.object.new_record? %>
              <%= avatar.file_field :photo %>
            <% end %>
          <% end %>
        </div>

        <div style="text-align: center; margin-bottom: 30px; margin-top: 42px;">
          <%= f.submit "Save Changes", :class => "search" %>
        </div>
      <% end %>  

      <script type='text/javascript'>
        $("#user_country").chosen();
        $(".dateselect").chosen({search_enabled: false, disable_search_threshold: 100});
        $("#user_date_of_birth").datepicker();
        //$('#user_avatars_attributes_0_photo').customFileInput();
      </script>

    </div>
  </div>

  <script>
    function defineDelete(){
      isChecked = "false";
      jQuery(".checkBoxClass").each(function(){
        alert($(this).checked);
        if($(this).checked == "checked"){
          isChecked = "true";
        }
      });
      if(isChecked == "true"){
        alert('showDelete');

      }else{
        alert('hideDelete');
      }
    }

    function check_request_form(){
      if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy") {
        alert('Please enter response date.');
        return false;
      }
    }


  </script>
