<div class="shadowCont offer">
	<!-- sub-Header -->
	<%= render :partial => "account_header" %>
	<div class="clear"></div>

	<div style="overflow: auto;" id="invitation_div">
	  <%= form_tag "send_invitation", :url => "/send_invitation" , :onsubmit => "return check_email();" do %>
		 <%= hidden_field_tag :user_id, current_user.id %>
		 
		   <div class="xfields"><%= t(:send_invite) %></div>
		   <div class="xfields">
		   	<%= text_field_tag "fname1", nil, "hint" => "First name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "lname1", nil, "hint" => "Last name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "email1", nil, "hint" => "E-mail address", :class => "input", :style => "width: 175px;" %>
		   </div>
		   <div class="xfields">
		   	<%= text_field_tag "fname2", nil, "hint" => "First name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "lname2", nil, "hint" => "Last name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "email2", nil, "hint" => "E-mail address", :class => "input", :style => "width: 175px;" %>
		   </div>
		   <div class="xfields">
		   	<%= text_field_tag "fname3", nil, "hint" => "First name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "lname3", nil, "hint" => "Last name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "email3", nil, "hint" => "E-mail address", :class => "input", :style => "width: 175px;" %>
		   </div>
		   <div class="xfields">
		   	<%= text_field_tag "fname4", nil, "hint" => "First name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "lname4", nil, "hint" => "Last name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "email4", nil, "hint" => "E-mail address", :class => "input", :style => "width: 175px;" %>
		   </div>
		   <div class="xfields">
		   	<%= text_field_tag "fname5", nil, "hint" => "First name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "lname5", nil, "hint" => "Last name", :class => "input", :style => "width: 175px;" %>
		   	<%= text_field_tag "email5", nil, "hint" => "E-mail address", :class => "input", :style => "width: 175px;" %>
		   </div>
		    <div class="xfields" style="margin-top: 10px;">
		   	<%= text_area_tag "message", nil, "hint" => "You can add a message telling your friends how Pop Up Storz is great for finding or renting spaces...", :class => "input", :size => "250x6", :style => "width:63%; font-size: 1em;" %>
		   </div>

			<div class="xfields" style="margin-top: 20px;">
				<div style="float: left;margin-top: 5px;clear:both;">
					<%= submit_tag "Send Invitation", :class=> "search", :style => "font-size: 16px; padding: 3px 10px;" %>
				</div>
			</div>
	  <% end %>
	</div>
</div>

<script type="text/javascript">
      
  function check_email() {
    email1 = $("#email1").val();
    email2 = $("#email2").val();
    email3 = $("#email3").val();
    email4 = $("#email4").val();
    email5 = $("#email5").val();

    var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

    if(email1 != ""){
      if(regex.test(email1) == false){
        alert("Invalid First Email Address.");
        return false;
      }
    }

    if(email2 != ""){
      if(regex.test(email2) == false){
        alert("Invalid Second Email Address.");
        return false;
      }
    }

    if(email3 != ""){
      if(regex.test(email3) == false){
        alert("Invalid Third Email Address.");
        return false;
      }
    }

    if(email4 != ""){
      if(regex.test(email4) == false){
        alert("Invalid Fourth Email Address.");
        return false;
      }
    }

    if(email5 != ""){
      if(regex.test(email5) == false){
        alert("Invalid fifth Email Address.");
        return false;
      }
    }

    if(email1 == "" && email2 == "" && email3 == "" && email4 == "" && email5 == ""){
      alert("Please insert some email addresses first");
      return false;
    }

    return true;
  }
</script>
