<%= form_for :search, :url => "/search_members" do|f|%>
  <div style="width:50%;float: left; border: 1px solid;">
    <b><%= t(:mem_search) %></b>
    <div style="width:90%;float:left;clear:both;margin:10px;">
      <div style="width:20%;float:left;margin-right: 10px;font-weight: bold;"><%= t(:where) %></div>
      <div style="width:70%;float:left;">
          <%= select_tag "search[location]", options_for_select([['Paris','Paris'],['London','London'], ['New York','New York'], ['Worldwide','']])%>
      </div>
    </div>

    <div style="width:90%;float:left;clear:both;margin:10px;">
      <div style="float:left;margin-right: 10px;font-weight: bold;"><%= t(:name_email) %></div>
      <div style="width:65%;float:right;">
        <%= f.text_field "user" %>
      </div>
    </div>

    <div style="width:90%;float:left;clear:both;margin:10px;">
      <div style="width:20%;float:left;margin-right: 10px;font-weight: bold;"><%= t(:type) %></div>
      <div style="width:70%;float:left;">
        <%= select_tag "search[type]", options_for_select([['All',''], ['Fashion Designer','Fashion Designer'], ['Painter','Painter'], ['Jeweler','Jeweler'], ['Photographer','Photographer']]) %>
      </div>
    </div>

    <div style="width:85%;float:left;clear:both;margin:10px;text-align:right;">
      <%= f.submit "Search!" %>
    </div>

  </div>
<% end %>