<div id="get-list-header">
  <h2><%= t(:mem) %></h2>
</div>
<div class="listx-bg">
  <% unless @members.blank? %>
    <% @members.each do | member | %>
      <div class="listx" style="margin-bottom: 10px;border-bottom: 1px solid gray;padding: 10px;">
        <div class="imgx">
          <% if member.avatars.size > 0 %>
            <%= image_tag(member.avatars.first.photo.url(:thumb), :width => "115", :height => "81", :alt => "Space-Photo")  %>
          <% else %>
            <%= t(:no_image_provided) %>
          <% end %>
        </div>

        <div class="name-list">
          <b><%= t(:owner_name) %></b>
          <%=link_to "#{member.first_name + " " + member.last_name}", profile_path(member.id) %>
        </div>

        <div class="name-list">
          <b><%= t(:active2) %></b>
          <%= member.activity %>
        </div>

        <div class="name-list">
          <b><%= t(:city2) %></b>
          <%= member.city %>
        </div>

        <div class="name-list">
          <b><%= t(:country2) %></b>
          <%= member.country %>
        </div>
        <div class="manage-bg">
        </div>
      </div>
    <%end%>
  <%else%>
    <%= t(:no_member_given) %>
  <%end%>
</div>

<div class="btn-bar">

</div>