<h1>Profile</h1>

<div class="existingPaperclipFiles">
  <% if @user.avatars.size > 0 %>
    <% @user.avatars.each  do |avatar| %>
      <%= link_to(image_tag(avatar.photo.url(:thumb)), avatar.photo.url(:original) ) %>
    <% end %>
  <% end %>
</div>

<div style="margin: 5px;">
  <b>First Name:</b>&nbsp;&nbsp;&nbsp;<%= @user.first_name %>
</div>

<div style="margin: 5px;">
  <b>Last Name:</b>&nbsp;&nbsp;&nbsp;<%= @user.last_name %>
</div>

<br/>
<div style="margin: 5px;">
  <% if  (@user.gender == true) then %>
    <b>Gender:</b> &nbsp;Male.
  <%else%>
    <b>Gender:</b> &nbsp;Female.
  <%end%>
</div>
<div style="margin: 5px;">
  <b>Email:</b>&nbsp;&nbsp;&nbsp;<%= @user.email %>
</div>
<br/>
<div style="margin: 5px;">
  <b> City:</b>&nbsp;&nbsp;&nbsp<%= @user.city %>
</div>
<div style="margin: 5px;">
  <b> Country:</b>&nbsp;&nbsp;&nbsp<%= @user.country %>
</div>
<div style="margin: 5px;">
  <b> Activity:</b>&nbsp;&nbsp;&nbsp<%= @user.activity %>
</div>
<br/>

<% if @user.show_fb_info %>
<b>Facebook Info:</b>  <br />
<img src="<%= @user.fb_pic_url %>" /><br />
<b>Work Info:</b>
  <%= @user.works_at %><br /><br />
<b>Educartion Info:</b>
  <%= @user.studied_at %><br /><br />
  <b>Facebook Pages:</b>
  <%= @user.fb_pages %><br /><br />
  <b>Facebook Friends</b>
  <%= @user.fb_friends_count %>
<% end %>


<%if @user==current_user%>
  <li>
    <%= link_to('Edit Profile', edit_user_registration_path) %>
  </li>
<%end%>

<b>Items:</b>
<% items = @user.items %>
<% count = 0 %>
<% items.each do |item| %>  
  <div style="float:left;width: 100%;clear:both;margin-top: 10px;margin-bottom: 5px;">
    Title:  <%= item.title %><br />
    Description:  <%= item.description %><br />
    Price:  <%= item.price.to_s+" "+item.price_unit.to_s %><br />    
    Availability: <%=item.availability_from.strftime("%m/%y")%> - <%=item.availability_to.strftime("%m/%y")%>
    <div style="width:200px;border-bottom: 1px solid black;height:0px;"></div>
    
    <div style="width:100%;float:left;clear:both;margin-bottom: 10px;">
      <h4><label onclick='$("#show_comments_<%= count.to_s %>").toggle();' style="cursor: pointer;">Show Comments</label></h4>
    <div id="show_comments_<%= count.to_s %>" style="display: none;border: 1px solid #606060">
      <b>Comments:</b><br/>
      <%unless item.comments.blank? %>
        <%item.comments.each do|f|%>
          <b><%=f.title  %></b><br/>
          <%= f.comment %><br/>
          <i><%= f.user.first_name %> at <%= f.created_at.strftime("%Y-%m-%d %H:%M:%S") %></i>
          <br/>
          <br/>
        <%end%>
      <% else %>
        No Comments yet!
      <%end%>
    </div>
    </div>
    
    <div style="width:100%;float:left;clear:both;margin-bottom: 10px;">      
      <h4><label onclick='$("#show_rating_<%= count.to_s %>").toggle();' style="cursor: pointer;">Show Rating</label></h4>
      <div id="show_rating_<%= count.to_s %>" style="display: none;border: 1px solid #606060;height:250px;padding-left: 10px;width:500px;">
        <b>Ratings</b>
        <%= render :partial => "/ratings/rating", :locals => { :asset => item, :only_view => false } %>
      </div>
    </div>

  </div>
  <% count += 1 %>
<% end %>

<% if current_user != @user %>
  <div id="store-btn">
    <%= link_to_function "Send Message", "$('#contact_me_div').toggle('slow');", :class => "send"  %>
  </div>
<% end %>
<div style="float: left;width: 100%;margin-top: 10px;display: none;" id="contact_me_div">
  <%= form_tag contact_me_messages_path , :html => {:id => "contact_me_form"}, :remote  => true do %>
    <%= hidden_field_tag :topic, "Inquiry" %>
    <%= hidden_field_tag :user_id, @user.id %>
    <span style="width: auto;float: left;">
      <%= text_area_tag  :body, "", :style => "width:450px;height:150px;" %>
    </span>
    <div style="float: left;margin-top: 5px;clear:both;">
      <%= submit_tag "Send" %>&nbsp;&nbsp;&nbsp;<%= link_to_function "Cancel", "$('#contact_me_div').toggle('slow');"  %>
    </div>
  <% end %>
</div>
