<h1>Profile</h1>

<div class="existingPaperclipFiles">
  <% if @user.avatars.size > 0 %>
    <% @user.avatars.each  do |avatar| %>
      <%= link_to(image_tag(avatar.photo.url(:thumb)), avatar.photo.url(:original) ) %>
    <% end %>
  <% end %>
</div>

<div style="margin: 5px;">
  <b>First Name:</b>&nbsp;&nbsp;&nbsp;<%= @user.first_name %>
</div>

<div style="margin: 5px;">
  <b>Last Name:</b>&nbsp;&nbsp;&nbsp;<%= @user.last_name %>
</div>
<br/>
<div style="margin: 5px;">
  <% if  (@user.gender == true) then %>
    <b>Gender:</b> &nbsp;Male.
  <%else%>
    <b>Gender:</b> &nbsp;Female.
  <%end%>
</div>
<div style="margin: 5px;">
  <b>Email:</b>&nbsp;&nbsp;&nbsp;<%= @user.email %>
</div>
<br/>
<div style="margin: 5px;">
  <b> City:</b>&nbsp;&nbsp;&nbsp<%= @user.city %>
</div>
<div style="margin: 5px;">
  <b> Country:</b>&nbsp;&nbsp;&nbsp<%= @user.country %>
</div>
<div style="margin: 5px;">
  <b> Activity:</b>&nbsp;&nbsp;&nbsp<%= @user.activity %>
</div>
<br/>
<%if @user==current_user%>
  <li>
    <%= link_to('Edit Profile', edit_user_registration_path) %>
  </li>
<%end%>
