<style>
  .blockParts, .blockParts2{
    font-size: 16px; 
    /*font-weight: bold; */
    font-family: proxima-bold;
    padding-bottom: 1em;
  }

  .blockParts2{
    float: left;
    /*padding-top: 1em;*/
  }
</style>
<div class="shadowCont" style="margin-top:1em;">
  <div id="viewProfileSummary" style="height: 100px;">
    <div style="width: 150px; height: 100%; float:left;">			
      <% if @user.avatars.size > 0 %>
        <% @user.avatars.each  do |avatar| %>
          <%= link_to(image_tag(avatar.photo.url(:thumb)), avatar.photo.url(:original) ) %>
        <% end %>
      <% end %>
    </div>
    <div style="float:left; margin-left: 1em; margin-bottom: 2em; width: 75%">
      <label style="font-family: proxima-bold; font-size: 16px;"><%= @user.full_name %></label> 
      <br/>
      <label style="font-family: proxima-semibold; ">
        <%= @user.activity %>
      </label>
      <br/>
      <br/>
      <label style="font-family: XXII; "><%= @user.city %></label>
      <br/>
      <br/>
      <div>
        <%= @user.description %>
      </div>
    </div>
  </div>
</div>

<div style="height:1000px;">
  <div class="shadowCont" style="float:left; width:30%; height: 1008px; margin-top:1em;">
    <span class="blockParts2"><%= t(:rating_comment) %></span>
    <br/>
    <br/>
    <div id="viewRatings" style="height:200px; border-top: 1px solid grey; border-bottom: 1px solid grey;">
      <div class="clear">&nbsp;</div>			
      <div style="width: 30%; height: 100px; margin-top:2px; border:1px solid black; float:left;">			
        <% if @user.avatars.size > 0 %>
          <% @user.avatars.each  do |avatar| %>
            <%= link_to(image_tag(avatar.photo.url(:thumb), :width => "100%", :height => "100%"), avatar.photo.url(:original) ) %>
          <% end %>
        <% end %>
      </div>
      <div style="margin-left: 7em;">
        <span >
          <ul class='star-rating'>
            <% if !(user_signed_in?) %>
              <li class="current-rating" style="width:<%= ( @user.accuracy_rating * 20).to_i -%>px;"></li>
            <% else %>
              <li class='current-rating' style='width:<%= ( @user.accuracy_rating * 20).to_i -%>px;'></li>
            <% end %>
          </ul>
        </span>	
        <br/>
<%#*<label style="font-family:proxima-semibold; color:purple;"><%= "@item.title" %>
<%#*</label>%>
<%#*<br/>%>
<%#*<label><%= "@item.date" %>
<%#*</label>%>
<%#*<br/>%>	
<%#*<br/>%>
<%#*<label style="font-family:proxima-bold;"><%= "@item.name" %>
<%#*</label>%>
<%#*<br/>%>
<%#*<label style="font-family:proxima;"><%= "@item.activity" %>
<%#*</label>%>
<%#*<br/>%>
<%#*<label style="font-family: XXII; "><%= "@item.city" %>
<%#*</label>%>
      </div>	
      <br/>
<%#*<div style="width:100%;">%>
<%#*<p>%>
<%#= "@item.comments" %>
<%#*</p>%>
<%#*</div>%>
    </div>
  </div>

  <div class="shadowCont" style="float:right;width:60%;height: 30%; margin-top:1em;">
    <span class="blockParts2"><%= t(:item2) %></span>
    <br/>
    <br/>
    <% items = @user.items %>
    <% count = 0 %>
    <% items.each do |item| %>

      <div id="viewListing" style="height:125px; border: 1px solid grey;">
        <div class="clear">&nbsp;</div>			
        <div style="width: 30%; height: 90px; margin-top:2px; margin-left:2px; border:1px solid black; float:left;">			
          <% if item.avatars.size > 0 %>
            <%= link_to image_tag(item.avatars.first.photo.url(:thumb), :width => "100%", :height => "100%", :alt => "Space-Photo"), item_path(item.id) %>
          <% else %>
            <%= t(:no_image_provided) %>
          <% end %>
        </div>
        <div style="margin-left: 7em;">
          <label style="font-family:proxima-semibold;padding-left:2px;">
            <%= link_to item.title, item_path(item) %>
          </label>
          <div id="show_rating_<%= count.to_s %>" style="display: none;border: 1px solid #606060;height:250px;padding-left: 10px;width:500px;">
            <b><%= t(:rate) %></b>
            <%= render :partial => "/ratings/rating", :locals => { :asset => item, :only_view => false } %>
          </div>
  <%#*<span style="padding-left:2px;">%>
  <%#= render :partial => "/items/favorite", :locals => {:item => item} %>
  <%#*</span>%>
          <br/>
          <label style="font-family: XXII; padding-left:2px;"><%= item.city %></label>
        </div>
        <br/>
        <div>
          <label style="font-family:proxima-bold;color:grey; float:right; padding-right:2px;">
            <%= item.price.to_s+" "+item.price_unit.to_s %>
          </label>
          <br/>			
          <label style="font-size:12px;color:grey; float:right;padding-right:2px;">
            <%= item.availability_from.blank? ? "" : item.availability_from.strftime("%m/%y")%> - <%=item.availability_to.blank? ? "" :item.availability_to.strftime("%m/%y")%>
          </label>
          <br/>
          <label style="font-family:proxima-bold; color:purple; float:right;padding-right:2px;">
            <%= link_to t(:book_it),item_path(item) %>
          </label>
        </div>
      </div>
    <% end %>
  </div>

  <div class="shadowCont" style="float:right; width:60%;height: 30%; margin-top:1em;" >
    <span class="blockParts2"><%= t(:coming_booking) %></span>	
    <br/>
    <br/>
    <% unless @gatherings.blank? %>
      <div id="viewUpcoming" style="height:125px; border: 1px solid grey;">
        <div class="clear">&nbsp;</div>

        <% @gatherings.each do | offer | %>
          <% item = offer.item %>

          <div style="width: 30%; height: 90px; margin-top:2px; margin-left:2px; border:1px solid black; float:left;">			
            <% if item.avatars.size > 0 %>
              <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "100%", :height => "100%", :alt => "Space-Photo")  %>
            <% else %>
              <%= t(:no_image_provided) %>
            <% end %>
          </div>
          <div style="margin-left: 7em;">
            <label style="font-family:proxima-semibold;padding-left:2px;">
              <%= item.title %>
            </label>
            <br/>
            <label style="font-family: XXII; padding-left:2px;">
              <%= item.city %>
            </label>
            <br/>
            <br/>			
            <br/>		
            <label style="color:grey;  padding-left:2px;">
              <% joined = GatheringMember.where("status = 'Approved' and offer_id = #{offer.id}") %>
              <% if offer.status == "Accepted - Payment pending" or offer.status == "all joinings approved" or offer.status == "Accepted - Confirmation pending" or offer.status == "joinings approved" or offer.status == "Applied" or offer.status == "confirmed" %>
                <% if joined.size.to_i < offer.persons_in_gathering.to_i or offer.cancellation_date.blank? %>
                  <%= t(:creating) %>
                <% else %>
                  <%= t(:applied) %>
                <% end %>
              <% else %>
                <%= offer.status %>
              <% end %>
            </label>
            <br/>				
            <label style="color:grey; padding-left:2px;">
              <%= offer.rental_start_date.strftime("%m-%d-%Y") %> - <%= offer.rental_end_date.strftime("%m-%d-%Y") %>
            </label>
          </div>

        <% end %>
      </div>
    <% else %>
      <br />
      <span style="float: left;margin-left:-150px;">
        <%= t(:no_bookings) %>
      </span>
    <% end %>
  </div>

  <div class="shadowCont" style="float:right; width:60%;height: 30%; margin-top:1em;">
    <span class="blockParts2"><%= t(:favorites) %></span>
    <br/>
    <br/>
    <% favorites = @user.favorites %>
    <% unless favorites.blank? %>
      <div id="viewFavorites" style="height:125px; border: 1px solid grey;">
        <div class="clear">&nbsp;</div>			
        <% favorites.each do |item| %>
          <div style="width: 30%; height: 90px; margin-top:2px; margin-left:2px; border:1px solid black; float:left;">			
            <% if item.avatars.size > 0 %>
              <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "100%", :height => "100%", :alt => "Space-Photo")  %>
            <% else %>
              <%= t(:no_image_provided) %>
            <% end %>
          </div>
          <div style="margin-left: 7em;">
            <label style="font-family:proxima-semibold;padding-left:2px;">
              <%= item.title %>
            </label><span style="padding-left:2px;">
    <%#= "@item.favorite" %>
            </span>
            <br/>
            <label style="font-family: XXII; padding-left:2px;">
              <%= item.city %>
            </label>
          </div>
          <br/>
          <br/>
          <div>
            <label style="font-family:proxima-bold;color:grey; float:right; padding-right:2px;">
              <%= item.price.to_s+" "+item.price_unit.to_s %>
            </label>
            <br/>			
            <label style="font-size:12px;color:grey; float:right;padding-right:2px;">
              <%= item.availability_from.blank? ? "" : item.availability_from.strftime("%m-%d-%Y") %> - <%= item.availability_to.blank? ? "" : item.availability_to.strftime("%m-%d-%Y") %>
            </label>
          </div>
        <% end %>
      </div>      
    <% else %>
      <br />
      <span style="float: left;margin-left:-65px;">
        <%= t(:no_favorities) %>
      </span>
    <% end %>
  </div>
</div>


<script>


  function defineDelete(){
    isChecked = "false";
    jQuery(".checkBoxClass").each(function(){
      alert($(this).checked);
      if($(this).checked == "checked"){
        isChecked = "true";
      }
    });
    if(isChecked == "true"){
      alert('showDelete');

    }else{
      alert('hideDelete');
    }
  }

  function check_request_form(){
    if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy") {
      alert('Please enter response date.');
      return false;
    }
  }


</script>
