
<%= form_for :feedback, :url => "/home/send_feedback", :html => {:onsubmit => "return check_form()"} do|f| %>
<label>Your Feedback**</label>
<%= f.text_field "suggestion" %>
<br /><br />
<label>Tell us about it *</label>
<%= f.text_area "description" %>
<br /><br />
<div style="width: 100%;float: left;clear: both;">
  <div style="width:48%;float:left;">
    <label>Name*</label>
    <% full_name = "#{current_user.first_name.to_s}" + " " + "#{current_user.last_name.to_s}" %>    
    <%= f.text_field "user_name", :value => full_name, :readonly => true %>
  </div>
  <div style="width:48%;float:left;margin-left: 10px;">
    <label>Your Email Address*</label>
    <%= f.text_field "email", :value => current_user.email, :readonly => true %>
  </div>
</div>
<%= f.submit "Submit" %>
<% end %>


<script type="text/javascript">
  function check_form(){
    if($("#feedback_suggestion").val() == ""){
      alert("Feedback suggestion can't be blank!");
      return false;
    }
    if($("#feedback_description").val() == ""){
      alert("Feedback description can't be blank!");
      return false;
    }    
    return true;
  }
</script>