<div class="home">

  <div class="img-heading">
    <img src="../assets/img-heading.png" alt="" />
  </div>

  <h2 class="" style="color: #cc33cc; font-size: 21px; margin-bottom: 40px; font-family: proxima-bold; font-weight:normal;">Find your next pop-up store and set it up on your own or with other people</h2>

  <div class="paris_hold">
    <%= form_tag "/searches/spaces", :method => :get  do %>
      <%= select_tag( "location", options_from_collection_for_select( @items_with_uniq_cities, :city, :city), :prompt => "Select City", :class => "paris") %>
      <span style="margin-left: 15px;">From</span>
      <%= text_field_tag :search_from, nil, :style => "height: 23px;", "hint" => "mm/dd/yyyy" %>
      <span style="margin-left: 15px;">To</span>
      <%= text_field_tag :search_to, nil, :style => "height: 23px;", "hint" => "mm/dd/yyyy" %>
      <%= submit_tag "Search", :class => "search", :style => ""  %>
    <% end %>
  </div>
  
  <div class="clear"></div>

  <div class="gellaryHold" >
    <ul id="mycarousel" class="jcarousel-skin-tango">
      <% @items.each do |item| %>
        <li>
          <div class="g_hold">
            <div style="margin-bottom:2px;">
              <% if item.avatars.size > 0 %>
                <% avatar = item.avatars.first %>
                <%= link_to(image_tag(avatar.photo.url(:thumb, :style=>["width:125px;height:125px;"])), item_path(item), :class => "item_image", :width => "133px" ) %>
              <% else %>
                <%= image_tag("PUS_Logo.jpg", :border => "0", :alt => "image", :class => "item_image" )  %>
              <%end%>
            </div>
            </label>
            <p style="font-family: XXII; color: black;">
              <%= item.city %>, <%= item.country_code %>
            </p>
            <% if item.is_shareable == true %>
              <div class="shareableHome" style="float: left;"> </div>
              <div style="float: left;margin-left: 5px;margin-top: 10px;color: #00CCCC">
                <%= t(:shareable) %>
              </div>
            <% end %>
            <h6><%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %></h6>
            <br/>			 
            <div class="clear"></div>
            <label style="float:right; color: #666666; font-family:proxima-semibold;">per day</label>
            <div class="clear"></div>
          </div>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<!--div class="clear"></div-->

<!--div class="paris_hold mt30" style="padding: 20px; margin-left: 35px;">
    <h1 class="text_he">Ideas, suggestions? We would love your <samp><b>FEEDBACK!</b></samp></h1>
  </div>
</div-->

<!--div class="fltR mt10 w390 mr100">
  <div class="play_hold">
    <h1>Look how designers, artists and <br />
      owners of free spaces connect:</h1>
    <img src="../assets/play.png" alt="" />
  </div>
</div>
<div class="clear"></div-->

<script type="text/javascript">
  $(document).ready(function() {
    // Carousel
    $('#mycarousel').jcarousel({
      wrap: 'circular'
    });
    
    // Choser
    $('#location').chosen();
    
    // Date picker
    $('#search_from').datepicker( {
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {        
        $('#search_to').datepicker('option', {minDate: $(this).datepicker('getDate')});
      }});
    $('#search_to').datepicker( {
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {
        $('#search_from').datepicker('option', {maxDate: $(this).datepicker('getDate')});
      }});
  });
</script>

<%#*<h2>%>
<%#= number_to_currency(currency_conversion(1)) %>
<%#*</h2>%>
<%#*<iframe id="tmcmini" src="http://themoneyconverter.com/MoneyConverter.aspx?from=GBP&amp;to=pkr" style="width: 185px; height: 210px; border: none; background-color: #ffffff;" marginwidth="0" marginheight="0" frameborder="0" scrolling="no">%>
<%#*</iframe>%>
