<script type="text/javascript">

  jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
      wrap: 'circular'
    });
  });

</script>
<div class="cont_heading">Spaces to rent</div>
<div class="gellaryHold">
  <ul id="mycarousel" class="jcarousel-skin-tango">
    <% @items.each do |item| %>
      <li>
        <div class="g_hold">
          <div style="height: 101px;">
            <% if item.avatars.size > 0 %>
              <% avatar = item.avatars.first %>
              <%= link_to( image_tag(avatar.photo.url(:thumb, :style=>["width:125px;height:125px;"])), item_path(item), :class => "item_image", :width => "133px" ) %>
            <% else %>
              <%= image_tag("PUS_Logo.jpg", :border => "0", :alt => "image", :class => "item_image" )  %>
            <%end%>
          </div>
          <h1><%=item.city%>, <%=item.country_code%></h1>
          <p><%=item.availability_from.strftime("%m/%y")%> - <%=item.availability_to.strftime("%m/%y")%></p>

          <h5>2/3</h5>
          <h6><%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %></h6>
          <div class="clear"></div>
        </div>
      </li>
    <%end%>
  </ul>


</div>

<div class="clear"></div>
<div class="img-heading">
  <img src="../assets/img-heading.png" alt="" />
</div>
<div class="fltL mt30 w370" style="width: 410px;">
  <div class="paris_hold ml40" style="margin-left: 65px; margin-right: 40px;">

    <%= form_tag "/items/search_keyword", :method => :get  do %>
      <%= select_tag( "location", options_from_collection_for_select( @items_with_uniq_cities, :city, :city), :prompt => "Select City", :class => "paris") %>
      <div class="fltL start_time">
        <p>From</p>
        <%=  text_field_tag :search_from %>
      </div>
      <div class="fltR start_time">
        <p>To</p>
        <%=  text_field_tag :search_to %>
      </div>
      <div class="clear"></div>
      <%= submit_tag "Search", :class => "search", :style => "margin-left: 60px;"  %>

      <div class="clear"></div>
    </div>
  <% end %>

  <script type="text/javascript">
    $('#search_from').datepicker(   
    {
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {        
        $('#search_to').datepicker('option', {minDate: $(this).datepicker('getDate')});
    }});
    $('#search_to').datepicker({
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {
        $('#search_from').datepicker('option', {maxDate: $(this).datepicker('getDate')});
    }});
  </script>

  <div class="paris_hold mt30" style="padding: 20px; margin-left: 35px;">
    <h1 class="text_he">Ideas, suggestions? We would love your <samp><b>FEEDBACK!</b></samp></h1>

  </div>
</div>
<div class="fltR mt10 w390 mr100">
  <div class="play_hold">
    <h1>Look how designers, artists and <br />
      owners of free spaces connect:</h1>
    <img src="../assets/play.png" alt="" />
  </div>
</div>

<div class="clear"></div>

<%#*<h2>%>
<%#= number_to_currency(currency_conversion(1)) %>
<%#*</h2>%>
<%#*<iframe id="tmcmini" src="http://themoneyconverter.com/MoneyConverter.aspx?from=GBP&amp;to=pkr" style="width: 185px; height: 210px; border: none; background-color: #ffffff;" marginwidth="0" marginheight="0" frameborder="0" scrolling="no">%>
<%#*</iframe>%>
