<script type="text/javascript">
  var lastjavascripthash='';
  $(document).ready(function(){
    if($("#is_confirm_terms").attr('checked') == "checked"){
      window.location.replace("<%= root_path %>");
    }
  });
  jQuery(function() {
    var payment;

    jQuery(function() {
      Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
      return payment.setupForm();
    });

    payment = {
      setupForm: function() {
        return $('#payForm').submit(function() {
          if($('#is_confirm_terms').is(':checked')){
            $('input[type=submit]').attr('disabled', true);
            payment.processCard();
            return false;
          }else{
            alert('Please confirm the terms of use firs, thanks.');
            return false;
          }
        });
      },
      processCard: function() {
        var card;
        card = {
          number: $('#card_number').val(),
          cvc: $('#card_code').val(),
          expMonth: $('#card_month').val(),
          expYear: $('#card_year').val()
        };
        return Stripe.createToken(card, payment.handleStripeResponse);
      },
      handleStripeResponse: function(status, response) {
        if (status === 200) {
          $('#payment_stripe_card_token').val(response.id);
          return $('#payForm')[0].submit();
        } else {
          $('#stripe_error').text(response.error.message);
          return $('input[type=submit]').attr('disabled', false);
        }
      }
    };

  });
</script>
<div id="hd-result">
  <div class="container_12">
    <div id="r-nav" class="grid_9">
      <a href='#' class="back " onclick='history.go(-1);return false;'>&lt;&lt; <%= t(:back) %></a>
    </div>
    <div class="grid_3"> &nbsp; </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>

<div id="booking-content">
  <div class="container_12 shadowCont" >
    <%= form_for [@item,@offer, @payment], :html => {:id => :payForm, :onsubmit => "return checkTerms();"} do |f| %>
      <div style="padding: 20px;float: left;">
        <% if @payment.errors.any? %>
          <div class="error_messages">
            <h2><%= pluralize(@payment.errors.count, "error") %> <%= t(:prohibited) %></h2>
            <ul>
              <% @payment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="grid_12">        
        <div class="clear">&nbsp;</div>
        <span style="text-transform: uppercase;font-size: 1.2em;font-weight: bold;">
          <%= t(:location2) %>
        </span>
        <div id="details-panel">          
          <% unless @item.avatars.blank? %>
            <%= image_tag(@item.avatars.first.photo.url(:large), :width => "280", :height => "200", :align => "left", :style => "padding-right:20px;" , :alt => "no image available") %>
          <%end%>
          <span style="font-size: 1.8em;">
            <b>
              <%= link_to @item.title, item_path(@item) %>
            </b>
          </span><br />
          <span style="color:#666666;font-size: 15px;">
            <b>
              <%= @item.listing_type.blank? ? "#{t(:other)}" : @item.listing_type.name %>
            </b>
          </span>

          <span style="display: block; font-family: XXII; font-size: 1.2em; margin-top: 4px; text-transform: uppercase;">
            <% addr = @item.address.gsub(/\d/,'') %>
            <% addr = addr.split(",") %>
            <%= addr[0] %>
            <%= @item.zipcode %>
            <%= addr[1].blank? ? " " : " , "+addr[1] %>
            <%= addr[2].blank? ? " " : " , "+addr[2] %>
          </span>
          <div class="clear">&nbsp;</div>
        </div>

        <div style="float:left;width:100%;margin-top: 20px;text-transform: uppercase;">
          <h3><%= t(:payment) %></h3>
          <div class="clear"></div>
          <br />
        </div>
        <div id="booking-form">
          <% if @offer.is_gathering %>
            <% rentareto_fee = @offer.gathering_rental_price.blank? ? 0 : (( (@offer.gathering_rental_price * 10 ) / 100).round ) %>
            <% owner_amount = @offer.gathering_rental_price.blank? ? 0 : (@offer.gathering_rental_price).round %>

            <% total_amount = rentareto_fee + owner_amount %>
            <%= f.hidden_field :rentareto_fee, :value => rentareto_fee %>
            <%= f.hidden_field :seller_amount, :value => owner_amount %>
            <br/>            
          <% else %>
            <% rentareto_fee = @offer.total_amount.blank? ? 0 : (( @offer.total_amount * 10 ) / 100 ) %>
            <% owner_amount = @offer.total_amount.to_f %>
            <% total_amount = rentareto_fee.to_i + owner_amount %>
            <%= f.hidden_field :rentareto_fee, :value => rentareto_fee %>
            <%= f.hidden_field :seller_amount, :value => owner_amount %>
            <br/>            
          <% end %>

          <%= f.hidden_field :seller_id, :value => @item.user_id %>
          <%= f.hidden_field :renter_id, :value => current_user.id  %>
          <%= f.hidden_field :offer_id, :value => @offer.id  %>
          <br/>

          <div style="float: left;width: 100%;" class="field">
            <span style="float: left; margin-right: 5px;">
              <h4 style="float: left;width: 175px;margin-top: 15px;color: #666666;font-size: 1.2em;">
                <%= t(:amount_to_be_paid)+": " %>
              </h4>
              <div style="color:#666666;float: left;font-weight: bold;font-size: 1.2em;width: 15px;margin-top: 14px;">
                <%= @offer.current_currency == "USD" ? "$" : "€" %>
              </div>
              <%= f.text_field :amount, :value => total_amount, :readonly => true, :style => "background-color:#FFFFFF;border:0px;border-radius:0px;box-shadow:0 0px 0px #FFFFFF, 0 0px 0 #BBBBBB inset;font-weight: bold;margin-left:-5px;color:#666666;font-size:1.2em;float:left;width:75px;" %>
            </span>
            <span style="font-weight: bold;margin-top: 15px;color: #999999; display: inline-block; font-size: 0.9em; line-height: 14px; text-align: center; float: left;">You will be charged only if the owner accepts your booking</span>
          </div>
          <div style="width: 100%;float: left;margin-top: 20px;color:#666666;">
            <label style="width: 150px;float: left;margin-top: 10px;">
              <%= t(:credit_card_number)+": " %>
            </label>
            <%= text_field_tag :card_number, "4242424242424242", name: nil %>
            <br/><br/>
            <label style="width: 150px;float: left;margin-top: 10px;">
              Security Code (CVV): </label>
            <%= text_field_tag :card_code, "123", name: nil%>
            <br/><br/>
            <label style="width: 150px;float: left;margin-top: 10px;">Expiry Date: </label>
            <select name="date[month]">
              <% for i in 1..12 %>
                <option value="<%= i %>"><%= i %></option>
              <% end %>
            </select>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
            <br/><br/>

            <div style="float: left;border: 2px solid #CC33CC;">
              <%= check_box_tag "is_confirm_terms" %>
            </div>
            <div style="float: left;width: 80%;margin-left: 10px;">
              <%= t(:by_accepting) %>
              <%= t(:and) %>
              <b>
                <%= link_to t(:popup_terms), "/home/terms" %>
              </b>
            </div>
            <br/><br/>
            <% if @offer.is_gathering and @offer.persons_in_gathering.to_i > 0 %>
              <%= f.submit "Confirm Application", :class => "search" %>
            <% else %>
              <%= f.submit "Send offer", :class => "search" %>
            <% end %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function checkTerms(){
    if($("#is_confirm_terms").attr('checked') == "checked"){
      return true;
    }
    else{
      alert("You have to agree with terms and conditions first!");
      return false;
    }
  }
</script>