<% offers.each do | gathering | %>
  <% item = gathering.item%>
  <div class="listx" style="border-bottom: 1px solid gray;">
    <div class="row" style="float:left; width: 732px;padding: 5px;">
      <div class="row" style="float:left; width: 732px;" onclick="window.location='<%= "/offers/#{gathering.id}" %>'">

        <div class="imgx">
          <% if item.avatars.size > 0 %>
            <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "178", :height => "119", :alt => "Space-Photo")  %>
          <% else %>
            <%= image_tag("empty.png", :width => "178", :height => "119", :alt => "Space-Photo")  %>
          <% end %>
        </div>

        <div style="color: #666666; float: right; font-size: 26px;text-align: right;">
          <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
          <br />
          <span class="perweek" style="font-size: 0.7em;">per person (todo)
          </span></div>

        <div class="name-list" style="margin-bottom: 5px; font-family: proxima-bold; color:#333333;">
          <h4><%= item.title %></h4>
        </div>

				 <div class="name-list XXII" style="margin-bottom: 5px;">
          <span style="font-size: 1.1em; font-variant: small-caps; ">
          	<%= item.city %></span>,<span style="font-size: 1.1em; text-transform: uppercase; "><%= item.country_code %>
          </span>
        </div>        
        
        <div class="name-list" style="margin-bottom: 5px; font-family: proxima-bold float:left;width:65%;color:#666666;">
          <%= item.listing_type.name %>
        </div>

        

        <div class="name-list" style="font-family: proxima-bold; color: #666666;"><%= item.type %></div>
        <div class="name-list" style="margin-bottom: 5px;width: 70%;float: left;">
          
        </div>

      </div>
      <div id="favorite_div_<%= item.id %>" style="margin-top: 17px; color: grey;">
        
        <% unless current_user.blank? %>
          <% if gathering.members.size.to_i < gathering.persons_in_gathering.to_i && gathering.user_id != current_user.id %>
            <% if !gathering.members.include?(current_user) %>
              <%= link_to "Join this pop'union", "/join_gathering/#{gathering.id}", :class => "linkAddRmFavorite" %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <a class="info"></span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
<%end%>

