<% @gatherings.each do | gathering | %>
  <div style="float: left;clear:both;width:100%;">
    <% item = gathering.item%>

    <div class="listx" style="margin-bottom: 20px;border-bottom: 1px solid gray;padding: 10px;float:left;clear: both;">

      <div class="imgx">
  <%#=  check_box_tag "items[]", item.id, false, {:id => "items_#{item.id}", :class => "checkBoxClass", :onclick => "defineDelete();"} %>
        <% if item.avatars.size > 0 %>
          <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "115", :height => "81", :alt => "Space-Photo")  %>
        <% else %>
          NO IMAGE PROVIDED YET.
        <% end %>
      </div>

      <div class="name-list" style="margin-bottom: 5px;"><h4><%= item.title %></h4></div>
      <div class="name-list" style="margin-bottom: 5px;"><b>Location: </b><%= item.address %></div>


      <div class="name-list" style="margin-bottom: 5px;">
        <b>Price: </b>
        <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/day,
        <%= number_to_currency(exchange_currency(item.price_per_week.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/week,
        <%= number_to_currency(exchange_currency(item.price_per_month.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/month.
      </div>



      <div>
        Start Date: <%= gathering.rental_start_date.strftime("%m-%d-%Y") %><br />
        End Date: <%= gathering.rental_end_date.strftime("%m-%d-%Y") %><br />
        Total required Persons: <%= gathering.persons_in_gathering %><br />
        Joined Persons: <%= gathering.members.size %><br/>
        Rental Price per person: <%= gathering.gathering_rental_price %><br />
        Gathering Description: </b><%= gathering.gathering_description %><br/>
        Gathering Deadline: <%= gathering.gathering_deadline.blank? ? '' : gathering.gathering_deadline.strftime("%m-%d-%Y") %><br /><br /><%= link_to "Details", "/offers/#{gathering.id}" %><br/><br/>
        <% unless current_user.blank? %>
          <% if gathering.members.size.to_i < gathering.persons_in_gathering.to_i && gathering.user_id != current_user.id %>
            <% if !gathering.members.include?(current_user) %>
              <%= link_to "Join", "/join_gathering/#{gathering.id}" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<%end%>