<div class="listx-bg">
  <div class="sortby">    
    <%= select_tag "sort_option_sel", options_for_select([[t("newest_sort"),"4"],[t("oldest_sort"),""],[t("price_high_low") ,"2"],[t("price_low_high"), "3"]], params[:sort_option]), :prompt => "Sort By",:onchange => "$('#sort_option').val($(this).val());$('#price_range_form').trigger('submit.rails')" %>
    <span style="float:right;">
      <%= will_paginate(@gatherings, :params => params, :renderer => PaginationListLinkRenderer) %>
    </span>
  </div>
</div>
<div class="resultsholderlist shadowCont">
  <% offers.each do | gathering | %>
    <% item = gathering.item %>
    <div class="listx" style="border-bottom: 1px solid gray;">
      <div class="row" style="float:left; width: 732px;padding: 5px;">
        <div class="row" style="float:left; width: 732px;">

          <div class="imgx" onclick="window.location='<%= "/offers/#{gathering.id}" %>'">
            <% if item.avatars.size > 0 %>
              <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "178", :height => "119", :alt => "Space-Photo")  %>
            <% else %>
              <%= image_tag("empty.png", :width => "178", :height => "119", :alt => "Space-Photo")  %>
            <% end %>
          </div>

          <div style="color: #666666; float: right; font-size: 26px;text-align: right;" onclick="window.location='<%= "/offers/#{gathering.id}" %>'">
            <%#= number_to_currency(exchange_currency(gathering.gathering_rental_price.round, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            <%#*<br />%>
            <%#*<span class="perweek" style="font-size: 0.7em;">%>
              <%#= t(:per_person2) %>
            <%#*</span>%>
            <% if gathering.is_gathering and gathering.persons_in_gathering.to_i > 0 %>        
                <% if session[:curr] == gathering.current_currency %>            
                  <%= gathering.current_currency == "USD" ? "$" : "€" + " "%>
                  <%= gathering.gathering_rental_price.round.to_s %>
                <% else %>
                  <%= number_to_currency(exchange_currency(gathering.gathering_rental_price.round,  gathering.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
                <% end %>
              <% else %>
                <% if session[:curr] == gathering.current_currency %>            
                  <%= gathering.current_currency == "USD" ? "$" : "€" %>
                  <%= gathering.total.round.to_s %>
                <% else %>
                  <%= number_to_currency(exchange_currency(gathering.total.round, gathering.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
                <% end %>
              <% end %>
              <br />
              <span style="font-size: 0.7em;">
                <%if gathering.is_gathering or gathering.persons_in_gathering.to_i > 0%>
                  <%= t(:per_person2) %>
                <% else %>
                  <%= t(:total_rental_price) %>
                <% end %>
              </span>
          </div>

          <%#if !gathering.is_gathering or gathering.persons_in_gathering.to_i <= 0 %>          
            <%#*<div style="color: #999999; float: right; text-align: right;" onclick="window.location='%>
<%#= "/offers/#{gathering.id}" %>
              <%#*Total Rental Price:%> 
              <%#= number_to_currency(exchange_currency(gathering.total_amount.round, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            <%#*</div>%>
          <%# end %>


          <div class="name-list" style="margin-bottom: 5px;font-family: proxima-bold;color: #333333;">
            <h4 style="float:left;" onclick="window.location='<%= "/offers/#{gathering.id}" %>'"><%= item.title %></h4>            
          </div><br />

          <div class="name-list" style="margin-bottom: 5px; font-family: proxima-bold float:left;width:55%;float: left;color:#666666;" onclick="window.location='<%= "/offers/#{gathering.id}" %>'">
            <%= item.listing_type.blank? ? "#{t(:other)}" : item.listing_type.name %>
          </div>

          <div class="name-list XXII" style="margin-bottom: 5px;float: left;" onclick="window.location='<%= "/offers/#{gathering.id}" %>'">
            <span style="font-size: 1.1em; font-variant: small-caps; ">
              <%= item.city %></span>,
            <span style="font-size: 1.1em; text-transform: uppercase; ">
              <%= item.country_code %>
            </span>
          </div>


          <div onclick="window.location='<%= "/offers/#{gathering.id}" %>'" class="name-list" style="font-family: proxima-bold; color: #666666;">
            <%= item.type %>
          </div>

          <div class="name-list" style="margin-bottom: 5px;width: 72%;float: left;margin-top: 40px;">
            <div style="float: left;width: 75%">
              <%= t(:gathering) %><%= gathering.persons_in_gathering %>&nbsp;<%= t(:persons) %>&nbsp;<br />
              <%= gathering.rental_start_date.strftime("%Y-%m-%d") %> - <%= gathering.rental_end_date.strftime("%Y-%m-%d") %>
            </div>

            <div id="favorite_div_<%= item.id %>" style="color: grey;float: left;">
              <% unless current_user.blank? %>
                <% if gathering.members.size.to_i < gathering.persons_in_gathering.to_i && gathering.user_id != current_user.id %>
                  <% if !gathering.members.include?(current_user) %>
                    <%= link_to "Join this pop'union", "/join_gathering/#{gathering.id}", :class => "linkAddRmFavorite" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>



        </div>
        <a class="info"></span>
        </a>
      </div>
      <div class="clear"></div>
    </div>
  <%end%>

</div>