<div class="listx-bg">
  <div class="sortby">
    <span style="font-family:proxima-semibold;"><%= t(:sort_by) %></span>
    <%= select_tag "sort_option_sel", options_for_select([[t("newest_sort") ,"1"],[t("price_high_to_low") ,"2"],[t("price_low_to_high"), "3"]], params[:sort_option]), :prompt => "Sort By",:onchange => "$('#sort_option').val($(this).val());$('#search_spaces_form').trigger('submit.rails')" %>
    <span style="float:right;">
      <%= will_paginate(@items, :params => params, :renderer => PaginationListLinkRenderer) %>
    </span>
  </div>
</div>
<div class="resultsholderlist shadowCont">
  <% items.each do | item | %>
    <div class="listx">
      <div class="row" style="border-bottom: 1px solid gray;float:left; width: 732px;padding: 5px;">
        <div class="row" style="float:left; width: 732px;">

          <div class="imgx" style="width:178px;height:119px;" onclick="window.location='<%= "/items/#{item.id}" %>'">
            <% if item.avatars.size > 0 %>
              <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "178", :height => "119", :alt => "Space-Photo")  %>
            <% else %>
              <%= image_tag("empty.png", :width => "178", :height => "119", :alt => "Space-Photo")  %>
            <% end %>
          </div>

          <div style="color: #666666; float: right; font-size: 26px;text-align: right;" onclick="window.location='<%= "/items/#{item.id}" %>'">
            <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %><br>
            <span class="perweek" style="font-size: 0.7em;">
              <%= item.time_for_unit_price %><%= t(:per_day) %>
            </span>
          </div>

          <div class="name-list" style="margin-bottom: 5px;font-family: proxima-bold;color: #333333;height: 1px;">
            <h4 style="float:left;" onclick="window.location='<%= "/items/#{item.id}" %>'"><%= item.title %></h4>
            <div id="favorite_div_<%= item.id %>" style="float:left; color: grey;margin-left: 15px;width:10px;">
              <%= render :partial => "favorite", :locals => {:item => item} %>
            </div>
          </div>
          <div class="name-list" style="margin-bottom: 5px;float:left;width:60%;color:#666666;" onclick="window.location='<%= "/items/#{item.id}" %>'">
            <%= item.listing_type.name %>
          </div><br />

          <div class="name-list XXII" style="margin-bottom: 5px;float: left;" onclick="window.location='<%= "/items/#{item.id}" %>'">
            <span style="font-size: 1.1em; font-variant: small-caps; ">
              <%= item.city %></span>,
            <span style="font-size: 1.1em; text-transform: uppercase; ">
              <%= item.country_code %>
            </span>
          </div>

          <div class="name-list" style="margin-bottom: 5px;width: 70%;float: left;" onclick="window.location='<%= "/items/#{item.id}" %>'">
            <% if item.is_shareable == true and !item.maximum_members.blank? %>
              <% if item.maximum_members > 1 %>
                <div class="name-list" style="width: 25%;float:left;">          
                  <div style="float:left;width: 25px;clear: both;"><img src="/assets/persons.png" width="25px;height:20px;float:left;" /></div>
                  <div style="float:left;color:#00cccc;"><%= t(:search_shareable) %></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>        
        <a class="info"></a>
        <div class="clear"></div>
      </div>

    <%end%>
  </div>