<% items.each do | item | %>
  <div class="listx">
    <div class="row" style="border-bottom: 1px solid gray;float:left; width: 732px;padding: 5px;">
      <div class="row" style="float:left; width: 732px;" onclick="window.location='<%= "/items/#{item.id}" %>'">

        <div class="imgx">
          <% if item.avatars.size > 0 %>
            <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "178", :height => "119", :alt => "Space-Photo")  %>
          <% else %>
            <%= image_tag("empty.png", :width => "178", :height => "119", :alt => "Space-Photo")  %>
          <% end %>
        </div>

        <div style="color: grey; float: right; font-size: 26px;text-align: right;">
          <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %><br>
          <span class="perweek" style="font-size: 0.7em;">
            <%= t(:by) %> <%= item.time_for_unit_price %><%= t(:per_day) %>
          </span>
        </div>

        <div class="name-list" style="margin-bottom: 5px;font-family: proxima-bold;color: #333333;">
          <h4><%= item.title %></h4>
        </div>
        <div class="name-list" style="margin-bottom: 5px;float:left;width:65%;color:#00cccc;">
          <%= item.listing_type.name %>
        </div>

        <div class="name-list XXII" style="margin-bottom: 5px;">
          <span style="font-size: 1.1em; "></span>
          <%= item.city %>,<%= item.country_code.capitalize %>
          <%#= item.address %>
        </div>

        <div class="name-list" style="margin-bottom: 5px;width: 70%;float: left;">
          <% if item.is_shareable == true and item .maximum_members > 1 %>
            <div class="name-list" style="width: 25%;float:left;">          
              <div style="float:left;width: 25px;clear: both;"><img src="/assets/persons.png" width="25px;height:20px;float:left;" /></div>
              <div style="float:left;color:#00cccc;"><%= t(:search_shareable) %></div>
            </div>
          <% end %>

          <div class="name-list" style="width: 75%;float:left;">
            <b>Price: </b>
            <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/day,
  <%#= number_to_currency(exchange_currency(item.price_per_week.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>
  <%#*/week,%>
  <%#= number_to_currency(exchange_currency(item.price_per_month.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>
  <%#*/month.%>
          </div>
        </div>
      </div>
      <div id="favorite_div_<%= item.id %>" style="margin-top: 17px; color: grey;">
        <%= render :partial => "favorite", :locals => {:item => item} %>
      </div>
      <a class="info"></a>
      <div class="clear"></div>
    </div>

  <%end%>