<% members.each do | member | %>
  <div class="listx" style="border-bottom: 1px solid gray;">
    <div class="row" style="float:left; width: 732px;padding: 5px;" onclick="window.location='<%= profile_path(member.id) %>'">
      <div class="imgx">
        <% if member.avatars.size > 0 %>
          <%= image_tag(member.avatars.first.photo.url(:thumb), :width => "113", :height => "149", :alt => "Member-Photo")  %>
        <% else %>
          <%= image_tag("empty.png", :width => "113", :height => "147", :alt => "Member-Photo")  %>
        <% end %>
      </div>  

      <div class="name-list" style="margin-bottom: 5px;"><h4 style="font-family:proxima-bold; color: #333333;"><%= member.first_name + " " + member.last_name %></h4>TODO rating</div>

      <div class="name-list" style="margin-bottom: 5px; color: #666666; font-family: proxima-semibold; font-size: 1.2em;"><%= member.activity %></div>

      <div class="name-list XXII" style="margin-bottom: 5px;">
        <% unless member.city.blank? %>
          <%= member.city %>
        <% end %>
        <% unless member.country.blank? %>
          <%= member.country %>
        <% end %>
      </div>

      <div style="margin-top: 64px; color: grey;">
        <%= link_to "Send Message", "/#", :remote => true, :style => "float: right; color: #CC33CC; font-family:proxima-bold" %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<%end%>

<script>
  $(document).ready(function() {
    $('.pagination a').attr('data-remote', 'true');
  });
</script>