<%#= javascript_include_tag "items.js" %>
<script type="text/javascript">
  $(document).ready(function() {    
   
    $('.pagination a').attr('data-remote', 'true');
    
    $('#location').chosen();
    $('#sort_option_sel').chosen();
  
    $(function() {
      $('#search_from1').datepicker(
      {
        minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
        onSelect: function() {
          $('#search_to2').datepicker('option', {minDate: $(this).datepicker('getDate')});
        }});
      $('#search_to2').datepicker({
        minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
        onSelect: function() {
          $('#search_from1').datepicker('option', {maxDate: $(this).datepicker('getDate')});
        }});

      $( "#amount-slider-range" ).slider({
        range: true,
        min: <%= @start_price %>,
        max: <%= @last_price %>,
        values: [ <%= @start_price %>, <%= @last_price %> ],
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        },
        stop: function(event, ui) {$("#min_price").val($( "#amount-slider-range" ).slider( "values", 0 ));
          $("#max_price").val($( "#amount-slider-range" ).slider( "values", 1 ));
          $('#price_range_form').submit();}
      });
      $( "#amount" ).val( "$" + $( "#amount-slider-range" ).slider( "values", 0 ) +
        " - $" + $( "#amount-slider-range" ).slider( "values", 1 ) );
    });
  });
  
  
  function update_gathering_values(params){
    var str = $.parseJSON(params);
    $("#gathering_searched_location").attr("value",str.location.toString());
    $("#gathering_searched_from").attr("value",str.search_from.toString());
    $("#gathering_searched_to").attr("value",str.search_to.toString());
  }
</script>


<%= render :partial => "search_header" %>
<div class="clear"></div>

<div class="rightcontent shadowCont" style="padding: 5px 20px 20px;">
  <h2 style="font-size: 1.4em; font-weight: normal; font-family:proxima-semibold;">
    <%= t(:refine_search) %>
  </h2>
  <%= form_tag "/search_gatherings", {:remote => true, :method => :get, :id => "price_range_form", :pars => params } do %>
    <%= hidden_field_tag "min_price", "" %>
    <%= hidden_field_tag "max_price", "" %>
    <%= hidden_field_tag "sort_option" %>
    <%= hidden_field_tag "location", !params[:location].blank? ? params[:location] : '', :id => "gathering_searched_location" %>
    <%= hidden_field_tag "search_from", !params[:search_from].blank? ? params[:search_from] : '', :id => "gathering_searched_from" %>
    <%= hidden_field_tag "search_to", !params[:search_to].blank? ? params[:search_to] : '', :id => "gathering_searched_to" %>

    <div class="pannelright">
      <label class="heading_right" for="amount"><%= t(:price_range) %></label>
      <input type="text" id="amount" style="border: 0 none !important; border-radius: 0 0 0 0; box-shadow: none; color: #666666; font-family: Proxima; font-size: 1em; font-weight: normal; text-align: center; width: 170px;" />
      <div class="twocol">		   
        <div id="amount-slider-range" style="width: 90%;margin-left: 8px;"></div>
      </div>
      <div style="float: right; font-size: 0.8em;">max</div>
      <div style="float: left; font-size: 0.8em;">min</div>
    </div>  
  </div>

  <div class="leftcontent">
  <%#= form_tag "/search_gatherings", { :id => "gathering_search_form", :remote => true} do %>
    <div class="refinesearchresults1 shadowCont">
      <h2 style="font-size: 21px;margin-bottom: 10px; font-weight: normal; font-family: proxima-semibold;">
        <%= t(:popunion_search) %>
      </h2>
      <div>
        <div style="float:left;position: absolute;text-align: center;">          
          <%= select_tag( "location", options_from_collection_for_select( @users_with_uniq_cities, :city, :city), :prompt => "World Wide") %>
        </div>

        <div style="float: right;width: 70%;margin-top: -5px;">
          <span><%= t(:from2) %></span>
          <span><%= text_field_tag :search_from, params[:search_from], :id => "search_from1", "hint" => "mm/dd/yyyy" %></span>
          <span><%= t(:to2) %></span>
          <span><%= text_field_tag :search_to, params[:search_to], :id => "search_to2", "hint" => "mm/dd/yyyy" %></span>
          <%= image_submit_tag("Objet-dynamique-vectoriel1-.png") %>
        </div>
      </div>
    </div>    
  <% end %>

  <% unless @gatherings.blank? %>
    <div id="searched-gatherings" class="listx-bg">      
      <%= render :partial => "gatherings", :locals => {:offers => @gatherings} %>
    <% else %>
      <%= t(:other_search) %>
    </div>
  <% end %>

</div>

