<%= render :partial => "search_header" %>

<script type="text/javascript">
  $(function() {
    
    $('#search_from1').datepicker(
    {
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {        
        $('#search_to2').datepicker('option', {minDate: $(this).datepicker('getDate')});
      }});
    $('#search_to2').datepicker({
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {
        $('#search_from1').datepicker('option', {maxDate: $(this).datepicker('getDate')});
      }});
    
   $( "#amount-slider-range" ).slider({
      range: true,
      min: <%= @start_price %>,
      max: <%= @last_price %>,
      values: [ <%= @start_price %>, <%= @last_price %> ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_price").val($( "#amount-slider-range" ).slider( "values", 0 ));
        $("#max_price").val($( "#amount-slider-range" ).slider( "values", 1 ));
        $('#price_range_form').submit();}
    });
    $( "#amount" ).val( "$" + $( "#amount-slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#amount-slider-range" ).slider( "values", 1 ) );
  });
  
</script>
<div class="clear"></div>
<br/>

<%= form_for :search, :url => "/search_gatherings", :remote => true do|f| %>
  <div style="width:99%;float: left; border: 1px solid;padding: 10px;">
    <div class="refinesearchresults">
      <div style="width:55%;float:left;">
        <%= select_tag( "location", options_from_collection_for_select( @users_with_uniq_cities, :city, :city), :prompt => "World Wide", :class => "paris") %>
      </div>
      <span>from</span>
      <%= text_field_tag :search_from, params[:search_from], :id => "search_from1" %>
      <span>to</span>
      <%= text_field_tag :search_to, params[:search_to], :id => "search_to2" %>
      <%= image_submit_tag("Objet-dynamique-vectoriel1-.png") %>
    </div>
  </div><div class="sortby">
      <%= select_tag "sort_option", options_for_select([["High to Low" ,"2"],["Low to High", "3"],["By Date","4"]], params[:sort_option]), :prompt => "Sort By",:onchange => "$(this.form).trigger('submit.rails')" %>
      <span>sort by</span>
    </div>
<%end%>

<div class="rightcontent">

  <h2>Refine your search</h2>

  <div class="pannelright">
    <p>
      <label for="amount">Price range:</label>
      <input type="text" id="amount" style="border:0px !important; color:#f6931f; font-weight:bold;width: 170px;border-radius:0px;box-shadow:none;text-align: center;" />
    <div id="amount-slider-range" style="width: 90%;margin-left: 8px;"></div>
    <%= form_tag "/search_gatherings", {:remote => true, :method => :get, :id => "price_range_form", :pars => params } do %>
      <%= hidden_field_tag "min_price", "" %>
      <%= hidden_field_tag "max_price", "" %>
      <%= hidden_field_tag "location", !params[:location].blank? ? params[:location] : '' %>
      <%= hidden_field_tag "search_from", !params[:search_from].blank? ? params[:search_from] : '' %>
      <%= hidden_field_tag "search_to", !params[:search_to].blank? ? params[:search_to] : '' %>      
    <% end %>
    </p>
  </div>
</div>

<div class="leftcontent">
  <div class="resultsholderlist">
    <div id="searched-gatherings">
      <% unless @gatherings.blank? %>
        <%= render :partial => "gatherings", :locals => {:gatherings => @gatherings} %>
      <% else %>
        Please try some other search criteria.
      <% end %>
    </div>
  </div>
</div>