<%= render :partial => "search_header" %>
<div class="clear"></div>

<div class="rightcontent shadowCont" style="padding: 5px 20px 20px;">
  <h2 style="font-size: 1.4em; font-weight: normal; font-family:proxima-semibold;"><%= t(:refine_search) %></h2>
  <%= form_tag "/searches/search_members", {:remote => true, :id => "price_range_form", :pars => params } do %>
    <%= hidden_field_tag "location",  '', :id => "searched_member_location" %>
    <%= hidden_field_tag "user", '', :id => "searched_member_name" %>

    <div class="pannelright">
      <div class="heading_right"><%= t(:active3)%></div>
      <div class="twocol">
        <% @users_with_uniq_activites.each do |type| %>
          <%= check_box_tag 'types[]', type.activity, params["types"].blank? ? false : params["types"].include?(type.activity.to_s), :onclick => "$('#search_submit').trigger('click')" %>
          <%= type.activity.capitalize %><br />
        <% end %>
      </div>
      <%= submit_tag "Submit", :hidden => true, :id => "search_submit" %>
    </div>

  <% end %>
</div>

<div class="leftcontent">
  <%= form_for :search, :url => search_members_searches_path, :remote => true do|f|%>
    <div class="refinesearchresults shadowCont">
      <h2 style="font-size: 21px;margin-bottom: 10px; font-weight: normal; font-family:proxima-semibold;"><%= t(:mem_search)%></h2>
      <div>
        <div style="width:92%;float:left;">
          <div style="float: left;width: 70%;">
            <%= text_field_tag "user", "",:style=>["width:320px"], :hint => "Enter member name or email" %>
          </div>
          <div class="refinesearchresults1" style="float: left;width: 30%;height: 0px;margin-top: 0px !important;">
            <span>Change City</span>
            <div style="float:right;position: absolute;text-align: center;">
              <%= select_tag( "location", options_from_collection_for_select( @users_with_uniq_cities, :city, :city), :prompt => "World Wide", :class => "paris") %>
            </div>
          </div>
        </div>

        <%= image_submit_tag("Objet-dynamique-vectoriel1-.png") %>
      </div>
    </div>    
  <% end %>

  <div id="searched-members" class="listx-bg">
    <% unless @members.blank? %>
      <%= render :partial => "members", :locals => {:members => @members, :only_view => false} %>
    <% else %>
      <%= t(:no_member_given) %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#search_from').datepicker(
    {
      onSelect: function() {
        $('#search_to').datepicker('option', {minDate: $(this).datepicker('getDate')});
      }});
    $('#search_to').datepicker({
      onSelect: function() {
        $('#search_from').datepicker('option', {maxDate: $(this).datepicker('getDate')});
      }});
  
  });
  function update_member_values(params){
    var str = $.parseJSON(params);
    $("#searched_member_location").attr("value",str.location.toString());
    $("#searched_member_user").attr("value",str.user.toString());
  }
  $(document).ready(function() {
    $('#location').chosen();
  });
</script>
<script type="text/javascript">
  function send_rating(rating_url, mode,asset){
    jQuery.ajax({
      type:"GET",
      url: rating_url,
      data: ({'rate': true })
      
    });
  }
</script>