<%= render :partial => "search_header" %>
<div class="clear"></div>

<div class="rightcontent shadowCont" style="padding: 5px 20px 20px;">
  <h2 style="font-size: 1.4em; font-weight: normal; font-family:proxima-semibold;"><%= t(:refine_search) %></h2>
  <%= form_tag "/searches/search_members", {:remote => true, :id => "price_range_form", :pars => params } do %>
    <%= hidden_field_tag "location",  '', :id => "searched_member_location" %>
    <%= hidden_field_tag "user", '', :id => "searched_member_name" %>

    <div class="pannelright">
      <img class="closepannel" src="../assets/-.png" />

      <div class="heading_right"><%= t(:active3)%></div>
      <div class="twocol">
        <% @users_with_uniq_activites.each do |type| %>
          <%= check_box_tag 'types[]', type.activity, params["types"].blank? ? false : params["types"].include?(type.activity.to_s), :onclick => "$('#search_submit').trigger('click')" %>
          <%= type.activity.capitalize %><br />
        <% end %>
      </div>
      <%= submit_tag "Submit", :hidden => true, :id => "search_submit" %>
    </div>

  <% end %>
</div>

<div class="leftcontent">
  <%= form_for :search, :url => search_members_searches_path, :remote => true do|f|%>
    <div class="refinesearchresults shadowCont">
      <h2 style="font-size: 21px;margin-bottom: 10px; font-weight: normal; font-family:proxima-semibold;"><%= t(:mem_search)%></h2>
      <div>
        <div style="width:92%;float:left;">
          <%= text_field_tag "user", "",:style=>["width:320px"], :hint => "Enter member name or email" %>
          <span>Change City</span>
          <%= select_tag( "location", options_from_collection_for_select( @users_with_uniq_cities, :city, :city), :prompt => "World Wide", :class => "paris") %>
        </div>

        <%= image_submit_tag("Objet-dynamique-vectoriel1-.png") %>
      </div>
    </div>
    <div class="sortby">
      <span style="float:right;">
      <%#= will_paginate(items, :params => params, :renderer => PaginationListLinkRenderer) %>TODO Paginate</span>  
    </div>
  <% end %>
  <div class="resultsholderlist shadowCont">
    <div id="searched-members" class="listx-bg">
      <% unless @members.blank? %>
        <%= render :partial => "members", :locals => {:members => @members} %>
      <% else %>
        <%= t(:no_member_given) %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "items.js" %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.pagination a').attr('data-remote', 'true');
  });

  $(function() {
    $('#search_from').datepicker(
    {
      onSelect: function() {
        $('#search_to').datepicker('option', {minDate: $(this).datepicker('getDate')});
      }});
    $('#search_to').datepicker({
      onSelect: function() {
        $('#search_from').datepicker('option', {maxDate: $(this).datepicker('getDate')});
      }});

    $("#amount-slider-range").slider({
      range: true,
      min: <%= @start_price %>,
      max: <%= @last_price %>,
      values: [ <%= @start_price %>, <%= @last_price %> ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_price").val($( "#amount-slider-range" ).slider( "values", 0 ));
        $("#max_price").val($( "#amount-slider-range" ).slider( "values", 1 ));
        $('#price_range_form').submit();}
    });
    $( "#amount" ).val( "" + $( "#amount-slider-range" ).slider( "values", 0 ) +
      " - " + $( "#amount-slider-range" ).slider( "values", 1 ) );

    $( "#sizes-slider-range" ).slider({
      range: true,
      min: <%= @start_size %>,
      max: <%= @last_size %>,
      values: [ <%= @start_size %>, <%= @last_size %> ],
      slide: function( event, ui ) {
        $( "#size" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_size").val($( "#sizes-slider-range" ).slider( "values", 0 ));
        $("#max_size").val($( "#sizes-slider-range" ).slider( "values", 1 ));
        $('#price_range_form').submit();
      }
    });
    $( "#size" ).val( "" + $( "#sizes-slider-range" ).slider( "values", 0 ) +
      " - " + $( "#sizes-slider-range" ).slider( "values", 1 ) );
  });
</script>

<script type="text/javascript">
  function update_member_values(params){
    var str = $.parseJSON(params);
    $("#searched_member_location").attr("value",str.location.toString());
    $("#searched_member_user").attr("value",str.user.toString());
  }
</script>
