<script type="text/javascript">

  $(function() {

    $( "#amount-slider-range" ).slider({
      range: true,
      min: <%= @min_price %>,
      max: <%= @max_price %>,
      values: [ <%= @min_price %>, <%= @max_price %> ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_size").val($( "#amount-slider-range" ).slider( "values", 0 ));
        $("#max_size").val($( "#amount-slider-range" ).slider( "values", 1 ));$('#price_range_form').submit();}
    });
    $( "#amount" ).val( "$" + $( "#amount-slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#amount-slider-range" ).slider( "values", 1 ) );
  });
</script>


<div class="rightcontent">

  <h2><%= t(:refine_search)%></h2>

  <div class="pannelright">
    <p>
      <label for="amount"><%= t(:price_range)%></label>
      <input type="text" id="amount" style="border:0px !important; color:#f6931f; font-weight:bold;width: 170px;border-radius:0px;box-shadow:none;text-align: center;" />
    <div id="amount-slider-range" style="width: 90%;margin-left: 8px;"></div>

    <%= form_tag "/search_gatherings", {:remote => true, :method => :get, :id => "price_range_form", :pars => params } do %>
      <%= hidden_field_tag "min_size", "" %>
      <%= hidden_field_tag "max_size", "" %>
      <%= hidden_field_tag "search[location]", !params[:search][:location].blank? ? params[:search][:location] : '' %>
    <% end %>
    </p>
  </div>

</div>

<div class="leftcontent">
  <div id="get-list-header">
    <h2><%= t(:gatherings2) %></h2>
  </div>
  <div class="listx-bg">
    <% unless @offers.blank? %>
    <div id="searched-gatherings-div">
      <%= render :partial => "gatherings", :locals => {:gatherings => @offers} %>
      </div>
    <%else%>
      <%= t(:gather_found)%>
    <%end%>
  </div>
</div>
<div class="btn-bar">

</div>