<div id="get-list-header">
  <h2>Gatherings</h2>
</div>
<div class="listx-bg">
  <% unless @gatherings.blank? %>
    <% @gatherings.each do | gathering | %>
      <div class="listx" style="margin-bottom: 10px;border-bottom: 1px solid gray;padding: 10px;">
        <div class="imgx">
          <% if gathering.avatars.size > 0 %>
            <%= link_to image_tag(gathering.avatars.first.photo.url(:thumb), :width => "115", :height => "81", :alt => "Space-Photo"), item_path(gathering.id) %>
          <% else %>
            NO IMAGE PROVIDED YET.
          <% end %>
        </div>

        <div class="name-list">
          <b>Name:</b>
          <%=link_to "#{gathering.title}", item_path(gathering.id) %>
        </div>

        <div class="name-list">
          <b>Description:</b>
          <%= gathering.description %>
        </div>

        <div class="name-list">
          <b>City:</b>
          <%= gathering.city %>
        </div>

        <div class="name-list">
          <b>Address:</b>
          <%= gathering.address %>
        </div>
        
        <div class="name-list">
          <b>Available From:</b>
          <%= gathering.availability_from.strftime("%Y-%m-%d") %>
        </div>
        <div class="name-list">
          <b>Available To:</b>
          <%= gathering.availability_to.strftime("%Y-%m-%d") %>
        </div>
        <div class="manage-bg">
        </div>
      </div>
    <%end%>
  <%else%>
    No Member with given criteria found!
  <%end%>
</div>

<div class="btn-bar">

</div>