<%= render :partial => "search_header" %>
<div class="clear"></div>


<div class="rightcontent shadowCont">
  <h2><%= t(:refine_search) %></h2>
  <div class="pannelright">
    <p>
      <label for="amount"><%= t(:price_range) %></label>
      <input type="text" id="amount" style="border:0px !important; color:#f6931f; font-weight:bold;width: 170px;border-radius:0px;box-shadow:none;text-align: center;" />
    <div id="amount-slider-range" style="width: 90%;margin-left: 8px;"></div>
    <%= form_tag "/search_spaces", {:remote => true, :method => :get } do %>
      <%= hidden_field_tag "min_price", "" %>
      <%= hidden_field_tag "max_price", "" %>
      <%= hidden_field_tag "min_size", "" %>
      <%= hidden_field_tag "max_size", "" %>
      <%= hidden_field_tag "location", !params[:location].blank? ? params[:location] : '', :id => "searched_location" %>
      <%= hidden_field_tag "search_from", !params[:search_from].blank? ? params[:search_from] : '', :id => "searched_from" %>
      <%= hidden_field_tag "search_to", !params[:search_to].blank? ? params[:search_to] : '', :id => "searched_to" %>
      <%= hidden_field_tag "sizes", !params[:sizes].blank? ? params[:sizes] : '' %>
      <div class="pannelright">
        <img class="closepannel" src="../assets/-.png" />
        <div class="heading_right"><%= t(:shareable) %></div>
        <div class="twocol">
          <%= check_box_tag "shareable", params[:shareable]? 'false' : 'true' ,params[:shareable]? true : false, :onclick => "$(this.form).trigger('submit.rails')" %>
        </div>
      </div>

      <div class="pannelright">
        <img class="closepannel" src="../assets/-.png" />

        <label for="size"><%= t(:sizes) %><small><%= t(:sqmt) %></small>:</label>
        <input type="text" id="size" style="border:0px !important; color:#f6931f; font-weight:bold;width: 170px;border-radius:0px;box-shadow:none;text-align: center;" />
        <div class="twocol">
          <div id="sizes-slider-range" style="width: 90%;margin-left: 8px;"></div>
        </div>
      </div>

      <div class="pannelright">
        <img class="closepannel" src="../assets/-.png" />
        <div class="heading_right"><%= t(:types) %></div>
        <div class="twocol">
          <% @types.each do |type| %>
            <%= check_box_tag 'types[]', type.id, params["types"].blank? ? false : params["types"].include?(type.id.to_s), :onclick => "$(this.form).trigger('submit.rails')" %>
            <b><%= type.name.capitalize %></b><br />
          <% end %>
        </div>
      </div>

    <% end %>
    </p>
  </div>
</div>

<div class="leftcontent">
	<%= form_tag "/search_spaces", {:remote => true, :method => :get, :id => "price_range_form", :pars => params } do %>
	 <div class="refinesearchresults shadowCont">
	 	<h2 style="font-size: 21px;margin-bottom: 10px;">Spaces search</h2>
	 	<div>
		   <div style="width:37%;float:left;">
		     <%= select_tag( "location", options_from_collection_for_select( @users_with_uniq_cities, :city, :city), :prompt => "World Wide", :class => "paris") %>
		   </div>
		   
		   <span><%= t(:from) %></span>
		   <%= text_field_tag :search_from, params[:search_from], :id => "search_from", "hint" => "mm/dd/yyyy" %>
		   <span><%= t(:to) %></span>
		   <%= text_field_tag :search_to, params[:search_to], :id => "search_to", "hint" => "mm/dd/yyyy" %>
		   
		   <%= image_submit_tag("Objet-dynamique-vectoriel1-.png") %>
	   </div>
	 </div>
	 <div class="sortby">
	  		<span><%= t(:sort_by) %></span>
			<%= select_tag "sort_option", options_for_select([["Newest" ,"1"],["High to Low" ,"2"],["Low to High", "3"]], params[:sort_option]), :prompt => "Sort By",:onchange => "$(this.form).trigger('submit.rails')" %>
			
			<span style="float:right;"><%#= will_paginate(items, :params => params, :renderer => PaginationListLinkRenderer) %>TODO Paginate</span>  
	 </div>
	<% end %>
  <div class="resultsholderlist shadowCont">
    <div id="searched-items" class="listx-bg">
      <% unless @items.blank? %>
        <%= render :partial => "items", :locals => {:items => @items} %>
      <% else %>
        <%= t(:other_search) %>
      <% end %>
    </div>
  </div>
</div>


<%= javascript_include_tag "items.js" %>


<script type="text/javascript">
  $(document).ready(function() {
    $('.pagination a').attr('data-remote', 'true');
  });

  $(function() {
    $('#search_from').datepicker(
    {
      onSelect: function() {
        $('#search_to').datepicker('option', {minDate: $(this).datepicker('getDate')});
      }});
    $('#search_to').datepicker({
      onSelect: function() {
        $('#search_from').datepicker('option', {maxDate: $(this).datepicker('getDate')});
      }});

    $("#amount-slider-range").slider({
      range: true,
      min: <%= @start_price %>,
      max: <%= @last_price %>,
      values: [ <%= @start_price %>, <%= @last_price %> ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_price").val($( "#amount-slider-range" ).slider( "values", 0 ));
        $("#max_price").val($( "#amount-slider-range" ).slider( "values", 1 ));
        $('#price_range_form').submit();}
    });
    $( "#amount" ).val( "$" + $( "#amount-slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#amount-slider-range" ).slider( "values", 1 ) );

    $( "#sizes-slider-range" ).slider({
      range: true,
      min: <%= @start_size %>,
      max: <%= @last_size %>,
      values: [ <%= @start_size %>, <%= @last_size %> ],
      slide: function( event, ui ) {
        $( "#size" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_size").val($( "#sizes-slider-range" ).slider( "values", 0 ));
        $("#max_size").val($( "#sizes-slider-range" ).slider( "values", 1 ));
        $('#price_range_form').submit();
      }
    });
    $( "#size" ).val( "$" + $( "#sizes-slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#sizes-slider-range" ).slider( "values", 1 ) );
  });
</script>
