<% user = (@offer.user == current_user) ? @item.user : @offer.user %>

<div style="float: left;font-style: italic;width: 95%;background-color: #eeeeee;padding: 10px;">
  <div style="float: left;width: 45%;">
    <b><%= t(:email2) %></b>  <%= user.email %><br/>
    <b><%= t(:first_name) %></b>  <%= user.first_name %><br/>
    <b><%= t(:last_name) %></b>  <%= user.last_name %><br/>
    <% if  (user.gender == true) then %>
    <b><%= t(:gender) %></b> &nbsp;<%= t(:male) %>.
  <%else%>
    <b><%= t(:gender) %></b> &nbsp;<%= t(:female) %>.
  <%end%>
    <br/>
    <b><%= t(:addess_1) %></b>  <%= user.address1 %><br/>
      <%if user.address2 %>
    <b><%= t(:address_2) %></b><%= user.address2 %>
    <%end%>
  </div>
</div>
<br/><br/>

<div style="float: left;width: 100%;margin-top: 20px;">
  <%= t(:rental_date) %> <%= @offer.rental_start_date.strftime("%d-%m-%Y %I:%M %p") %>
  <br/>
  <%= t(:rental_end) %> <%= @offer.rental_end_date.strftime("%d-%m-%Y %I:%M %p") %>
  <br/>
  <%= t(:t_amount_offer) %> <%= number_to_currency(exchange_currency(@offer.total_amount.to_i, @offer.item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
  <br/>
  <%= t(:reserve_fee) %> <%= number_to_currency(exchange_currency(@offer.payment.rentareto_fee.to_i, @offer.item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
  <br/>
  <%= t(:t_amount) %> <%= number_to_currency(exchange_currency(@offer.payment.amount.to_i, @offer.item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
  <br/>
  <%= t(:status) %> <%= @offer.status %>
  <br/>
  <% if @offer.preferred_location %>
  <%= t(:preffered_loc) %> <%= @offer.preferred_address  %>
  <% end %>
  <br/>
</div>