<% user = (@offer.user == current_user) ? @item.user : @offer.user %>

<div style="float: left;font-style: italic;width: 95%;background-color: #eeeeee;padding: 10px;">
  <div style="float: left;width: 45%;">
    <b>Email:</b>  <%= user.email %><br/>
    <b>First Name:</b>  <%= user.first_name %><br/>
    <b>Last Name:</b>  <%= user.last_name %><br/>
    <% if  (user.gender == true) then %>
    <b>Gender:</b> &nbsp;Male.
  <%else%>
    <b>Gender:</b> &nbsp;Female.
  <%end%>
    <br/>
    <b>Address 1:</b>  <%= user.address1 %><br/>
      <%if user.address2 %>
    <b>Address 2:</b><%= user.address2 %>
    <%end%>
  </div>
</div>
<br/><br/>

<div style="float: left;width: 100%;margin-top: 20px;">
  Rental Start Date: <%= @offer.rental_start_date.strftime("%d-%m-%Y %I:%M %p") %>
  <br/>
  Rental End Date: <%= @offer.rental_end_date.strftime("%d-%m-%Y %I:%M %p") %>
  <br/>
  Total Offer Amount: <%= number_to_currency(exchange_currency(@offer.total_amount.to_i, @offer.item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
  <br/>
  Reservation Fee: <%= number_to_currency(exchange_currency(@offer.payment.rentareto_fee.to_i, @offer.item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
  <br/>
  Toal \Amount <%= number_to_currency(exchange_currency(@offer.payment.amount.to_i, @offer.item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
  <br/>
  Status: <%= @offer.status %>
  <br/>
  <% if @offer.preferred_location %>
    Preferred Location / Address: <%= @offer.preferred_address  %>
  <% end %>
  <br/>
</div>