<div style="float: left;width: 100%;">

  <%if @offer.status == "Decline by renter" || @offer.status == "Decline by owner" %>
    <b><i style="color: red;"><%= t(:nolonger_valid) %></i></b>
    <br/><br/>
    <b><i style="color: green;"><%= @offer.user == current_user ? "Owner" : "Renter" %><%= t(:s_info) %></i></b>
    <br/><br/>
    <%= render "offer_info" %>
  <% elsif @offer.status == "Accepted - Payment pending" || @offer.status == "Paid but waiting for FeedBack" %>
    <b><i style="color: green;"><%= t(:offer_accepted) %></i></b>
    <br/>
    <b><i style="color: green;"><%= @offer.user == current_user ? "Owner" : "Renter" %><%= t(:s_info) %></i></b>
    <br/><br/>

    <%= render "offer_info" %>

    <%if @offer.status=="Accepted - Payment pending" && @item.user != current_user %>
      <form METHOD="LINK" ACTION="/items/payment_charge/<%= @offer.id %>">
        <input TYPE="submit" VALUE="check in">
      </form>
    <%end%>


    <%if @offer.rental_end_date < Date.today && @item.user != current_user%>
      <div id="comments" style="height: 200px;display: none;">
        <%= form_for @comment, :url => "/items/add_comment" do |f| %>
          <% if @comment.errors.any? %>
            <div id="errorExplanation" class="erro_messages">
              <h2><%= t(:include_following) %></h2>
              <ul>
                <li style="list-style: square;float: left;">
                  <%= @comment.errors.full_messages.to_sentence  %>
                </li>
              </ul>
            </div>
          <% end %>

          <%= hidden_field_tag "id",@item.id %>
          <div class="field">
            <%= f.label :title %><br/>
            <%= f.text_field "title" %>
          </div>
          <div class="field">
            <%= f.label :comment %><br />
            <%= f.text_area "comment", :rows => 5 %><br />
            <a class="search ml70" onclick="$('#new_comment').submit();" href="#"><%= t(:leave_comment) %></a>
          </div>
        <% end %>
      </div>
      <br/><br/>
    <%#if current_user%>
      <div id="show_comments" style="display: none;" >
        <b><%= t(:prev_comments) %></b><br/>
        <%unless @item.comments.blank? %>
          <%@item.comments.each do|f|%>
            <b><%=f.title  %></b><br/>
            <%= f.comment %><br/>
            <i><%= f.user.first_name %> at <%= f.created_at.strftime("%Y-%m-%d %H:%M:%S") %></i>
            <br/>
            <br/>
          <%end%>
        <%end%>
      </div>

      <div id="rating_of_item_<%= @offer.item.id %>">
        <%= render :partial => "/ratings/rating", :locals => { :asset => @offer.item, :only_view => false } %>
      </div>
    <%end%>
  <%else%>
    <%= render "offer_form" %>
  <%end%>
</div>