<div style="float: left;width: 100%;">
  <%if @offer.status == "Decline by renter" || @offer.status == "Decline by owner" %>
    <b><i style="color: red;">This Offer is no longer Valid !</i></b>
    <br/><br/>
    <b><i style="color: green;"><%= @offer.user == current_user ? "Owner" : "Renter" %>'s Information</i></b>
    <br/><br/>
    <%= render "offer_info" %>
  <%elsif @offer.status == "Accepted by owner" || @offer.status == "Accepted by renter" %>
    <b><i style="color: green;">This Offer is accepted !</i></b>
    <br/>
    <b><i style="color: green;"><%= @offer.user == current_user ? "Owner" : "Renter" %>'s Information</i></b>
    <br/><br/>
    <%= render "offer_info" %>
  <%else%>
    <%= render "offer_form" %>
  <%end%>
</div>


