<div id="hd-result">
  <div class="container_12">
    <div id="r-nav" class="grid_9"> 
      <a href='#' class="back " onclick='history.go(-1);return false;'>&lt;&lt; <%= t(:back) %></a>
    </div>
    <div class="grid_3"> &nbsp; </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>

<div id="booking-content">
  <div class="container_12 shadowCont">
    <h3><%= t(:apply_to_gathering) %></h3>
    <% unless @offer.blank? %>
      <div style="padding: 20px;float: left;">
        <% if @offer.errors.any? %>
          <div id="errorExplanation" class="erro_messages">
            <h2><%= t(:include_following) %></h2>
            <ul>
              <li style="list-style: square;float: left;">
                <%= t(:req_fields) %> <%= @offer.errors.full_messages.to_sentence %>
              </li>
            </ul>
          </div>
        <% end %>        

        <span style="text-transform: uppercase;font-size: 1.0em;font-weight: bold;">
          <%= t(:send_msg_to_pop_owner) %>
        </span><br />

        <div style="margin-top:10px;width: 100%;float: left;">
          <div style="float: left;width:15%;">
            <b><%= @offer.user.popup_storz_display_name %></b><br />
            <% if @offer.user.avatars.size > 0 %>
              <%= link_to image_tag(@offer.user.avatars.first.photo.url(:thumb), :height => "85", :alt => "Seller-Image" ), profile_path(@offer.user) %>
            <% else %>
              <%= link_to image_tag("User.png", :height => "56"), profile_path(@offer.user) %>
            <% end %>
          </div>

          <div style="width: 85%;float:left;">
            <%= form_for @offer, :url => "/join/#{@offer.id}",:html => {:name => "offer_form", :onsubmit => "return checkPrefferedAddress();"} do|f| %>
              <%= text_area_tag "user_message", "", :placeholder => "Tell them a bit about yourself, your work, your background, establish a friendly contact!", :style => "width:780px;height:250px;" %>
              <br /><br />              
            </div>
            <div class="clear">&nbsp;</div>
            <div id="BookingContinue">
              <%= f.submit "Continue", :class => "search" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>