# coding: UTF-8
<style>
  .booked {
    border: 4px solid;
    color: red;
  }
  .booked span{
    background: darkgray !important;
    color: red !important;
  }
  .selected{
  }
  .selected a{
    background: aquamarine !important;
  }
  .booked {
    border: 4px solid;
    color: red;
  }
  .booked span{
    background: darkgray !important;
    color: red !important;
  }
  .selected{
  }
  .selected a{
    background: aquamarine !important;
  }
  .blockParts, .blockParts2{
    font-size: 16px; 
    font-family: proxima-bold;
    padding-bottom: 1em;
  }

  table {
    border-collapse: collapse; 
    width: 300px;
  }

  td{
    border: 1px solid black; 
    padding: 5px;	
  }

  #tbl_availabilities td{
    border: none;			
  }

  .btn_booking{
    background-color: purple;
    color: white;
  }

  textarea{
    width: 75%;	
    height: 200px;
  }

  .selectedBookingProcess{
    color: #009999;	
  }

  .notSelectedBookingProcess{
    color: #999999;	
  }

</style>
<script type='text/javascript'>
  $(window).load(function(){
    $(document).ready(function(){
      if($("input[@name=plan]:checked").val() == "standard_booking"){
        hide_gathering();
      }
      else{
        show_gathering();
      }     
      
      if($("#gathering_fields").is(":hidden") == false){
        $("#gathering_bg").css("background-color","cyan");
        $("#std_bg").css("background-color","white");
      }
      else{
        $("#gathering_bg").css("background-color","white");
        $("#std_bg").css("background-color","cyan");
      }
      
      if(<%= @book_without_dates %> == true){
        $("#tr_pricePerPerson").show();
      }
      
      var days_arr = <%= @available_days %>;
      function disableDays(date){
        return [$.inArray(date.getDay(), days_arr) > -1,""]
      }

      var disabledDaysRange = new Array;
      disabledDaysRange = <%= raw @manage_dates_array %>;
      function disableRangeOfDays(d) {
        if($.inArray(d.getDay(), days_arr) > -1 == false){
          return false;
        }
        for(var i = 0; i < disabledDaysRange.length; i++) {
          if($.isArray(disabledDaysRange[i])) {
            for(var j = 0; j < disabledDaysRange[i].length; j++) {
              var r = disabledDaysRange[i][j].split(" to ");
              r[0] = r[0].split("/");
              r[1] = r[1].split("/");
              if(new Date(r[0][2], (r[0][0]-1), r[0][1]) <= d && d <= new Date(r[1][2], (r[1][0]-1), r[1][1])) {
                return [false,'booked'];
              }
            }
          }else{
            if(((d.getMonth()+1) + '/' + d.getDate() + '/' + d.getFullYear()) == disabledDaysRange[i]) {
              return [false,'booked'];
            }
          }
        }

<% if !params[:pick_up].blank? && !params[:return].blank?
  date1 = params[:pick_up]
  date2 = params[:return]
  dates = (Date.strptime(date1,'%m/%d/%Y')..Date.strptime(date2,'%m/%d/%Y')).to_a
  dates = dates.map{ |date_map| date_map.strftime('%m/%d/%Y') }
%>
          var selectedDays = new Array;
          selectedDays = <%= raw dates %>

          for(var i = 0; i < selectedDays.length; i++) {

            var r = selectedDays[i];
            r = r.split("/");
            if(String(new Date(r[2], (r[0]-1), r[1])) == String(d)) {
              return [true, 'selected'];
            }
          }

<% end %>

        return [true];
      }

      // jsFiddle
      $("#offer_rental_start_date").datepicker({
        minDate: new Date(),
        maxDate: '<%= @item.availability_to.blank? ? '' : @item.availability_to.strftime("%m/%d/%y") %>',
        dateFormat: 'mm/dd/yy',
        beforeShowDay: disableRangeOfDays
      });

      $("#offer_rental_end_date").datepicker({
        minDate: new Date(),
        maxDate: '<%= @item.availability_to.blank? ? '' : @item.availability_to.strftime("%m/%d/%y") %>',
        dateFormat: 'mm/dd/yy',
        beforeShowDay: disableRangeOfDays
      });
      // end jsFiddle
      $("#offer_cancellation_date").datepicker({minDate: new Date(), maxDate: new Date($("#offer_rental_start_date").val()) });
      $("#offer_gathering_deadline").datepicker({minDate: new Date(), maxDate: new Date($("#offer_rental_start_date").val()) });

      //manage the switch between step one and step two of booking
      $("#btn_bookingContinue").bind('click', function() {
        $("#FirstStepBooking").hide();  			
        $("#SecondStepBooking").show(); 
  			
        //change breadcrumb design
        $("#breadCrumb_firstStep").removeClass("selectedBookingProcess");
        $("#breadCrumb_firstStep").addClass("notSelectedBookingProcess");
        $("#breadCrumb_secondStep").removeClass("notSelectedBookingProcess");  			
        $("#breadCrumb_secondStep").addClass("selectedBookingProcess");
        return false; 			
      });
    });


    if('<%= params[:pick_up] %>' != "" && '<%= params[:return] %>' != ""){
      calculateTotalAmount();
    }

  });//]]>

</script>

<div id="hd-result">
  <div class="container_12">
    <div id="r-nav" class="grid_9"> 
      <a href='#' class="back " onclick='history.go(-1);return false;'>&lt;&lt; <%= t(:back) %></a>
    </div>
    <div class="grid_3"> &nbsp; </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div id="booking-content">
  <div class="container_12 shadowCont" >
    <h1><%= t(:booking) %></h1>
    <%= form_for [@item, @offer], :html => {:name => "offer_form", :onsubmit => "return checkPrefferedAddress();"} do|f| %>
      <div style="padding: 20px;float: left;">
        <% if @offer.errors.any? %>
          <div id="errorExplanation" class="erro_messages">
            <h2><%= t(:include_following) %></h2>
            <ul>
              <li style="list-style: square;float: left;">
                <%= t(:req_fields) %> 
                <%= @offer.errors.full_messages.to_sentence  %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>

      <div style="width: 490px; margin-left: auto; margin-right: auto; padding-bottom: 2em;"> 
        <div id="breadCrumb_firstStep" class="selectedBookingProcess" style="border: 1px solid; padding: 0px 3px; text-align: center; float: left; width: 10px;">1
          <span style="margin-top: 20px; font-family: proxima-semibold; position: absolute; margin-left: -48px;" id="info_firstStep"><%= t(:make_booking) %></span>
        </div>
        <div style="margin-left:18px; width:455px; padding-top:8px;"><hr/></div>		 			
        <div id="breadCrumb_secondStep" class="notSelectedBookingProcess" style="border: 1px solid; padding: 0px 3px; text-align: center; float: right; width: 10px; margin-top: -10px;">2
          <span style="margin-top: 20px; font-family: proxima-semibold; position: absolute; margin-left: -69px;" id="info_secondStep"><%= t(:confirm_contact) %></span>
        </div>
      </div>

      <div class="grid_12">

        <br class="clear" />

        <div class="clear">&nbsp;</div>

        <div id="details-panel" style="padding: 5px;">
          <span class="blockParts2"><%= t(:location) %></span>
          <div class="clear">&nbsp;</div>
          <% if @item.avatars.size > 0 %>
            <%= image_tag(@item.avatars.first.photo.url(:large), :width => "180", :height => "123", :align => "left", :style => "padding-right:20px;" ) %>
          <% else %>
            <%= @item.title %>
          <% end %>

          <%= link_to @item.title, item_path(@item) %>

          <span style="font-family: XXII;"><%= @item.address %></span>
          <!-- <%= t(:offer_owner) %><%= link_to @item.user.popup_storz_display_name, profile_path(@item.user) %><br/><br/> -->          
        </div>

      </div>
      <div class="clear">&nbsp;</div>

      <div id="FirstStepBooking">
        <div id="bookingType" style="padding: 5px;">
          <span class ="blockParts2"><%= t(:booking_type) %></span>
          <div class="clear">&nbsp;</div>			
          <div id="bookingOptions" style="margin-left: auto; margin-right: auto; width: 50%;">
            <% if @item.is_shareable %>
              <div style="float: left;">
                <%= radio_button_tag 'plan', 'standard_booking', @book_without_dates == false ? true : false, :onclick => "hide_gathering()" %> 
                <span class="booking" style="border: 1px solid; background-color:<%= @book_without_dates == false ? 'cyan' : 'white' %>; font-size: 1.4em; padding: 5px;"  id="std_bg">
                  <%= t(:stand_bookings) %>
                </span>
              </div>
              <div style="float: right;">
                <%= radio_button_tag 'plan', 'gathering', @book_without_dates == false ? false : true,:onclick => "show_gathering()" %>
                <span class="booking" style="border: 1px solid;background-color:<%= @book_without_dates == false ? 'white' : 'cyan' %>; font-size: 1.4em; padding: 5px;" id="gathering_bg">
                  <%= t(:create_gatherings) %>
                </span>
              </div>
            <% else %>
              <div style="float: left;">
                <%= radio_button_tag 'plan', 'standard_booking', true %> 
                <span class="booking" style="border: 1px solid; background-color:cyan;">
                  <%= t(:stand_bookings) %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="clear">&nbsp;</div>      

        <div id="AnsweringDate" style="padding: 5px;display: <%= @book_without_dates == false ? 'block' : 'none' %>">
          <span class ="blockParts2"><%= t(:answering_date) %></span> <!-- TODO translate -->
          <div class="clear">&nbsp;</div>			
          <div id="response_div">
            <label style="line-height:18px;"><%= t(:owner_reply) %></label>
            <%= f.text_field :cancellation_date, :class => "datex", :value => "mm/dd/yy"%> 
          </div>
        </div>

        <div id="MessageToOwner" style="padding: 5px;">
          <span class ="blockParts2">
            <div id="msg_booking_div">
              <%= t(:message_to_owner) %>
              <div class="clear">&nbsp;</div>
              <label style="line-height:18px; float:left;">
                <strong> 
                  <%= @item.user.popup_storz_display_name %>
                </strong>
              </label>
              <br/><br/>
              <% if @item.user.avatars.size > 0 %>
                <% unless @item.user.avatars.blank? %>
                  <%= image_tag(@item.user.avatars.first.photo.url(:large), :width => "180", :height => "123", :align => "left", :style => "padding-right:20px;" ) %>
                <% end %>
              <% end %>
            </div>

            <div id="msg_gathering_div" style="display: none;" >              
              <%= t(:pop_description) %>
            </div>
          </span>
          <div style="width: 100%;margin-top: 10px;">
            <%= f.fields_for :offer_messages do |offer_message| %>
              <% if offer_message.object.new_record? %>
                <div id="offer_msg_text">
                  <%= offer_message.text_area :message, :hint => "Ask questions, tell them a bit about more about you, establish a friendly contact !", :id => "booking_msg" %>
                </div>
                <%= offer_message.hidden_field :user_id, :value => current_user.id %>
                <%= offer_message.hidden_field :msg_posted_as, :value => @item.user == current_user ? "Owner" : "Renter"%>
              <%end%>
            <%end%>
          </div>

        </div>

        <div id="BookingDates" style="padding: 5px; float:left">
          <span class ="blockParts2"><%= t(:dates) %></span> <!-- TODO translate -->
          <div class="clear">&nbsp;</div>	

          <table>
            <tr>
              <td ><%= "Start Date" %></td> <!-- TODO translate -->
              <td ><%= f.text_field :rental_start_date, :class => "datex", :value => params[:pick_up] , :onchange => "calculateTotalAmount();" %></td>				
            </tr>
            <tr>
              <td ><%= "End Date" %></td> <!-- TODO translate -->
              <td ><%= f.text_field :rental_end_date, :class => "datex", :value => params[:return] , :onchange => "calculateTotalAmount();" %></td>				
            </tr>
            <tr>
              <td><%= "Total days" %></td> <!-- TODO translate -->
              <td>
                <div id="offer_total_days">
                  <%= "#{@number_of_days} days"  %>
                </div>
              </td>				
            </tr>
          </table>		
        </div>

        <div id="BookingAvailabilities" style="padding: 5px; float: right"> <!-- TODO put this div at the right of BookinDates -->
          <span class ="blockParts2">AVAILABILITIES</span> <!-- TODO translate -->
          <div class="clear">&nbsp;</div>	

          <% if !@item.availablities_daytime.blank? and @item.availablities_daytime == true %>
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:daytime) %>
            </span>
          <% end %>
          <% if !@item.availablities_evenings.blank? and @item.availablities_evenings == true %>
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:evenings) %>
            </span>
          <% end %>
          <br />

          <% if !@item.availablities_monday.blank? and @item.availablities_monday == true %>
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:monday) %>
            </span>
          <% end %>
          <% if !@item.availablities_tuesday.blank? and @item.availablities_tuesday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:tuesday) %>
            </span>
          <% end %>
          <% if !@item.availablities_wednesday.blank? and @item.availablities_wednesday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:wednesday) %>
            </span>
          <% end %>
          <% if !@item.availablities_thursday.blank? and @item.availablities_thursday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:thursday) %>
            </span>
          <% end %>
          <% if !@item.availablities_friday.blank? || @item.availablities_friday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:friday) %>
            </span>
          <% end %>
          <% if !@item.availablities_saturday.blank? || @item.availablities_saturday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:saturday) %>
            </span>
          <% end %>
          <% if !@item.availablities_sunday.blank? || @item.availablities_sunday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:sunday) %>
            </span>
          <% end %>
        </div>

        <div class="clear">&nbsp;</div>

        <div id="gathering_fields" style="padding: 5px; display: <%= @book_without_dates == false ? 'none' : 'block' %>"> <!-- TODO hide/show this div in case of gathering radio button is selected -->
          <span class ="blockParts2"><%= t(:gathering) %></span> <!-- TODO translate -->
          <div class="clear">&nbsp;</div>
          <div>
            <span style="font-family: proxima-bold;">
              <%= "Number of persons in the gathering" %></span>
            <%= f.text_field :persons_in_gathering, :onchange => "check_persons(this.value,#{@item.maximum_members.to_i})" %>
            <span><small><%= "Maximum allowed by owner: " %>
                <%= @item.maximum_members %> <%= "persons" %></small></span>	<!-- TODO translate & Show real number allowed persons -->	
          </div>
          <br/>
          <div>
            <span style="font-family: proxima-bold;">
              <%= t(:join_deadline) %>
            </span> <!-- TODO translate -->
            <%= f.text_field :gathering_deadline, :class => "datex", :value => "mm/dd/yy"%>
            <span><small><%= "If required number of persons is not reached ..." %></small></span>	<!-- TODO translate -->	
          </div>
        </div>		
        <div id="BookingPrice" style="padding: 5px;">
          <span class ="blockParts2"><%= t(:price) %></span> <!-- TODO translate -->
          <div class="clear">&nbsp;</div>

          <table style="width: 315px !important;">
            <tr>
              <td ><%= t(:daily_price) %></td>
              <td>
                <%= session[:curr] == "USD" ? "$" : "€" %>
                <%= text_field_tag "offer[daily_price]", exchange_currency(@item.price.to_f, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :style => "background-color:#FFFFFF;border:0px;border-radius:0px;box-shadow:0 0px 0px #FFFFFF, 0 0px 0 #BBBBBB inset;font-family: proxima-bold;font-weight: bold;width:70%;margin-left:-5px", :readonly => true, :id=>"price_per_day" %>
  <%#= number_to_currency(exchange_currency(@item.price.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
              </td>
            </tr>
            <tr>
              <td ><%= t(:cleaning_fee) %></td>
              <td>
                <%= session[:curr] == "USD" ? "$" : "€" %>
                <%= text_field_tag "offer[cleaning_fee]", exchange_currency(@item.cleaning_fee.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0, :style => "background-color:#FFFFFF;border:0px;border-radius:0px;box-shadow:0 0px 0px #FFFFFF, 0 0px 0 #BBBBBB inset;font-family: proxima-bold;font-weight: bold;width:70%;margin-left:-5px",:readonly => true, :id=>"cleaning_fee" %>
  <%#= number_to_currency(exchange_currency(@item.cleaning_fee.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
              </td>
            </tr>
            <tr>
              <td ><%= t(:sub_total) %></td>
              <td>
                <%= session[:curr] == "USD" ? "$" : "€" %>
                <%= text_field_tag "offer[sub_total]", "0", :style => "background-color:#FFFFFF;border:0px;border-radius:0px;box-shadow:0 0px 0px #FFFFFF, 0 0px 0 #BBBBBB inset;font-family: proxima-bold;font-weight: bold;width:70%;margin-left:-5px",:readonly => true, :id=>"offer_total_amount" %>
              </td>
            </tr>
            <tr>
              <td ><%= t(:service_fee) %></td>
              <td>
                <%= session[:curr] == "USD" ? "$" : "€" %>
                <%= text_field_tag "offer[service_fee]", "0", :style => "background-color:#FFFFFF;border:0px;border-radius:0px;box-shadow:0 0px 0px #FFFFFF, 0 0px 0 #BBBBBB inset;font-family: proxima-bold;font-weight: bold;width:70%;margin-left:-5px",:readonly => true, :id=>"offer_service_fee" %>
              </td>
            </tr>
            <tr id="tr_totalPrice">
              <td ><%= "Total" %></td>
              <td>
                <%= session[:curr] == "USD" ? "$" : "€" %>
                <%= text_field_tag "offer[total]", "0", :style => "background-color:#FFFFFF;border:0px;border-radius:0px;box-shadow:0 0px 0px #FFFFFF, 0 0px 0 #BBBBBB inset;font-family: proxima-bold;font-weight: bold;width:70%;margin-left:-5px",:readonly => true, :id=>"grand_total_amount" %>
              </td>
            </tr>

            <tr id="tr_pricePerPerson" style="background-color: yellow; display: none;">
              <td style="font-weight: bold"><%= "Price per person" %></td>              
              <td><b><%= session[:curr] == "USD" ? "$" : "€" %></b>
                <%= f.text_field :gathering_rental_price, {:value => "0",:readonly => true, :style => "background-color:yellow;border:0px;border-radius:0px;box-shadow:0 0px 0px #FFFFFF, 0 0px 0 #BBBBBB inset;font-family: proxima-bold;font-weight: bold;width:70%;"} %>
              </td>
            </tr>
          </table>	
          <br/>
          <table style="width: 315px !important;">
            <tr>
              <td ><%= "Security deposit" %></td>
              <td>
  <%#= text_field_tag :security_deposit %>
                <%= number_to_currency(exchange_currency(@item.deposit.round, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %></td>
            </tr>
          </table>
        </div>

        <div id="BookingPolicies"style="padding: 5px;">
          <span class ="blockParts2"><%= t(:policies) %></span> <!-- TODO translate -->
          <div class="clear">&nbsp;</div>

          <div style="padding: 5px;">
            <span style="font-family: proxima-bold;"><%= "Cancellation" %></span><br/> <!-- TODO translate -->
            <span style="font-family: proxima-bold;">
              <% if @item.cancellation_policy_flexible == true %>
                <%= t(:flexible) %><br/>
                <%= t(:cancel_ln1) %><br/>
                <%= t(:cancel_ln2) %><br/><br/>

                <%= t(:cancel_ln3) %><br/><br/>

                <%= t(:cancel_ln4)%><br/><br/>
                <%= t(:cancel_ln5)%><br/><br/>
              <% else %>
                <%= t(:semi_flexible) %><br/>
                <%= t(:semi_cancel_ln1) %><br/>
                <%= t(:semi_cancel_ln2) %><br/><br/>

                <%= t(:semi_cancel_ln3) %><br/><br/>

                <%= t(:semi_cancel_ln4) %><br/><br/>
                <%= t(:semi_cancel_ln5) %><div/>

              <% end %>
            </span>
            <br/>

            <br/><br/>
            <span style="font-family: proxima-bold;"><%= "Owner rules" %></span>
            <div>
              <%= raw(@item.owner_rules) %>
            </div>
          </div>
        </div>

        <br/><br/>
        <div class="clear">&nbsp;</div>
        <div id="BookingContinue">
          <%= f.submit "Continue", :class => "search" %>
        </div>
      </div>
      <br/><br/>
      <%= hidden_field_tag :per_day_price, exchange_currency(@item.price.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0 %>
      <%= hidden_field_tag :per_week_price, exchange_currency(@item.price_per_week.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0 %>
      <%= hidden_field_tag :per_month_price, exchange_currency(@item.price_per_month, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0 %>
      <%= f.hidden_field   :grand_total_amount, :value => exchange_currency(@calculated_price.to_i, @item.price_unit) %>
      <%= hidden_field_tag "offer[is_gathering]", false %>
      <%= hidden_field_tag "offer[total_days]", @number_of_days %>
      <%= hidden_field_tag "offer[current_currency]", session[:curr] %>


      <div class="clear"></div>

      <div id="preferred_address" style="display: none; font-size:13px; font-style:italic;">Please Enter Meeting <strong>Location</strong> :
        <%= f.text_field :preferred_address %>
        <div id="item_advanced_container" style="display:none;">
          <div id="item_advanced" style="display:none;">
            <%= label_tag(:longitude, "Coordinates") %>
            <%= text_field_tag :longitude, :class => 'required two-side-by-side' %>
            <%= text_field_tag :latitude , :class => 'required two-side-by-side second'%><br />
          </div>
          <div class="small">
            <a href="javascript:void(0);" id="item_advanced_link"><%= "Advance Settings" %></a>
          </div>
        </div>
      </div>
      <br/>

    </div>
  </div>
  <div class="clear">&nbsp;</div>
<% end %>
</div>
<div id="my_map_div" style="visibility:hidden;display: none;">
  <%= raw(@map.div(:width => 500, :height => 400)) %>
</div>
</div>

<script type="text/javascript">
  $('.radio').change(function(){
    if($(this).val() == "true")
    {
      $('#preferred_address').show();
    }
    else
    {
      $('#preferred_address').hide();
      $('#offer_preferred_address').val('');
    }
  });
  $('.bargain_radio').change(function(){
    if($(this).val() == "true")
    {
      $('#bargain_div').show();
    }
    else
    {
      $('#bargain_div').hide();
      $('#offer_willingness_to_pay').val('');
    }
  });

  function checkPrefferedAddress(){
    if($("#offer_gathering_deadline").val() == "" || $("#offer_gathering_deadline").val() == "mm/dd/yy") {
      if($("#gathering_fields").is(":hidden") == true){
        if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy"){
          alert("Please enter response date"); 
          return false;
        }          
      }
      else{
        if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy" ){
          alert("Please enter gathering deadline");
          return false;
        }
      }
      
      if($("#gathering_fields").is(":hidden") == true){
        if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy" ){
          alert('Please enter response deadline date.');
          return false;
        }
        else{
          return true;
        }
      }
      else{
        if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy" ){
          alert('Please enter gathering joining deadline date.');
          return false;
        }
      }
    }
    else{
      if($("#gathering_fields").is(":hidden") == false){
        if($("#offer_persons_in_gathering").val() == '' || $("#offer_persons_in_gathering").val() == 0){
          alert("Please enter persons in gathering");
          return false;
        }
        if($("#offer_persons_in_gathering").val() == 1){
          alert("Persons in gathering must be more than 1");
          return false;
        }
        if($("#offer_gathering_deadline").val() == "" || $("#offer_gathering_deadline").val() == "mm/dd/yy") {
          alert('Please enter gathering deadline date.');
          return false;
        }
        if(parseInt($("#offer_persons_in_gathering").val()) > parseInt('<%= @item.maximum_members %>')){
          alert("Persons in gathering should not exceed maximum persons allowed.");
          return false;
        }
      }
      return true;
    }
  }


  function calculateTotalAmount(){
    $("#offer_gathering_deadline").datepicker('option', 'maxDate', new Date($("#offer_rental_start_date").val()));      
    $("#offer_cancellation_date").datepicker('option', 'maxDate', new Date($("#offer_rental_start_date").val()));
    
    $("#offer_rental_end_date").datepicker('option', 'minDate', new Date($("#offer_rental_start_date").val()));

    if($("#offer_rental_start_date").val()=="mm/dd/yy"){
      alert('Please select pickup date first, thanks.');
      $("#offer_rental_end_date").val("mm/dd/yy");
    }
    else
    {
      if($("#offer_rental_end_date").val()=="")
      {
        $("#offer_rental_end_date").val($("#offer_rental_start_date").val());
      }
    }
    if($('#offer_rental_start_date').val() != 'mm/dd/yy' && $('#offer_rental_end_date').val() != 'mm/dd/yy'){
      start = $('#offer_rental_start_date').val();
      start_date = new Date(start);
      end = $('#offer_rental_end_date').val();
      end_date = new Date(end);

      startTime = start_date.getTime();
      endTime = end_date.getTime();
      var new_days= 0;
      var days_arr = <%= @available_days %>;

      for (loopTime = startTime; loopTime <= endTime; loopTime += 86400000) {
        if($.inArray(new Date(loopTime).getDay(), days_arr) > -1){
          new_days += 1;
        }
      }
      
      number_of_days = new_days;

      if(number_of_days == 0){
        number_of_days = 1;
      }
      number_of_days = Math.round(number_of_days)
      $("#offer_total_days").html(number_of_days+" days");

      $('#duration').text(number_of_days+ " days");
      
      calculated_price = calculate_price(number_of_days);
      
      sub_price = Math.round($('#price_per_day').val()) + Math.round($('#cleaning_fee').val());
      
      $('#offer_total_amount').val(sub_price);
      
      if(Math.round($('#offer_service_fee').val()) == 0){
        srv_fee = Math.round($('#offer_total_amount').val()) * 0.1
        grand_total_amount = Math.round($('#offer_total_amount').val()) + Math.round($('#price_per_day').val()) + Math.round($('#cleaning_fee').val()) + Math.round(srv_fee);
      }
      else{
        grand_total_amount = Math.round($('#offer_total_amount').val()) + Math.round($('#price_per_day').val()) + Math.round($('#cleaning_fee').val()) + Math.round($('#offer_service_fee').val());
      }

      if($("#gathering_fields").is(":hidden") == false){
        
        if($("#offer_persons_in_gathering").val() == '' || $("#offer_persons_in_gathering").val() == 0){
          alert("Please enter persons in gathering");
        }
        else if($("#offer_persons_in_gathering").val() == 1){
          alert("Persons in gathering must be more than 1");
        }
        else{          
          var total = Math.round($("#grand_total_amount").val());
          $("#offer_gathering_rental_price").val((grand_total_amount/parseInt($("#offer_persons_in_gathering").val())).toFixed(2));
        }
      }
      
      jQuery.ajax({
        type:"GET",
        url: '/items/set_dates?start_date='+start+'&end_date='+end,
        success: function(){          
          var persons = Math.round($("#offer_persons_in_gathering").val());
          jQuery.ajax({
            type:"GET",
            url: '/items/exchange_price?calculated_price='+$('#price_per_day').val()+'&price_unit=<%= session[:curr] %>'+'&cleaning='+$('#cleaning_fee').val()+'&persons='+persons
          });
        }
      });

    }
  }

  function calculate_price(number_of_days){
    if(number_of_days > 6){
      months = Math.round(number_of_days/30);
      weeks = Math.round((number_of_days - (Math.round((30 * months))))/7);
    
      days = (number_of_days - (30 * months)) - (weeks * 7);
    }
    else{
      months = 0;
      weeks = 0;
      days = number_of_days;
    }    
    p_month = Math.round($('#per_month_price').val().replace("<%= session[:curr] == 'USD'? "$" : "€" %>",'').replace(",",""));
    p_week = Math.round($('#per_week_price').val().replace("<%= session[:curr] == 'USD'? "$" : "€" %>",'').replace(",",""));
    p_day = Math.round($('#per_day_price').val().replace("<%= session[:curr] == 'USD'? "$" : "€" %>",'').replace(",",""));                    
    
    return months * p_month  + weeks * p_week + days * p_day;    
  }
</script>

<script>
  var marker = null;
  var get_location_name_timeout = null;

  $(document).ready(function() {


    $('#map').css("margin", "0 auto");


    var update_location_fun = function(resolveName) {
      if(resolveName == null) {
        resolveName = true;
      }

      var form = $('#new_offer');
      var latlng = new GLatLng(
      $('#latitude').val(),
      $('#longitude').val()
    );

      map.setCenter(latlng);
      if(marker) {
        map.removeOverlay(marker);
      }

      marker = new GMarker(latlng);
      map.setZoom(15);
      map.addOverlay(marker);

      if(resolveName) {
        var get_location_name_fun = function() {
          $.ajax({
            url: "/xml/address_search.xml?lat=" + latlng.lat() + "&lon=" + latlng.lng(),
            dataType: 'xml',
            success: function(resp) {

              $('#offer_preferred_address').removeClass('ui-autocomplete-loading');
              var name = $('address', resp).text();
              if(name != '') {
                $('#offer_preferred_address').val($('address', resp).text());
              }
            }
          });
        }

        if(get_location_name_timeout) {
          clearTimeout(get_location_name_timeout);
        }
        get_location_name_timeout = setTimeout(get_location_name_fun, 300);
        $('#offer_preferred_address').addClass('ui-autocomplete-loading');
      }
    }

    var register_map_event_fun = function() {
      if(!map) {
        setTimeout(register_map_event_fun, 100);
        return;
      }
      GEvent.addListener(map, "click", function(overlay, latlng) {
        if (latlng) {
          $('#longitude').val(latlng.lng());
          $('#latitude').val(latlng.lat());
          update_location_fun();
        }
      });
    }
    setTimeout(register_map_event_fun, 100);

    $('#offer_preferred_address').autocomplete({
      focus: function(event, ui) {
        return false;
      },
      select: function(event, ui) {
        var position = ui.item.id.split(";");
        $('#longitude').val(position[0]);
        $('#latitude').val(position[1]);
        update_location_fun(false);
      },
      source: function(request, cb) {
        $.ajax({
          url: "/xml/location_search.xml?q=" + request.term,
          dataType: 'xml',
          success: function(resp) {
            cb($("location", resp).map(function() {
              return {label: $("address", this).text(), id: $("longitude", this).text() + ";" + $("latitude", this).text()
              };
            }).get());
          }
        });
      },
      minLength: 2,
      change: function (event, ui) {
        if (ui.item) {
          $('#another_element').val(ui.item.source.label);
        }
        else {
          if (!$(this).data('valid')) {
            $(this).val('');
            $('#another_element').val('');
          }
        }
        $(this).data('valid', false);
      }
    }).live('blur', function (e) {
      if ($('.ui-autocomplete li:visible').length > 0) {
        $(".ui-autocomplete li:visible:first").click();
        item = $($(".ui-autocomplete li:visible:first").data()).attr('item.autocomplete');
        var position = item.id.split(";");
        $('#longitude').val(position[0]);
        $('#latitude').val(position[1]);
        update_location_fun(false);
        $(this).val(item.label);
        $('#another_element').val(item.label);
        $(this).data('valid', true);

      }
    });
    //$('#new_location').validate();
  });

  function show_gathering(){
    $("#offer_is_gathering").val(true);
    $("#gathering_fields").show();
    $("#gathering_bg").css("background-color","cyan");
    $("#std_bg").css("background-color","white");
    $("#response_div").hide();
    
    $("#AnsweringDate").hide();
    $("#gathering_fields").show();
    
    $("#tr_pricePerPerson").show();
    $("#msg_gathering_div").show();
    $("#msg_booking_div").hide();
    alert("aaa");
    $("#offer_message_div").html("");
    
  }

  function hide_gathering(){
    $("#offer_is_gathering").val(false);
    $("#gathering_fields").hide();
    $("#response_div").show();
    
    $("#std_bg").css("background-color","cyan");
    $("#gathering_bg").css("background-color","white");
    
    $("#AnsweringDate").show();
    $("#gathering_fields").hide();
    
    $("#tr_pricePerPerson").hide();
    $("#msg_gathering_div").hide();
    $("#msg_booking_div").show();
    $("#offer_message_div").html('<textarea rows="20" name="offer[offer_messages_attributes][0][message]" id="booking_msg" hint="Ask questions, tell them a bit about more about you, establish a friendly contact !" cols="40" class="hint"></textarea>');
  }

  function check_persons(obj,val){
    if(obj == '' || obj == 0){
      alert("Please enter number of persons in gathering.");
    }
    else{
      if(parseInt(obj) > parseInt(val)){
        alert("Persons in gathering should not exceed maximum persons allowed.");
      }
      else{
        var total= Math.round($("#grand_total_amount").val());        
        $("#offer_gathering_rental_price").val((total/parseInt(obj)).toFixed(2));
      }
    }
  }

</script>
