<style>
  .booked { 
    border: 4px solid;
    color: red; 
  }
  .booked span{ 
    background: darkgray !important;
    color: red !important;
    font-weight: bold !important;
  }
  .selected{    
  }
  .selected a{ 
    background: aquamarine !important;
    font-weight: bold !important;
  }
</style><style>
  .booked { 
    border: 4px solid;
    color: red; 
  }
  .booked span{ 
    background: darkgray !important;
    color: red !important;
    font-weight: bold !important;
  }
  .selected{    
  }
  .selected a{ 
    background: aquamarine !important;
    font-weight: bold !important;
  }
</style>
<script type='text/javascript'>//<![CDATA[
  $(window).load(function(){
    $(document).ready(function(){
      
      var disabledDaysRange = new Array;
      disabledDaysRange = <%= raw @manage_dates_array %>;      
      function disableRangeOfDays(d) {
        for(var i = 0; i < disabledDaysRange.length; i++) {
          if($.isArray(disabledDaysRange[i])) {
            for(var j = 0; j < disabledDaysRange[i].length; j++) {
              var r = disabledDaysRange[i][j].split(" to ");
              r[0] = r[0].split("/");
              r[1] = r[1].split("/");
              if(new Date(r[0][2], (r[0][0]-1), r[0][1]) <= d && d <= new Date(r[1][2], (r[1][0]-1), r[1][1])) {
                return [false,'booked'];
              }
            }
          }else{
            if(((d.getMonth()+1) + '/' + d.getDate() + '/' + d.getFullYear()) == disabledDaysRange[i]) {
              return [false,'booked'];
            }
          }
        }
        
        <% if !params[:pick_up].blank? && !params[:return].blank? %>
        
        <% 
          date1 = params[:pick_up]
          date2 = params[:return]
          dates = (Date.strptime(date1,'%m/%d/%Y')..Date.strptime(date2,'%m/%d/%Y')).to_a
          dates = dates.map{ |date_map| date_map.strftime('%m/%d/%Y') }
        %>
        var selectedDays = new Array;
        selectedDays = <%= raw dates %>
        
        for(var i = 0; i < selectedDays.length; i++) {
          
          var r = selectedDays[i];
          r = r.split("/");
          if(String(new Date(r[2], (r[0]-1), r[1])) == String(d)) {
            return [true, 'selected'];
          }          
        }
        
        <% end %>
        
        return [true];
      }

      // jsFiddle
      $("#offer_rental_start_date").datepicker({
        minDate: new Date(),
        dateFormat: 'mm/dd/yy',
        beforeShowDay: disableRangeOfDays
      });

      $("#offer_rental_end_date").datepicker({
        minDate: new Date(),
        dateFormat: 'mm/dd/yy',
        beforeShowDay: disableRangeOfDays
      });
      // end jsFiddle
      $("#offer_cancellation_date").datepicker({minDate: new Date(), maxDate: new Date($("#offer_rental_start_date").val()) });

    });


    if('<%= params[:pick_up] %>' != "" && '<%= params[:return] %>' != ""){
      calculateTotalAmount();
    }

  });//]]>

</script>

<div id="hd-result">
  <div class="container_12">
    <div id="r-nav" class="grid_9"> <a href="/">Home</a> &nbsp;&gt;&nbsp; Make a booking</div>
    <div class="grid_3"> &nbsp; </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>

<div id="booking-content">
  <div class="container_12">
    <%= form_for [@item, @offer], :html => {:name => "offer_form", :onsubmit => "return checkPrefferedAddress();"} do|f| %>
      <div style="padding: 20px;float: left;">
        <% if @offer.errors.any? %>
          <div id="errorExplanation" class="erro_messages">
            <h2>Oops! Looks like you need to include the following:</h2>
            <ul>
              <li style="list-style: square;float: left;">
                Required fields(and the display names): <%= @offer.errors.full_messages.to_sentence  %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="grid_12">

        <ul class="steps">
          <li class="start"> <span>1</span> Make a Booking</li>
          <li class="next"> <span> 2</span>Confirm & Contact</li>

        </ul>

        <br class="clear" />

        <div class="clear">&nbsp;</div>

        <div id="details-panel">
          <% if @item.avatars.size > 0 %>
            <%= image_tag(@item.avatars.first.photo.url(:large), :width => "180", :height => "123", :align => "left", :style => "padding-right:20px;" ) %>
          <% else %>
            <%= @item.title %>
          <% end %>
          <h5>
            <%= link_to @item.title, item_path(@item) %>
          </h5>
          Owner : <%= link_to @item.user.popup_storz_display_name, profile_path(@item.user) %><br/><br/>
          <strong>Description</strong><br/>
          <%= raw @item.description %>
          <div class="clear">&nbsp;</div>
        </div>

        <h3>Suggest Terms</h3> <br/>

        <div id="booking-form">

          <div id="price-box">

            <div class="xfields">
              <div style="float: left;width: 100px;font-weight: bold;">Daily Price</div>
              <div style="float: left;width: 100px;font-weight: bold;">Duration</div>
              <div style="float: left;width: 100px;font-weight: bold;">Total Price</div>
            </div>
            <br/>
            <div style="padding-top:4px; color:#f55c00;" class="xfields">
              <%= hidden_field_tag :per_day_price, @item.price %>
              <%= hidden_field_tag :per_week_price, @item.price_per_week %>
              <%= hidden_field_tag :per_month_price, @item.price_per_month %>
              <%= f.hidden_field :total_amount, :value => @calculated_price %>

              <div style="float: left;width: 100px;" id="daily_price">
  <%#*€<%= @item.price %>
                <%= number_to_currency(exchange_currency(@item.price.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
              </div>
              <div style="float: left;width: 100px;" id="duration">
                <%= "#{@number_of_days} days" %>
              </div>
              <div style="float: left;width: 100px;" id="total_price">
                €<%= @calculated_price %>
              </div>
            </div>

          </div>
          <br/>

          <strong>I need this... From: *</strong>

          <label>Pickup:</label>
          <%= f.text_field :rental_start_date, :class => "datex", :value => params[:pick_up] , :onchange => "calculateTotalAmount();" %>
  <%#*<div class="clear"></div>%>
          <label>Return:</label>
          <%= f.text_field :rental_end_date, :class => "datex", :value => params[:return] , :onchange => "calculateTotalAmount();" %>

          <br/>
          <div class="clear"></div>
          <br/>
          <label>Meeting Location:</label>

          <div style="padding-top:12px; font-size:13px;">
            <span style="float: left;">
              <%= f.radio_button :preferred_location, false, :checked => true,  :class => "radio" %>
            </span>
            <span style="float: left;">
              <%= label :preferred_location_email, "#{@item.user.popup_storz_display_name} Location", :style => "padding-top:0px !important;line-height: 20px;" %> &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span style="float: left;">
              <strong>OR</strong>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span style="float: left;">
              <%= f.radio_button :preferred_location, true, :checked => false ,  :class => "radio" %>
            </span>
            <span style="float: left;">
              <%= label :preferred_location_sms, 'Choose another location', :style => "padding-top:0px !important;line-height: 20px;"  %>
            </span>
          </div>
          <br/>

          <div class="clear"></div>

          <div id="preferred_address" style="display: none; font-size:13px; font-style:italic;">Please Enter Meeting <strong>Location</strong> :
            <%= f.text_field :preferred_address %>
            <div id="item_advanced_container" style="display:none;">
              <div id="item_advanced" style="display:none;">
                <%= label_tag(:longitude, "Coordinates") %>
                <%= text_field_tag :longitude, :class => 'required two-side-by-side' %>
                <%= text_field_tag :latitude , :class => 'required two-side-by-side second'%><br />
              </div>
              <div class="small">
                <a href="javascript:void(0);" id="item_advanced_link"><%= "Advance Settings" %></a>
              </div>
            </div>
          </div>
          <br/>

          <div class="clear"></div>

          <label>Want to Bargain:</label>

          <div style="padding-top:12px; font-size:13px;">
            <span style="float: left;">
              <%= f.radio_button :want_to_bargain, false, :checked => true,  :class => "bargain_radio" %>
            </span>
            <span style="float: left;">
              <%= label :want_to_bargain_no, "No", :style => "padding-top:0px !important;line-height: 20px;" %> &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span style="float: left;">
              <strong>OR</strong>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span style="float: left;">
              <%= f.radio_button :want_to_bargain, true, :checked => false ,  :class => "bargain_radio" %>
            </span>
            <span style="float: left;">
              <%= label :want_to_bargain_yes, 'Yes', :style => "padding-top:0px !important;line-height: 20px;"  %>
            </span>
          </div>
          <br/>
          <div class="clear"></div>

          <div id="bargain_div" style="display: none; font-size:13px; font-style:italic;">Please Enter Meeting <strong>Willing to Pay</strong> :
            <%= f.text_field :willingness_to_pay %>
            <%= session[:curr] == "USD" ? "$" : "€" %> &nbsp;&nbsp;&nbsp;<font size="2"><em>For the whole rental period</em></font><br/>
          </div>

          <br/>
          <label style="line-height:18px;">I need a response from the Owner  by:</label>
          <%= f.text_field :cancellation_date, :class => "datex", :value => "mm/dd/yy"%>
          <br/><br/>

          <div class="clear"></div>

          <label style="line-height:18px; ">
            <strong>Send <%= @item.user.popup_storz_display_name %></strong> message:
            <small>maybe tell him/her why you need the space</small></label><br/><br/>
          <%= f.fields_for :offer_messages do |offer_message| %>
            <% if offer_message.object.new_record? %>
              <%= offer_message.text_area :message %>
              <%= offer_message.hidden_field :user_id, :value => current_user.id %>
              <%= offer_message.hidden_field :msg_posted_as, :value => @item.user == current_user ? "Owner" : "Renter"%>
            <%end%>
          <%end%>
          <br/>
          <!--<input name="" type="checkbox" value="" /> <font size="2">I agree to the <a href="#">terms of use.</a></font><br />
          -->
          <br/>
          <div style="padding-left:200px;">
            <button class="large-max button orange"> Send request </button>
          </div>
        </div>
      </div>
      <div class="clear">&nbsp;</div>
    <% end %>
  </div>
  <div id="my_map_div" style="visibility:hidden;display: none;">
    <%= raw(@map.div(:width => 500, :height => 400)) %>
  </div>
</div>

<script type="text/javascript">
  $('.radio').change(function(){
    if($(this).val() == "true")
    {
      $('#preferred_address').show();
    }
    else
    {
      $('#preferred_address').hide();
      $('#offer_preferred_address').val('');      
    }
  });
  $('.bargain_radio').change(function(){
    if($(this).val() == "true")
    {
      $('#bargain_div').show();
    }
    else
    {
      $('#bargain_div').hide();
      $('#offer_willingness_to_pay').val('');
    }
  });
  
  function checkPrefferedAddress(){
    if($("input[@name=offer[preferred_location]]:checked").val() == "true"){
      if($("#offer_preferred_address").val() == "") {
        alert('Please enter some preferred location first!.');
        return false;
      }else{
        if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy") {
          alert('Please enter response date.');
          return false;
        }else{
          return true;
        }
      }
    }else{
      if($("#offer_cancellation_date").val() == "" || $("#offer_cancellation_date").val() == "mm/dd/yy") {
        alert('Please enter response date.');
        return false;
      }else{
        return true;
      }
    }
  }
  function calculateTotalAmount(){
    $("#offer_rental_end_date").datepicker('option', 'minDate', new Date($("#offer_rental_start_date").val()));

    if($("#offer_rental_start_date").val()=="mm/dd/yy"){
      alert('Please select pickup date first, thanks.');
      $("#offer_rental_end_date").val("mm/dd/yy");
    }
    else
    {
      if($("#offer_rental_end_date").val()=="")
      {
        $("#offer_rental_end_date").val($("#offer_rental_start_date").val());
      }
    }
    if($('#offer_rental_start_date').val() != 'mm/dd/yy' && $('#offer_rental_end_date').val() != 'mm/dd/yy'){
      start = $('#offer_rental_start_date').val();
      start_date = new Date(start);
      end = $('#offer_rental_end_date').val();
      end_date = new Date(end);
      number_of_days = ((end_date - start_date)/(1000*60*60*24)) + 1;
      if(number_of_days == 0){
        number_of_days = 1;
      }
      
      $('#duration').text(number_of_days+ " days");
      calculated_price = calculate_price(number_of_days);
      
      $('#offer_total_amount').val(calculated_price);
      
      jQuery.ajax({
        type:"GET",
        url: '/items/set_dates?start_date='+start+'&end_date='+end,
        success: function(){
          jQuery.ajax({
            type:"GET",
            url: '/items/exchange_price?calculated_price='+calculated_price+'&price_unit=<%= @item.price_unit %>'
          });
        }
      });

    }
  }
  
  function calculate_price(number_of_days){
    months = Math.floor(number_of_days/30);
    weeks = Math.floor((number_of_days - (Math.floor((30 * months))))/7);
    days = (number_of_days - (30 * months)) - (weeks * 7);
    return months * $('#per_month_price').val()  + weeks * $('#per_week_price').val() + days * $('#per_day_price').val();
  }
</script>

<script>
  var marker = null;
  var get_location_name_timeout = null;

  $(document).ready(function() {


    $('#map').css("margin", "0 auto");


    var update_location_fun = function(resolveName) {
      if(resolveName == null) {
        resolveName = true;
      }

      var form = $('#new_offer');
      var latlng = new GLatLng(
      $('#latitude').val(),
      $('#longitude').val()
    );

      map.setCenter(latlng);
      if(marker) {
        map.removeOverlay(marker);
      }

      marker = new GMarker(latlng);
      map.setZoom(15);
      map.addOverlay(marker);



      if(resolveName) {


        var get_location_name_fun = function() {
          $.ajax({
            url: "/xml/address_search.xml?lat=" + latlng.lat() + "&lon=" + latlng.lng(),
            dataType: 'xml',
            success: function(resp) {

              $('#offer_preferred_address').removeClass('ui-autocomplete-loading');
              var name = $('address', resp).text();
              if(name != '') {
                $('#offer_preferred_address').val($('address', resp).text());
              }
            }
          });
        }

        if(get_location_name_timeout) {
          clearTimeout(get_location_name_timeout);
        }
        get_location_name_timeout = setTimeout(get_location_name_fun, 300);
        $('#offer_preferred_address').addClass('ui-autocomplete-loading');
      }
    }

    var register_map_event_fun = function() {
      if(!map) {
        setTimeout(register_map_event_fun, 100);
        return;
      }
      GEvent.addListener(map, "click", function(overlay, latlng) {
        if (latlng) {
          $('#longitude').val(latlng.lng());
          $('#latitude').val(latlng.lat());
          update_location_fun();
        }
      });
    }
    setTimeout(register_map_event_fun, 100);

    $('#offer_preferred_address').autocomplete({
      focus: function(event, ui) {
        return false;
      },
      select: function(event, ui) {
        var position = ui.item.id.split(";");
        $('#longitude').val(position[0]);
        $('#latitude').val(position[1]);
        update_location_fun(false);
      },
      source: function(request, cb) {
        $.ajax({
          url: "/xml/location_search.xml?q=" + request.term,
          dataType: 'xml',
          success: function(resp) {
            cb($("location", resp).map(function() {
              return {label: $("address", this).text(), id: $("longitude", this).text() + ";" + $("latitude", this).text()
              };
            }).get());
          }
        });
      },
      minLength: 2,
      change: function (event, ui) {
        if (ui.item) {
          $('#another_element').val(ui.item.source.label);
        }
        else {
          if (!$(this).data('valid')) {
            $(this).val('');
            $('#another_element').val('');
          }
        }
        $(this).data('valid', false);
      }
    }).live('blur', function (e) {
      if ($('.ui-autocomplete li:visible').length > 0) {
        $(".ui-autocomplete li:visible:first").click();
        item = $($(".ui-autocomplete li:visible:first").data()).attr('item.autocomplete');
        var position = item.id.split(";");
        $('#longitude').val(position[0]);
        $('#latitude').val(position[1]);
        update_location_fun(false);
        $(this).val(item.label);
        $('#another_element').val(item.label);
        $(this).data('valid', true);

      }
    });
    //$('#new_location').validate();
  });
</script>