<% @item = @offer.item %>
<% applied = @offer.members.where("status != 'Approved'") %>
<% approved = @offer.members.where("status ='Approved'") %>
<% joined = GatheringMember.where("status = 'Approved' and offer_id = #{@offer.id}") %>
<script type="text/javascript">
  function send_rating(rating_url, mode,asset){
    jQuery.ajax({
      type:"GET",
      url: rating_url,
      data: ({'rate': true })
      
    });
  }
</script>
<style>
  .rg-image{
    height: 280px !important;
  }

  .title {
    text-transform: uppercase; 
    font-family: proxima-semibold;
    display: block;
  }

  .blue {
    color: #00CCCC; 
    display: block; 
    font-family: proxima-semibold;
  }

  .join {
    background: none repeat scroll 0 0 #CC33CC;
    color: #FFFFFF;
    display: block;
    font-family: Proxima-bold;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 2px 25px;
  }

  .green {
    background: #00ff66;
    display: inline-block;
    color: white;
    font-family: Proxima-bold;
    padding: 2px 25px;
    font-size: 1.2em;
    margin: 20px auto 0;
  }

  .red {
    background: #ff3333;
    display: inline-block;
    color: white;
    font-family: Proxima-bold;
    padding: 2px 25px;
    font-size: 1.2em;
    margin: 20px auto 0;
  }

</style>
<div id="bar-useraction" class="menu-sub-layout" style="">
  <span class="menu-sub" style="background-color: <%= (params[:controller] == 'messages' ) ? 'cyan' : '' %>">
    <%= link_to t(:messages), inbox_messages_path %>
  </span>
  <span class="menu-sub" style="background-color: <%= (params[:controller] == 'items' and (params[:action] == "overview" or params[:action] == "new"or params[:action] == "show")  or (params[:controller] == 'offers' and params[:action] == "show" )) ? 'cyan' : '' %>">
    <%= link_to t(:my_listings), overview_items_path %>
  </span>
  <span class="menu-sub" style="background-color: <%= ( (params[:controller] == 'items' and params[:action] == "created_coming_gatherings" ) ) ? 'cyan' : '' %>">
    <%= link_to t(:my_bookings), "/items/created_coming_gatherings" %>
  </span>
  <span class="menu-sub" style="background-color: <%= (params[:controller] == 'items' and params[:action] == "favorites" ) ? 'cyan' : '' %>">
    <%= link_to t(:my_favorites), favorites_items_path %>
  </span>
  <span class="menu-sub" style="background-color: <%= (params[:controller] == 'users' ) ? 'cyan' : '' %>">
    <%= link_to t(:my_profile), profile_path(current_user.id) if current_user %>  
  </span>
  <span class="menu-sub" style="background-color: <%= (params[:controller] == 'users' ) ? 'cyan' : '' %>">
    <%= link_to t(:account),"/invitation" %>
  </span>
</div>
<%#= render :partial => "/searches/search_header" %>
<!-- TODO Add header for search or dasboard by the context -->
<div id="hd-result">
  <div class="container_12">
    <div id="r-nav" class="grid_9">
      <a href='#' class="back " onclick='history.go(-1);return false;'>&lt;&lt; <%= t(:back) %></a>
    </div>
    <div class="grid_3"> &nbsp; </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="shadowCont offer">
  <div id="offer_title">
    <span style="font-size: 1.4em;margin-right: 50px; color: #333333;">
      <% if @offer.is_gathering and @offer.persons_in_gathering.to_i > 0 %>
        <%= t(:gather) %>
      <% else %>
        <%= t(:stand_bookings) %>
      <% end %>
    </span>
    <span><%= t(:status) %></span>
    <span class="blue" style=";text-transform: uppercase; display: inline;">
      <% if @offer.status == "Accepted - Payment pending" or 
          @offer.status == "all joinings approved" or 
          @offer.status == "Accepted - Confirmation pending" or 
          @offer.status == "joinings approved" or 
          @offer.status == "Applied" or @offer.status == "confirmed" %>
        <% if joined.size.to_i < @offer.persons_in_gathering.to_i or 
            @offer.cancellation_date.blank? %>
          <%= t(:creating) %>
        <% else %>
          <%= t(:applied) %>
        <% end %>
      <% else %>
        <%= @offer.status %>
      <% end %>
    </span>
  </div>

  <div id="offer_info">
    <div style="float:left; width: 40%;">
      <% unless @item.avatars.size > 0 %>
        <img src="../assets/gallery.png"alt="" class="gallery" />
      <% else %>
        <div id="rg-gallery" class="rg-gallery" style="width: 375px !important;height: 400px !important;">
          <div class="rg-thumbs">
            <!-- Elastislide Carousel Thumbnail Viewer -->
            <div class="es-carousel-wrapper" style="max-width: 315px !important;">
              <div class="es-carousel">
                <ul>
                  <% @offer.item.avatars.each do |avatar| %>
                    <li style="max-width: 70px !important;max-height: 50px !important;min-width: 70px !important;min-height: 50px !important;overflow: hidden !important;">
                      <a href="#" style="max-height: 40px !important;overflow: hidden;">
                        <img src="<%= avatar.photo.url(:small) %>"
                             data-large="<%= avatar.photo.url(:large) %>"
                             alt="image01"
                             data-description="<%= @offer.item.title %>" />
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="es-nav">
                <span class="es-nav-prev"><%= t(:pre) %></span>
                <span class="es-nav-next"><%= t(:next) %></span>
              </div>
            </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
          </div>
        </div><!-- rg-gallery -->
      <% end %>
    </div>

    <div style="padding-top: 20px; float: left;" >
      <span style="font-size: 1.8em;"><b><%= @offer.item.title %></b></span><br />
      <span style="color:#666666;font-size: 15px;"><b><%= @offer.item.listing_type.blank? ? "#{t(:other)}" : @offer.item.listing_type.name %></b></span><br />
      <span style="display: block; font-family: XXII; font-size: 1.2em; margin-top: 4px; text-transform: uppercase;">
        <% addr = @offer.item.address.gsub(/\d/,'') %>
        <% addr = addr.split(",") %>
        <%= addr[0] %>
        <%= @offer.item.zipcode %>
        <%= addr[1].blank? ? " " : " , "+addr[1] %>
        <%= addr[2].blank? ? " " : " , "+addr[2] %>
      </span>

      <div style="margin-top: 150px;">
        <% if @offer.is_gathering and @offer.persons_in_gathering.to_i > 0 %>
          <span style="color:#666666">
            <%= @offer.persons_in_gathering %>&nbsp;
            <%= t(:persons_needed) %>
          </span><br />

          <span style="font-family: proxima-semibold; color: #00CCCC; margin-right: 10px;">
            <%= approved.size %>&nbsp;<%= t(:confirmed) %>
          </span>
          <span style="color: #999999;"><%= applied.size %>&nbsp;<%= t(:applied) %></span>
        <% end %>
      </div>
    </div>	  

    <div style="float: right; padding-top: 20px; text-align: right;max-width: 250px;">
      <span style="font-family: proxima-semibold; font-size: 2em; line-height: 10px;color: #999999">
        <% if @offer.is_gathering and @offer.persons_in_gathering.to_i > 0 %>        
          <% if session[:curr] == @offer.current_currency %>            
            <%= @offer.current_currency == "USD" ? "$" : "€" + " "%>
            <%= @offer.gathering_rental_price.round.to_s %>
          <% else %>
            <%= number_to_currency(exchange_currency(@offer.gathering_rental_price.round,  @offer.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
          <% end %>
        <% else %>
          <% if session[:curr] == @offer.current_currency %>            
            <%= @offer.current_currency == "USD" ? "$" : "€" %>
            <%= @offer.total.round.to_s %>
          <% else %>
            <%= number_to_currency(exchange_currency(@offer.total.round, @offer.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
          <% end %>
        <% end %>
      </span>
      <br />

      <% if(@offer.is_gathering and @offer.persons_in_gathering.to_i > 0) %>
        <span style="font-family: proxima-semibold; font-size: 1.3em; color: #999999">
          <b><%= t(:per_person2)%></b>
        </span>
      <% else %>
        <span style="font-family: proxima-semibold; font-size: 1.3em; color: #999999">
          <%= t(:total_rental_price)%>
        </span>
      <% end %>

      <br />

      <span style="cursor: pointer;color: #666666; font-size: 0.8em;" onclick="$('#offer_price_details').toggle();">
        <%= t(:show_price_details) %>
      </span>
      <br />

      <div id="offer_price_details" style="display: none;color: #666666; font-size: 1em;">
        <div style="float: right;width: 90%;">
          <div style="border:1px solid;width: 70%;float:left;padding-right: 5px;">
            <b><%= t(:daily_price) %></b>
          </div>
          <div style="border:1px solid;">
            <% if session[:curr] == @offer.current_currency %>            
              <%= @offer.current_currency == "USD" ? "$" : "€" %>
              <%= @offer.daily_price.to_s %>
            <% else %>
              <%= number_to_currency(exchange_currency(@offer.daily_price.to_f, @offer.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            <% end %>
          </div>
        </div>

        <div style="float: right;width: 90%;">
          <div style="border:1px solid;width: 70%;float:left;padding-right: 5px;">
            <b><%= t(:cleaning_fee) %></b>
          </div>
          <div style="border:1px solid;">
            <% if session[:curr] == @offer.current_currency %>            
              <%= @offer.current_currency == "USD" ? "$" : "€" %>
              <%= @offer.cleaning_fee.to_s %>
            <% else %>
              <%= number_to_currency(exchange_currency(@offer.cleaning_fee.to_f, @offer.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            <% end %>
          </div>
        </div>

        <div style="float: right;width: 90%;">
          <div style="border:1px solid;width: 70%;float:left;padding-right: 5px;">
            <b><%= t(:sub_total) %></b>
          </div>
          <div style="border:1px solid;">
            <% if session[:curr] == @offer.current_currency %>            
              <%= @offer.current_currency == "USD" ? "$" : "€" %>
              <%= @offer.sub_total.to_s %>
            <% else %>
              <%= number_to_currency(exchange_currency(@offer.sub_total.to_f, @offer.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            <% end %>
          </div>
        </div>

        <div style="float: right;width: 90%;">
          <div style="border:1px solid;width: 70%;float:left;padding-right: 5px;">
            <b><%= t(:service_fee) %></b>
          </div>
          <div style="border:1px solid;">
            <% if session[:curr] == @offer.current_currency %>            
              <%= @offer.current_currency == "USD" ? "$" : "€" %>
              <%= @offer.service_fee.to_s %>
            <% else %>
              <%= number_to_currency(exchange_currency(@offer.service_fee.to_f, @offer.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            <% end %>
          </div>
        </div>

        <div style="float: right;width: 90%;">
          <div style="border:1px solid;width: 70%;float:left;padding-right: 5px;">
            <b><%= t(:total) %></b>
          </div>
          <div style="border:1px solid;">
            <% if session[:curr] == @offer.current_currency %>            
              <%= @offer.current_currency == "USD" ? "$" : "€" %>
              <%= @offer.total.to_s %>
            <% else %>
              <%= number_to_currency(exchange_currency(@offer.total.to_f, @offer.current_currency), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            <% end %>
          </div>
        </div>

        <div style="float: right;width: 90%;">
          <div style="border:1px solid;width: 70%;float:left;padding-right: 5px;">
            <b> <%= t(:total_days) %></b>
          </div>
          <div style="border:1px solid;">
            <%= @offer.total_days == 0 ? "1" : @offer.total_days %>            
          </div>
        </div>

        <div style="float: right;width: 90%;">
          <div style="border:1px solid;width: 70%;float:left;padding-right: 5px;">
            <b> <%= t(:security_deposit) %></b>
          </div>
          <div style="border:1px solid;">
            <%= number_to_currency(exchange_currency(@item.deposit.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>            
          </div>
        </div>

        <div style="float: right;width:100%;margin-top: 10px;">
          <b><%= t(:avail_dur) %></b><br />
          <% if !@offer.item.availablities_daytime.blank? and @offer.item.availablities_daytime == true %>
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:daytime) %>
            </span>
          <% end %>
          <% if !@offer.item.availablities_evenings.blank? and @offer.item.availablities_evenings == true %>
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:evenings) %>
            </span>
          <% end %>
          <br />

          <% if !@offer.item.availablities_monday.blank? and @offer.item.availablities_monday == true %>
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:monday) %>
            </span>
          <% end %>
          <% if !@offer.item.availablities_tuesday.blank? and @offer.item.availablities_tuesday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:tuesday) %>
            </span><br />
          <% end %>
          <% if !@offer.item.availablities_wednesday.blank? and @offer.item.availablities_wednesday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:wednesday) %>
            </span>
          <% end %>
          <% if !@offer.item.availablities_thursday.blank? and @offer.item.availablities_thursday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:thursday) %>
            </span><br />
          <% end %>
          <% if !@offer.item.availablities_friday.blank? || @offer.item.availablities_friday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:friday) %>
            </span>
          <% end %>
          <% if !@offer.item.availablities_saturday.blank? || @offer.item.availablities_saturday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:saturday) %>
            </span><br />
          <% end %>

          <% if !@offer.item.availablities_sunday.blank? || @offer.item.availablities_sunday == true %>          
            <span class="avail_item">
              <%= image_tag("available.png", :style => "width: 10px;") %>
              <%= t(:sunday) %>
            </span>
          <% end %>
        </div>
      </div>

      <div style="float: right;width:100%;margin-top: 10px;">
        <span class="blue" style="margin-top: 40px;">
          <%= @offer.rental_start_date.strftime("%b. %d ,%Y") %> - <%= @offer.rental_end_date.strftime("%b. %d, %Y") %>
        </span>
        <span style="color: #999999; font-size: 0.9em;">
          <%= t(:app_deadline) %>
          <% if @offer.persons_in_gathering.to_i > 0 or @offer.is_gathering %>
            <%= @offer.gathering_deadline.blank? ? '' : @offer.gathering_deadline.strftime("%b.%d, %Y") %><br /><br />
          <% else %>
            <%= @offer.cancellation_date.blank? ? '' : @offer.cancellation_date.strftime("%b.%d, %Y") %><br /><br />
          <% end %>
        </span>

        <% unless current_user.blank? %>
          <% if @offer.members.size.to_i < @offer.persons_in_gathering.to_i && @offer.user_id != current_user.id && @offer.owner_id != current_user.id %>
            <% if !@offer.members.include?(current_user) && @offer.rental_start_date >= Date.today %>
              <div style="float:left;margin: 5px;clear:both;width: 100%;">
                <%= link_to t(:join_this_gathering), "/join_gathering/#{@offer.id}",:class => "join", :style => "float:right;margin-right:20px;" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="clear"></div>
  </div>

  <div id="offer_extra">
    <div style="float: left;">
      <% if @offer.is_gathering and @offer.persons_in_gathering.to_i > 0 %>
        <% unless @offer.gathering_description.blank? %>
          <span style="font-family: proxima-semibold; text-transform: uppercase;">
            <%= t(:gathering_des) %>
          </span>
          <div style="border: 1px solid; height: 100px; overflow: scroll; width: 600px;">
            <%= raw nl2br(@offer.gathering_description) %>
          </div>
        <% end %>
        <% unless @offer.additional_message.blank? %>
          <span style="font-family: proxima-semibold; text-transform: uppercase;">
            <%= t(:pop_description) %>
          </span>
          <div style="border: 1px solid; height: 100px; overflow: scroll; width: 600px;">
            <%= raw nl2br(@offer.additional_message) %>
          </div>
        <% end %>
      <% else %>
        <% unless @offer.additional_message.blank? %>
          <span style="font-family: proxima-semibold; text-transform: uppercase;">
            <%= t(:additional_message) %>
          </span>
          <div style="border: 1px solid; height: 100px; overflow: scroll; width: 600px;">
            <%= raw nl2br(@offer.additional_message) %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div style="float: left; margin-left: 10px;">
      <span class="title"><%= t(:cancellation_policy) %></span>
      <span style="font-family: proxima-semibold;margin-right: 5px;">
        <% unless @item.cancellation_policy_flexible.blank? %>
          <%= t(:flexible) %>
        <% else %>
          <%= t(:semi_flexible) %>
        <% end %>
      </span>
      <span onclick="$('#policies_div').toggle();" style="cursor: pointer;color: #666666;">
        <%= t(:show_details) %>
      </span>
      <div id="policies_div" style="display: none;width:360px !important;color:#999999">
        <% unless @item.cancellation_policy_flexible.blank? %>
          <%= t(:cancel_ln1) %><br/>
          <%= t(:cancel_ln2) %><br/><br/>

          <%= t(:cancel_ln3) %><br/><br/>

          <%= t(:cancel_ln4)%><br/><br/>
          <%= t(:cancel_ln5)%><br/><br/>
        <% else %>
          <%= t(:semi_cancel_ln1) %><br/>
          <%= t(:semi_cancel_ln2) %><br/><br/>

          <%= t(:semi_cancel_ln3) %><br/><br/>

          <%= t(:semi_cancel_ln4) %><br/><br/>
          <%= t(:semi_cancel_ln5) %>
        <% end %>
      </div>
      <br />
      <br />
      <span class="title"><%= t(:owner_rules) %></span>
      <span onclick="$('#rules_div').toggle()" style="cursor: pointer;color: #666666;">
        <%= t(:show) %></span>
      <br />
      <p class="size_text" id="rules_div" style="display:none;width:360px !important;word-wrap:break-word;overflow: hidden;color:#999999">
        <%= @item.owner_rules.blank? ? "" : nl2br(@item.owner_rules).html_safe %>
      </p>
      <br /><br />

    </div>

    <div style="float: left; margin-left: 10px;width: 25%;">
      <% unless current_user.blank? %>    
        <% if current_user.id.to_i == @offer.owner_id.to_i %>    
          <% if @offer.status == "joinings approved" %>
            <%= link_to t(:approve), "/accept_gathering/#{@offer.id}?mem=#{@offer.user.id}", :class => "green" %>
            <%= link_to t(:decline), "/reject_gathering/#{@offer.id}?mem=#{@offer.user.id}&item_id=#{@offer.item.id}", :class => "red" %>
          <% end %>

    <%# if (@offer.status == "confirmed" or @offer.status == "Confirmed") && @offer.persons_in_gathering.blank? %>
    <%#= link_to t(:approve), "/accept_gathering/#{@offer.id}?mem=#{@offer.user.id}", :class => "green" %>
    <%#= link_to t(:decline),  "/reject_gathering/#{@offer.id}?mem=#{@offer.user.id}&item_id=#{@offer.item.id}", :class => "red" %>
    <%# end %>
        <% end %>
        <br />
        <% if (@offer.status == "confirmed" or @offer.status == "Confirmed") && current_user.id == @offer.owner_id && @offer.rental_start_date.to_date > Date.parse("#{Date.today}","%Y-%d-%m") %>
          <%= link_to "Cancel Booking", "/cancel_booking/#{@offer.id}", :class => "red" %>
        <% end %>

        <% if (@offer.status == "Accepted - Payment pending" or @offer.status == "all joinings approved" or @offer.status == "Accepted - Confirmation pending" or @offer.status == "joinings approved" or @offer.status == "Applied" or @offer.status == "confirmed"or @offer.status == "Confirmed") && current_user.id.to_i == @offer.user_id.to_i && @offer.rental_start_date.to_date > Date.parse("#{Date.today}","%Y-%d-%m") %>
          <%= link_to "Cancel Booking", "/cancel_booking/#{@offer.id}", :class => "red" %>
        <% end %>


      <% end %>
    </div>
    <div class="clear"></div>
  </div>

</div>
<div class="clear"></div>


<% if(@offer.is_gathering and @offer.persons_in_gathering.to_i > 0) %>
  <div class="fltL shadowCont" style="width: 350px; margin-top: 20px;">
    <span style="font-size: 1.6em;">Members</span>
    <span style="color: #666666; display: block; font-family: proxima-semibold; font-size: 1.1em;margin: 5px 0;">
      <%= t(:confirmed) %>
    </span>
    <hr />

    <div id="searched-members" class="listx-bg">
      <div class="listx" style="border-bottom: 1px solid gray;padding: 5px;float: left;">
        <% joined.each do|j_mem| %>
          <% member = j_mem.user %>
          <div class="row" style="float:left; width: 340px;">
            <div class="imgx" onclick="window.location='<%= profile_path(member.id) %>'">
              <% if member.avatars.size > 0 %>
                <%= image_tag(member.avatars.first.photo.url(:thumb), :width => "85", :height => "111", :alt => "Member-Photo")  %>
              <% else %>
                <%= image_tag("empty.png", :width => "85", :height => "111", :alt => "Member-Photo")  %>
              <% end %>
            </div>

            <div class="name-list" style="margin-bottom: 5px;float: left;width: 68%;">
              <div style="float: left;width:150px;" id="rating_of_user_<%= member.id %>" >
                <%= render :partial => "searches/member_rating", :locals => {:member => member, :only_view => false} %>
              </div>
              <div style="float: right;font-weight: bold;font-size: 1em;margin-top: 5px;">
                <% if (member == @offer.user) %>
                  <%= t(:creator) %>
                <% end %>
              </div>
              <h4 style="float: left;font-family:proxima-bold; color: #333333;" onclick="window.location='<%= profile_path(member.id) %>'">
                <%= member.first_name + " " + member.last_name %>                
              </h4>              
            </div>

            <br /><br />

            <div class="name-list" style="margin-bottom: 5px; color: #666666; font-family: proxima-semibold; font-size: 1.2em;" onclick="window.location='<%= profile_path(member.id) %>'">
              <%= member.activity %>
            </div>
            <div class="name-list XXII" style="margin-bottom: 5px;" onclick="window.location='<%= profile_path(member.id) %>'">
              <% unless member.city.blank? %>
                <%= member.city %>
              <% end %>
              <% unless member.country.blank? %>
                <%= member.country %>
              <% end %>
            </div>
          </div>

          <div style="margin-top: -30px; color: grey;float: right;">
            <% if (current_user != @offer.user) %>
              <%= link_to_function "Send Message", "$('#contact_me_div_#{member.id}').toggle('slow');", :class => "send", :style => "margin-top: 35px;" %>
            <% end %>

            <div style="float: left;width: 100%;margin-top: 10px;display: none;" id="contact_me_div_<%= member.id %>">
              <%= form_tag contact_me_messages_path , :html => {:id => "contact_me_form_#{member.id}"}, :remote  => true do %>
                <%= hidden_field_tag :topic, "Inquiry" %>
                <%= hidden_field_tag :user_id, member.id %>
                <%= hidden_field_tag :item_id, @offer.item.id %>
                <%= hidden_field_tag :div_id, member.id %>

                <span style="width: auto;float: left;">
                  <%= text_area_tag  :body, "", :style => "width:135px; height:100px;" %>
                </span>

                <div style="margin-right: 10px; text-align: right;">
                  <%= submit_tag "Send", :onclick => "$('#contact_me_div_#{member.id}').hide();" %>&nbsp;&nbsp;&nbsp;
                  <%= link_to_function "Cancel", "$('#contact_me_div_#{member.id}').toggle('slow');"  %>
                </div>
              <% end %>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      </div>
    </div>

    <hr />

    <span style="color: #666666; display: block; font-family: proxima-semibold; font-size: 1.1em;margin: 5px 0;">
      <%= t(:applied) %>
    </span>

    <div id="searched-members" class="listx-bg">
      <div class="listx" style="border-bottom: 1px solid gray;padding: 5px;float: left;">        
        <% applied_requests = @offer.members.where("status !='Approved'") %>
        <% unless applied_requests.blank? %>
          <% applied_requests.each do|req| %>
            <div class="row" style="float:left; width: 340px;">
              <div class="imgx" onclick="window.location='<%= profile_path(req.id) %>'">
                <% if req.avatars.size > 0 %>
                  <%= image_tag(req.avatars.first.photo.url(:thumb), :width => "85", :height => "111", :alt => "Member-Photo")  %>
                <% else %>
                  <%= image_tag("empty.png", :width => "85", :height => "111", :alt => "Member-Photo")  %>
                <% end %>
              </div>
              <div class="name-list" style="margin-bottom: 5px;">
                <div style="float: left;width:200px;" id="rating_of_user_<%= req.id %>" >
                  <%= render :partial => "searches/member_rating", :locals => {:member => req, :only_view => false} %>
                </div>
                <div style="float:right;">
                  <h4 style="float: left;font-family:proxima-bold; color: #333333;" onclick="window.location='<%= profile_path(req.id) %>'">
                    <%= req.first_name + " " + req.last_name %>
                  </h4>                
                </div>
              </div>

              <div class="name-list" style="float: left;width:200px;margin-bottom: 5px; color: #666666; font-family: proxima-semibold; font-size: 1.2em;" onclick="window.location='<%= profile_path(req.id) %>'">
                <%= req.activity %>
              </div>

              <div class="name-list XXII" style="margin-bottom: 5px;float: left;width:200px;" onclick="window.location='<%= profile_path(req.id) %>'">
                <% unless req.city.blank? %>
                  <%= req.city %>
                <% end %>
                <% unless req.country.blank? %>
                  <%= req.country %>
                <% end %>
              </div>
            </div>

            <div style="margin-top: -30px; color: grey;float: right;">
              <% if (current_user != @offer.user) %>
                <%= link_to_function "Send Message", "$('#contact_me_div_#{req.id}').toggle('slow');", :class => "send", :style => "margin-top: 35px;" %>
              <% end %>

              <div style="float: left;width: 100%;margin-top: 10px;display: none;" id="contact_me_div_<%= req.id %>">
                <%= form_tag contact_me_messages_path , :html => {:id => "contact_me_form_#{req.id}"}, :remote  => true do %>
                  <%= hidden_field_tag :topic, "Inquiry" %>
                  <%= hidden_field_tag :user_id, req.id %>
                  <%= hidden_field_tag :item_id, @offer.item.id %>
                  <%= hidden_field_tag :div_id, req.id %>

                  <span style="width: auto;float: left;">
                    <%= text_area_tag  :body, "", :style => "width:135px; height:100px;" %>
                  </span>

                  <div style="margin-right: 10px; text-align: right;">
                    <%= submit_tag "Send", :onclick => "$('#contact_me_div_#{req.id}').hide();" %>&nbsp;&nbsp;&nbsp;
                    <%= link_to_function "Cancel", "$('#contact_me_div_#{req.id}').toggle('slow');"  %>
                  </div>
                <% end %>
              </div>
              <div class="clear"></div>
            </div>
            <% approved_requests = @offer.members.where("status ='Approved'") %>
            <% request = GatheringMember.where("user_id = #{req.id} and offer_id = #{@offer.id}").first %>            
            <% if request.status == "confirmed" && current_user.id == @offer.user_id %>
              <% if approved_requests.size <  @offer.persons_in_gathering.to_i %>
                <%= link_to t(:approve), "/approve_gathering_request/#{@offer.id}?mem=#{req.id}", :class => "green" %>
                <%= link_to t(:decline), "/decline_gathering_request/#{@offer.id}?mem=#{req.id}", :class => "red" %>
                <br /><br />
              <% end %>
            <% end %>

          <% end %>
        <% else %>
          <%= t(:zero_applied) %>
        <% end %>
        <br/><br/>
      </div>
    </div>
  </div>
<% end %>



<div class="fltL shadowCont" style="margin: 20px 0 0 20px;width: 570px;">
  <span style="font-size: 1.6em;">Wall</span>
  <hr style="margin: 5px 0;" />
  <%= form_for :comment, :url => "/offers/add_comment", :html=>{:remote => true, :id => "new_comment"} do |f| %>
    <% if @comment.errors.any? %>
      <div id="errorExplanation" class="erro_messages">
        <h2><%= t(:include_following) %></h2>
        <ul>
          <li style="list-style: square;float: left;">
            <%= @comment.errors.full_messages.to_sentence  %>
          </li>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag "id",@offer.id %>
    <div class="field">
      <%= f.text_area "comment", :rows => 3, :style=> "color:#666666;width:550px;font-size:1em", :hint=>"Share your ideas with the other member..." %><br />
      <%= f.submit "#{t(:post)}", :class =>"join",:style => "display: inline; float: right; margin: 5px;" %>
    </div>
  <% end %>

  <div class="clear"></div>
  <hr style="margin: 5px 0;" />

  <div id="searched-members" class="listx-bg">
    <div class="listx" style="border-bottom: 1px solid gray;padding: 5px;float: left;">
      <div id="comments_div">
        <% unless @offer.comments.blank? %>
          <%= render :partial => "comments", :locals => {:comments => @offer.comments.order("created_at DESC")} %>
        <% else %>
          <i><%= t(:no_added_comments)%></i>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

