<% unless @items.blank? %>
  <% @items.each do | item | %>
    <div class="listx" 	style="margin-bottom: 20px;border: 1px solid gray;">
      <div class="row" style="float:left; width: 83%;padding: 5px;border-right: 1px solid;" onclick="window.location='<%= "/items/#{item.id}" %>'">
        <div class="imgx">
    <%#=  check_box_tag "items[]", item.id, false, {:id => "items_#{item.id}", :class => "checkBoxClass", :onclick => "defineDelete();"} %>
          <% if item.avatars.size > 0 %>
            <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "178", :height => "119", :alt => "Space-Photo")  %>
          <% else %>
            <%= t(:no_image_provided) %>
          <% end %>
        </div>

        <div style="color: grey; float: right; font-size: 26px;text-align: right;"><%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%><%=  item.time_for_unit_price %><br>
          <span style="font-size: 0.7em;">by day</span></div>
        <div class="name-list" style="margin-bottom: 5px;"><h4><%= item.title %></h4></div>

        <div class="name-list XXII" style="margin-bottom: 5px;"><%= item.address %></div>

        <div class="name-list" style="margin-bottom: 5px;">
          <b><%= t(:space_price) %>: </b>
          <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/day,
          <%= number_to_currency(exchange_currency(item.price_per_week.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/week,
          <%= number_to_currency(exchange_currency(item.price_per_month.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/month.
        </div>

        <div style="margin-top: 41px; color: grey;">
          <%= link_to t(:remove_favorite), remove_from_favorite_on_item_path(item), :remote => true, :style => "float: right; color: #CC33CC;" %>
        </div>
      </div>
      <div style="float: left;text-align: center; width: 15.7%;">
        <div style="margin-top: 55px;">

        </div>
        <%#*TODO <br />%>
        <%= link_to t(:book_it), item_path(item), :remote => true, :class => "search" %>
      </div>
      <div class="clear"></div>
    </div>
  <%end%>
<%else%>
  <%= t(:dont_have_favorites) %>
<%end%>
