<script type='text/javascript'>//<![CDATA[
  $(window).load(function(){
    $(document).ready(function(){
      var min = new Date();
      min = '<%= @item.availability_from.blank? ? "" : @item.availability_from.strftime("%m/%d/%Y") %>';
      if(min == ""){
        min = new Date();
      }
      $("#item_availability_from").val('<%= @item.availability_from.blank? ? "" : @item.availability_from.strftime("%m/%d/%Y") %>');
      $("#item_availability_from").datepicker({
        minDate: min,
        dateFormat: 'mm/dd/yy'
      });
      
      $("#item_availability_to").val('<%= @item.availability_to.blank? ? "" : @item.availability_to.strftime("%m/%d/%Y") %>');
      $("#item_availability_to").datepicker({
        minDate: new Date(),
        dateFormat: 'mm/dd/yy'
      });

    });
  });
</script>
<style type="text/css">
  h2 {
    font-family: proxima-bold;
    color: #333333;
  }

  label {
    font-family: proxima-bold;	
  }
</style>


<%= f.hidden_field :user_id, :value => current_user.id if current_user %>

<h2><%= t(:description) %></h2>
<br/>
<div style="padding-bottom: 20px;float: left;">
  <% if @item.errors.any? %>
    <div id="errorExplanation" class="erro_messages">
      <h2><%= t(:oops) %></h2>
      <ul>
        <li style="list-style: square;float: left;">
          <%= t(:req_fields) %><%= @item.errors.full_messages.to_sentence  %>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<div class="xfields"><label><%= t(:title) %></label>
  <%= f.text_field :title, :style => "width:315px;", :class => "input" %>
</div>

<div class="xfields" id="where-iteme"><label><%= t(:location) %></label>
  <%= f.text_field :address, :class => "field-l input", :style => "width:315px;" %>
  <div id="item_advanced_container" style="display:none;">
    <div id="item_advanced" style="display:none;">
      <%= f.label(:longitude, "Coordinates") %>
      <%= f.text_field :longitude, :class => 'required two-side-by-side' %>
      <%= f.text_field :latitude , :class => 'required two-side-by-side second'%><br />
    </div>
    <div class="small">
      <a href="javascript:void(0);" id="item_advanced_link"><%= "Advance Settings" %></a>
    </div>
  </div>
</div>

<div class="xfields"><label><%= t(:neighbourhood) %></label>
  <%= f.text_field :neighbourhood, :style => "width:315px;", :class => "input" %><br/>
</div>

<div class="xfields"><label>&nbsp;</label>
  <% if @map %>
    <%= raw(@map.div(:width => 500, :height => 400, :class => "input", :style => "margin-top: 10px;" )) %>
  <% end %>
</div>

<div class="xfields"><label><%= t(:size) %></label>
  <%= f.text_field :size, :style => "width:80px;", :onchange => "update_units()", :class => "input" %>
  <%= select_tag "item[size_unit]", options_for_select([["SQMT","SQMT"],["SQFT","SQFT"]], @item.size_unit),:onchange => "update_units()" , :style => "width:100px; margin: 6px;", :class => "input"%>
  <div id="other_unit" class="input" style="display: bloc-inline; color: #666666;"> = <%= t(:sqft) %></div>
</div>

<div class="xfields"><label><%= t(:type) %></label>
  <%= select_tag "item[listing_type_id]", options_from_collection_for_select(@listing_types,:id, :name, @item.listing_type_id), :prompt => "Other", :style => "margin: 6px;", :class => "input" %>
</div>

<div class="xfields"><label>Detailed Description</label>
  <%= f.text_area :description, :size => "50x12", :class => "input", :style => "font-size: 1em; width: 715px;" %>
</div>

<h2><%= t(:availablilities) %></h2>
<div class="xfields" style="margin-left: 160px;">
  <div class="input" style="float: left;width: 25%;">
    <div class="input" style="float: left;margin-left: 5px;">
      <%= radio_button_tag "item[availability]", "forever", true, :class => "input", :onclick => "availability_check()" %>
      <div style="float:left;margin-left: 5px;margin-top: -8px;font-weight: bold;"><%= t(:permanently) %></div>
    </div>    
  </div>
  <div class="input" style="float: left;margin-left: 5px;">
    <%= radio_button_tag "item[availability]", "from_to", false, :class => "input", :onclick => "availability_check()" %>
    <div style="float:left;margin-left: 5px;margin-top: -8px;font-weight: bold;"><%= t(:choose_dates) %></div>
  </div>
</div>

<div class="xfields" id="availabilities_div">
  <label>&nbsp;</label>
  <div class="input">
    <span style="font-family: proxima-bold;"><%= t(:available_from) %></span>    
    <%= f.text_field :availability_from %>
    <span style="font-family: proxima-bold;"><%= t(:available_to) %></span>
    <%= f.text_field :availability_to %>
    <br />
  </div>
</div>
<div class="xfields" style="width:650px;margin-left: 160px;">
  <div class="input">
    <%=f.check_box :availablities_daytime %><span><%= t(:daytime) %></span>
    <%=f.check_box :availablities_evenings %><span><%= t(:evenings) %></span><br/>
    <%=f.check_box :availablities_monday %><span><%= t(:mondays) %></span>
    <%=f.check_box :availablities_tuesday %><span><%= t(:tuesdays) %></span>
    <%=f.check_box :availablities_wednesday %><span><%= t(:wednesdays) %></span>
    <%=f.check_box :availablities_thursday %><span><%= t(:thursdays) %></span>
    <%=f.check_box :availablities_friday %><span><%= t(:fridays) %></span>
    <%=f.check_box :availablities_saturday %><span><%= t(:saturdays) %></span>
    <%=f.check_box :availablities_sunday %><span><%= t(:sundays) %></span>
  </div>
</div>


<h2><%= t(:shareability) %></h2>

<div class="xfields"><label>&nbsp;</label>
  <div class="input" >
    <span style="font-family: proxima-bold;"><%= t(:gathering_allowed_at_place) %></span>
    <a style="color: #666666;"><%= t(:what_is_gathering) %></a>
    <br /> 
    <%= select_tag "item[is_shareable]", options_for_select([[t("Yes"),true],[t("No"),false]], @item.is_shareable), :onchange => "check_persons_limit(this.value)", :class => "input" %>
    &nbsp;
    <div id="sharing_options" style="display: block;">
      <%= t(:maximum_allowed_persons) %>: &nbsp;
      <%= f.text_field :maximum_members, :size => "5" %> <%= t(:persons) %>
    </div>
  </div>
</div>

<h2><%= t(:pricing) %></h2>

<div class="xfields"><label><%= t(:currency) %></label>
  <span>
    <%= select_tag "item[price_unit]", options_for_select([[t("USD"),"USD"],[t("EUR"),"EUR"]], @item.price_unit), :onchange => "$('.unit').html($(this).val() == 'USD' ? '$' : '€');", :style => "width:100px;" %>
  </span>
</div>

<div class="xfields" style="margin: 20px 0; width:960px;"><label><%= t(:rental_price) %></label>
  <!--<span> -->
  <div style="font-family: proxima-bold; float:left;"><%= f.text_field :price,  :class => "price", :size =>""%> <span class="unit">$</span> per day</div>
  <div style="font-family: proxima-bold; float:left;"><%= f.text_field :price_per_week,  :class => "price",:size =>""  %> <span class="unit">$</span> per week</div>
  <div style="font-family: proxima-bold; float:left;"><%= f.text_field :price_per_month,  :class => "price",:size =>"" %> <span class="unit">$</span> per month</div>
  <!--</span>-->
  <br /><span style="color: #666666; margin-left: 362px; margin-top: -12px; position: absolute;">If you wish, you can apply a lower rate for weekly or monthly rentals</span>
</div>

<div class="xfields"><label><%= t(:cleaning_fee) %></label>
  <span>
    <%= f.text_field :cleaning_fee, :class => "input" %> <span class="unit"> $</span>
<!--    <%= select_tag "item[cleaning_fee]", options_for_select([["$","$"],["€","€"]], @item.cleaning_fee) %>&nbsp;&nbsp; -->
  </span>
</div>

<div class="xfields"><label><%= t(:deposit) %></label>
  <span>
    <%= f.text_field :deposit, :class => "input" %><span class="unit"> $</span>
   <!-- <%= select_tag "item[deposit]", options_for_select([["$","$"],["€","€"]], @item.deposit) %>&nbsp;&nbsp; -->
  </span>
</div>

<h2><%= t(:cancellation_policies) %></h2>

<div class="xfields"><label>&nbsp;</label>
  <div class="input" style="width: 80%;">
    <div style="float: left;width: 100%;clear: both;">
      <span><%= t(:place_cancellation_policy) %>:</span>
      <span>Check out our full cancellation policies</span><br/>
      <%= f.radio_button :cancellation_policy_flexible, true, :class => "input" %>
      <div class="input policy">
        <span style="color: black; margin: 5px 0;"><%= t(:flexible) %></span><br/><br/>
        <%= t(:cancel_ln1) %><br/>
        <%= t(:cancel_ln2) %><br/><br/>

        <%= t(:cancel_ln3) %><br/><br/>

        <%= t(:cancel_ln4) %><br/><br/>
        <%= t(:cancel_ln5) %><br/><br/>
      </div>
    </div>
    <div style="float: left;width: 100%;clear: both;">
      <%= f.radio_button :cancellation_policy_flexible, false, :class => "input" %> 
      <div class="input policy">
        <span style="color: black; margin: 5px 0;"><%= t(:semi_flexible) %></span><br/><br/>
        <%= t(:semi_cancel_ln1) %><br/>
        <%= t(:semi_cancel_ln2) %><br/><br/>

        <%= t(:semi_cancel_ln3) %><br/><br/>

        <%= t(:semi_cancel_ln4) %><br/><br/>
        <%= t(:semi_cancel_ln5) %>
      </div>
    </div>
  </div>
</div>

<h2>OWNER RULES</h2>

<div class="xfields"><label>&nbsp;</label>
  <div class="input" >Write here all the rules that your guest will have to agree to in order to rent your place.<br />
    <%= f.text_area :owner_rules, :size => "50x12", :style => "font-size: 1em; width: 715px;", :class => "input" %></div>
</div>

<div id="iteme-type" style="text-align: center; margin: 30px 0;">
  <%= f.submit @item.new_record? ? "Create Listing" : "Update Space", :class => "search" %>
</div>

<script>
  var marker = null;
  var get_location_name_timeout = null;

  $(document).ready(function() {
    
    $("#item_size").ForceNumericOnly();
    $("#item_maximum_members").ForceNumericOnly();
    $("#item_price").ForceNumericOnly();
    $("#item_price_per_week").ForceNumericOnly();
    $("#item_price_per_month").ForceNumericOnly();
    $("#item_cleaning_fee").ForceNumericOnly();
    $("#item_deposit").ForceNumericOnly();
    
    $('#map').css("margin", "0 auto");

    $("#availabilities_div").css('display', 'none');
    
    var update_location_fun = function(resolveName) {
      if(resolveName == null) {
        resolveName = true;
      }

      var form = $('#new_item');
      var latlng = new GLatLng(
      $('#item_latitude').val(),
      $('#item_longitude').val()
    );

      map.setCenter(latlng);
      if(marker) {
        map.removeOverlay(marker);
      }

      marker = new GMarker(latlng);
      map.setZoom(15);
      map.addOverlay(marker);

      if(resolveName) {
        var get_location_name_fun = function() {
          $.ajax({
            url: "/xml/address_search.xml?lat=" + latlng.lat() + "&lon=" + latlng.lng(),
            dataType: 'xml',
            success: function(resp) {

              $('#item_address').removeClass('ui-autocomplete-loading');
              var name = $('address', resp).text();
              if(name != '') {
                $('#item_address').val($('address', resp).text());
              }
            }
          });
        }

        if(get_location_name_timeout) {
          clearTimeout(get_location_name_timeout);
        }
        get_location_name_timeout = setTimeout(get_location_name_fun, 300);
        $('#item_address').addClass('ui-autocomplete-loading');
      }
    }

    var register_map_event_fun = function() {
      if(!map) {
        setTimeout(register_map_event_fun, 100);
        return;
      }
      GEvent.addListener(map, "click", function(overlay, latlng) {
        if (latlng) {
          $('#item_longitude').val(latlng.lng());
          $('#item_latitude').val(latlng.lat());
          update_location_fun();
        }
      });
    }
    setTimeout(register_map_event_fun, 100);

    $('#item_address').autocomplete({
      focus: function(event, ui) {
        return false;
      },
      select: function(event, ui) {
        var position = ui.item.id.split(";");
        $('#item_longitude').val(position[0]);
        $('#item_latitude').val(position[1]);
        update_location_fun(false);
      },
      source: function(request, cb) {
        $.ajax({
          url: "/xml/location_search.xml?q=" + request.term,
          dataType: 'xml',
          success: function(resp) {
            cb($("location", resp).map(function() {
              return {label: $("address", this).text(), id: $("longitude", this).text() + ";" + $("latitude", this).text()
              };
            }).get());
          }
        });
      },
      minLength: 2,
      change: function (event, ui) {
        if (ui.item) {
          $('#another_element').val(ui.item.source.label);
        }
        else {
          if (!$(this).data('valid')) {
            $(this).val('');
            $('#another_element').val('');
          }
        }
        $(this).data('valid', false);
      }
    }).live('blur', function (e) {
      if ($('.ui-autocomplete li:visible').length > 0) {
        $(".ui-autocomplete li:visible:first").click();
        item = $($(".ui-autocomplete li:visible:first").data()).attr('item.autocomplete');
        var position = item.id.split(";");
        $('#item_longitude').val(position[0]);
        $('#item_latitude').val(position[1]);
        update_location_fun(false);
        $(this).val(item.label);
        $('#another_element').val(item.label);
        $(this).data('valid', true);

      }
    });
    //$('#new_location').validate();
  });

  function update_units(){
    val = $("#item_size_unit").val();
    if(val== "SQMT"){
      if($("#item_size").val()){
        fts = $("#item_size").val() * 10.76;
      }
      else{
        fts = 0;
      }
      $("#other_unit").text("= " + Math.round(fts)+" SQFT");
    }
    else{
      if($("#item_size").val()){
        mts = $("#item_size").val() / 10.76;
      }
      else{
        mts = 0;
      }
      $("#other_unit").text("= " + Math.round(mts)+" SQMT");
    }
  }

  function check_persons_limit(val){
    if(val == 'false'){
      $("#item_maximum_members").attr('disabled', true);
      $("#person_count").hide();
      $("#sharing_options").hide();
    }
    else{
      $("#item_maximum_members").attr('disabled', false);
      $("#person_count").show();
      $("#sharing_options").show();
    }
  }
    
    
  function update_date_view(){
    $("#date_range").toggle();
  }
  
  
  function availability_check(){
    
    if($("input[@name=item[availability]]:checked").val() == "forever"){
      $("#availabilities_div").css('display', 'none');
    }    
    else{
      $("#availabilities_div").css('display', 'block');
<%#*$("#availabilities_div").show();%>
    }
  }
  
  $.fn.ForceNumericOnly =
    function()
  {
    return this.each(function()
    {
      $(this).keydown(function(e)
      {
        var key = e.charCode || e.keyCode || 0;
        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
        return (
        key == 8 || 
          key == 9 ||
          key == 46 ||
          (key >= 37 && key <= 40) ||
          (key >= 48 && key <= 57) ||
          (key >= 96 && key <= 105));
      });
    });
  };

</script>
