<div style="float: left;width: 100%;border: 1px solid black;padding: 5px;">
  <h2>
    <span style="float: left;padding: 5px;background-color: <%= (params[:action] == 'index' or params[:action] == 'index') ? 'silver' : '' %>">
      <%= link_to 'Manage Listings', items_path, :class => ((params[:controller] == "items" and ( params[:action] == "index" or params[:action] == "index" )) ? "m_act" : "") %>
    </span>
    <span style="float: left;padding: 5px">
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    </span>
    <span style="float: left;padding: 5px;background-color: <%= (params[:action] == 'overview' or params[:action] == 'overview') ? 'silver' : '' %>">
      <%= link_to 'Bookings Overview', overview_items_path, :class => ((params[:controller] == "items" and ( params[:action] == "overview" or params[:action] == "overview" )) ? "m_act" : "") %>
    </span>
    <span style="float: left;padding: 5px">
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    </span>
    <span style="float: left;padding: 5px;background-color: <%= (params[:action] == 'gatherings' or params[:action] == 'gatherings') ? 'silver' : '' %>">
      <%= link_to 'Gatherings', gatherings_items_path, :class => ((params[:controller] == "items" and ( params[:action] == "gatherings" or params[:action] == "gatherings" )) ? "m_act" : "") %>
    </span>
  </h2>
</div>
