<div class="shadowCont offer">
  <!-- sub-Header -->
  <%= render :partial => "gatherings_header" %>
  <div class="clear"></div>

  <!-- List -->
  <div class="listx-bg">
    <% unless @gatherings.blank? %>
      <% @gatherings.each do | offer | %>

        <!-- Item-row -->
        <%item=offer.item%>
        <div class="listx" 	style="margin-bottom: 20px;border: 1px solid gray;">
          <div class="row" style="float:left; width: 83%;padding: 5px;border-right: 1px solid;" onclick="window.location='<%= "/offers/#{offer.id}" %>'">

            <!-- Img-row -->
            <div class="imgx">
    <%#=  check_box_tag "items[]", item.id, false, {:id => "items_#{item.id}", :class => "checkBoxClass", :onclick => "defineDelete();"} %>
              <% if item.avatars.size > 0 %>
                <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "178", :height => "119", :alt => "Space-Photo")  %>
              <% else %>
                <%= t(:no_image_provided) %>
              <% end %>
            </div>

            <!-- price-bloc-row -->
            <div style="color: grey; float: right; font-size: 26px;text-align: right;">
              <%= number_to_currency(exchange_currency(offer.total_amount.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%><br>
              <span style="font-size: 0.7em;"><%= t(:by_day) %></span></div>
            <div class="name-list" style="margin-bottom: 5px;"><h4><%= item.title %></h4>
              <%if offer.rental_end_date < Date.today %>
                <div id="rating_of_item_<%= offer.item.id %>">
                  <%= render :partial => "/ratings/rating", :locals => { :asset => offer.item, :only_view => false } %>
                </div>
              <%end%>
            </div>

            <!-- info-row -->
            <div class="name-list XXII" style="margin-bottom: 5px;"><%= item.address %></div>
            <% joined = GatheringMember.where("status = 'Approved' and offer_id = #{offer.id}") %>

            <div class="name-list" style="margin-bottom: 5px;">
              <b>Price: </b>
              <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/day,
              <%= number_to_currency(exchange_currency(item.price_per_week.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/week,
              <%= number_to_currency(exchange_currency(item.price_per_month.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/month.
            </div>

            <!-- gathering-bloc-row -->
            <div style="margin-top: 22px; color: grey;">
              <%if offer.is_gathering or offer.persons_in_gathering.to_i > 0%>
                Gathering : </b><%= offer.gathering_description %> 
              <%else%>	          
                Standard Gathering
              <%end%>
            </div>
            <!-- gathering-popup-row -->
            <a class="info"><%= offer.rental_start_date.strftime("%b. %d, %Y") %> - <%= offer.rental_end_date.strftime("%b. %d, %Y") %>
              <span><b> Response required before : </b>
                <% if offer.is_gathering or offer.persons_in_gathering.to_i > 0 %>
                  <%= offer.gathering_deadline.strftime("%b. %d, %Y") %>
                <% else %> 
                  <%= offer.cancellation_date.strftime("%b. %d, %Y") %>
                <% end %></span>
            </a>

            <!-- messages-bloc-row -->
            <% if current_user.id != member.id %>
              <div id="store-btn">
                <%= link_to_function "Send Message", "$('#contact_me_div_#{member.id}_#{count}').toggle('slow');", :class => "send"  %>
              </div>
            <% end %>

          </div>

          <!-- action-bloc-row -->
          <div style="float: left;text-align: center; width: 15.7%;">
            <div style="margin-top: 55px;">
              <% if offer.status == "Accepted - Payment pending" or offer.status == "all joinings approved" or offer.status == "Accepted - Confirmation pending" or offer.status == "joinings approved" or offer.status == "Applied" or offer.status == "confirmed" %>
                <% if joined.size.to_i < offer.persons_in_gathering.to_i or offer.cancellation_date.blank? %>
                  <%= "Creating" %>
                <% else %>
                  <span style="color: #00DAFF;"><%= "Applied" %></span>
                <% end %>
              <% else %>
                <% if offer.status == "Confirmed" %>
                  <span style="color: green;"><%= offer.status %></span>
                <% else %>

                  <% if offer.status == "Declined" %>
                    <span style="color: red;"><%= offer.status %></span>
                  <% else %>
                    <%= offer.status %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

          </div>
          <div class="clear"></div>
        </div>
      <%end%>
    <%else%>
      <%= t(:no_offer_listed) %>
    <%end%>
  </div>
</div>
