
<%= render :partial => "gatherings_header" %>
<div id="get-list-header">
  <h2>Your Offers</h2>
</div>

<div class="listx-bg">
  <% unless @offers.blank? %>
  <%#*<div class="btn-bar" style="margin-bottom: 10px;border-bottom: 1px solid gray;padding: 10px;">%>
  <%#= link_to 'Messages', inbox_messages_path %>
  <%#= link_to 'My Listings',items_path %>
  <%#= link_to 'My Pop Ups',"#" %>
  <%#= link_to('My Profile', profile_path(current_user.id)) %>
  <%#= link_to "My Account","#" %>
  <%#*</div>%>

    <% @offers.each do | offer | %>    
      <% if !offer.parent_id.blank? %>
        <% offer = Offer.find(offer.parent_id) %>
      <% end %>
      <%item = offer.item %>
      <div class="listx" style="margin-bottom: 10px;border-bottom: 1px solid gray;padding: 10px;">
        <div class="imgx">
          <% if item.avatars.size > 0 %>
            <%= image_tag(item.avatars.first.photo.url(:thumb), :width => "115", :height => "81", :alt => "Space-Photo")  %>
          <% else %>
            NO IMAGE PROVIDED YET.
          <% end %>
        </div>

        <div class="name-list" style="margin-bottom: 5px;">
          <h4><%= link_to item.title, item_path(item) %></h4>
        </div>
        <div class="name-list" style="margin-bottom: 5px;"><b>Location: </b><%= item.address %></div>


        <div class="name-list" style="margin-bottom: 5px;">
          <b>Price: </b>
          <%= number_to_currency(exchange_currency(item.price.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/day,
          <%= number_to_currency(exchange_currency(item.price_per_week.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/week,
          <%= number_to_currency(exchange_currency(item.price_per_month.to_i, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>/month.
        </div>
        <div>
    <%#*Your Offer: <%= number_to_currency(exchange_currency(offer.willingness_to_pay, item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0)%>
          <br/>
          status: <%= offer.status %>
    <%#if offer.status=="Accepted - Payment pending"%>
    <%#*<form METHOD="LINK" ACTION="/items/payment_charge/%>
    <%#=offer.id%>
    <%#*<input TYPE="submit" VALUE="check in">%>
    <%#*</form>%>
    <%#end%>
        </div>

        <% if offer.rental_end_date < Date.today %>
          <div id="rating_of_item_<%= offer.item.id %>">
            <%= render :partial => "/ratings/rating", :locals => { :asset => offer.item, :only_view => false } %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    You don't currently have any offers listed with PopupStorz.
  <% end %>
</div>