<style type="text/css">
  .ui-datepicker-today 
  {
    background: #83C948
  }
</style>
<%= javascript_include_tag "items" %>
<style type="text/css">
  #demo-frame > div.demo { padding: 10px !important; };
</style><br/><%= javascript_include_tag "items.js" %>
<%= render :partial => "/searches/search_header" %>


<script type="text/javascript">
  
  $(function() {
    
    $('#search_from1').datepicker(   
    {
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {        
        $('#search_to2').datepicker('option', {minDate: $(this).datepicker('getDate')});
      }});
    $('#search_to2').datepicker({
      minDate: '<%= Time.now.strftime("%m/%d/%Y").to_s %>',
      onSelect: function() {
        $('#search_from1').datepicker('option', {maxDate: $(this).datepicker('getDate')});
      }});

    
    $( "#amount-slider-range" ).slider({
      range: true,
      min: <%= @min_price %>,
      max: <%= @max_price %>,
      values: [ <%= @min_price %>, <%= @max_price %> ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_price").val($( "#amount-slider-range" ).slider( "values", 0 ));
        $("#max_price").val($( "#amount-slider-range" ).slider( "values", 1 ));$('#price_range_form').submit();}
    });
    $( "#amount" ).val( "$" + $( "#amount-slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#amount-slider-range" ).slider( "values", 1 ) );
  });
  
  
  $(function() {
    $( "#sizes-slider-range" ).slider({
      range: true,
      min: <%= @sizes.blank? ? 0 : @sizes.first.size %>,
      max: <%= @sizes.blank? ? 0 : @sizes.last.size %>,
      values: [ <%= @sizes.first.size %>, <%= @sizes.last.size %> ],
      slide: function( event, ui ) {
        $( "#size" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_size").val($( "#sizes-slider-range" ).slider( "values", 0 ));
        $("#max_size").val($( "#sizes-slider-range" ).slider( "values", 1 ));$('#price_range_form').submit();}
    });
    $( "#size" ).val( $( "#sizes-slider-range" ).slider( "values", 0 ) +
      " - " + $( "#sizes-slider-range" ).slider( "values", 1 ) );
  });
  
</script>


<%= stylesheet_link_tag "search-list"%>

<div class="rightcontent">

  <h2>Refine your search</h2>

  <div class="pannelright">
    <p>
      <label for="amount">Price range:</label>
      <input type="text" id="amount" style="border:0px !important; color:#f6931f; font-weight:bold;width: 170px;border-radius:0px;box-shadow:none;text-align: center;" />
    <div id="amount-slider-range" style="width: 90%;margin-left: 8px;"></div>

    <%= form_tag "/items/search_keyword", {:remote => true, :method => :get, :id => "price_range_form", :pars => params } do %>
      <%= hidden_field_tag "min_price", "" %>
      <%= hidden_field_tag "max_price", "" %>
      <%= hidden_field_tag "min_size", "" %>
      <%= hidden_field_tag "max_size", "" %>
      <%= hidden_field_tag "location", !params[:location].blank? ? params[:location] : '' %>
      <%= hidden_field_tag "search_from", !params[:search_from].blank? ? params[:search_from] : '' %>
      <%= hidden_field_tag "search_to", !params[:search_to].blank? ? params[:search_to] : '' %>
      <%= hidden_field_tag "sizes", !params[:sizes].blank? ? params[:sizes] : '' %>
  <%#= hidden_field_tag "types", !params[:types].blank? ? params[:types] : '' %>
  <%#= hidden_field_tag "shareable", !params[:shareable].blank? ? params[:shareable] : '' %>

      <div class="pannelright">
        <img class="closepannel" src="../assets/-.png" />
        <div class="heading_right">Is Shareable</div>      
        <div class="twocol">
          <%= check_box_tag "shareable", params[:shareable]? 'false' : 'true' ,params[:shareable]? true : false, :onclick => "this.form.submit()" %>
        </div>
      </div>

      <div class="pannelright">
        <img class="closepannel" src="../assets/-.png" />

        <label for="size">Sizes<small>(SQMT)</small>:</label>        
        <input type="text" id="size" style="border:0px !important; color:#f6931f; font-weight:bold;width: 170px;border-radius:0px;box-shadow:none;text-align: center;" />

        <div class="twocol">
          <div id="sizes-slider-range" style="width: 90%;margin-left: 8px;"></div>
  <%#= select_tag( "sizes", options_from_collection_for_select( @sizes, :size, :size, params[:sizes]? params[:sizes] : ''), :prompt => "Select Sizes", :onchange => "this.form.submit()") %>
        </div>
      </div>

      <div class="pannelright">
        <img class="closepannel" src="../assets/-.png" />
        <div class="heading_right">Types</div>
        <div class="twocol">
          <% @types.each do |type| %>            
            <%= check_box_tag 'types[]', type.id, params["types"].blank? ? false : params["types"].include?(type.id.to_s), :onclick => "this.form.submit()" %>
            <b><%= type.name.capitalize %></b><br />
          <% end %>
  <%#= select_tag( "types", options_from_collection_for_select( @types, :id, :name, params[:types]? params[:types] : ''), :prompt => "Select Types", :onchange => "this.form.submit()") %>
        </div>
      </div>

    <% end %>
    </p>
  </div>

</div>
<div class="leftcontent">
  <%= form_tag "/items/search_keyword", :method => :get, :id => "search_form"  do %>

    <div class="refinesearchresults">
      <%= select_tag( "location", options_from_collection_for_select(@items_with_uniq_cities, :city, :city, params[:location]), :prompt => "Select City", :class => "search_dd") %>
      <span>from</span>
      <%= text_field_tag :search_from, params[:search_from], :id => "search_from1" %>
      <span>to</span>
      <%= text_field_tag :search_to, params[:search_to], :id => "search_to2" %>
      <%= image_submit_tag("Objet-dynamique-vectoriel1-.png") %>
    </div>

    <div class="sortby">
      <%= select_tag "sort_option", options_for_select([["High to Low" ,"2"],["Low to High", "3"]], params[:sort_option]), :prompt => "Sort By",:onchange => "$('#search_form').submit();" %>
      <span>sort by</span>
    </div>

  <%end%>

  <div class="resultsholderlist">
    <% unless @items.blank? %>
      <div id="searched-items-div">
        <%= render :partial => "items", :locals => {:items => @items} %>
      </div>
    <% else %>
      Please try some other search criteria.
    <% end %>

  </div>
</div>