<style type="text/css">
  .ui-datepicker-today 
  {
    background: #83C948
  }
</style>
<%= javascript_include_tag "items" %>
<style type="text/css">
  #demo-frame > div.demo { padding: 10px !important; };
</style>

<script type="text/javascript">

  $(function() {
    $( "#amount-slider-range" ).slider({
      range: true,
      min: <%= @min_price %>,
      max: <%= @max_price %>,
      values: [ <%= @min_price %>, <%= @max_price %> ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      },
      stop: function(event, ui) {$("#min_price").val($( "#amount-slider-range" ).slider( "values", 0 ));
        $("#max_price").val($( "#amount-slider-range" ).slider( "values", 1 ));$('#price_range_form').submit();}
    });
    $( "#amount" ).val( "$" + $( "#amount-slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#amount-slider-range" ).slider( "values", 1 ) );
  });


</script>


<%= stylesheet_link_tag "search-list"%>

<div class="rightcontent">

  <h2>Refine your search</h2>

  <div class="pannelright">
    <p>
      <label for="amount">Price range:</label>
      <input type="text" id="amount" style="border:0px !important; color:#f6931f; font-weight:bold;width: 170px;border-radius:0px;box-shadow:none;text-align: center;" />
    <div id="amount-slider-range" style="width: 90%;margin-left: 8px;"></div>    
    <%= form_tag "/items/search_keyword", {:remote => true, :method => :get, :id => "price_range_form", :pars => params } do %>
      <%= hidden_field_tag "min_price", "" %>
      <%= hidden_field_tag "max_price", "" %>
      <%= hidden_field_tag "location", !params[:location].blank? ? params[:location] : '' %>
      <%= hidden_field_tag "search_from", !params[:search_from].blank? ? params[:search_from] : '' %>
      <%= hidden_field_tag "search_to", !params[:search_to].blank? ? params[:search_to] : '' %>
    <% end %>
    </p>
  </div>
  <div class="pannelright">
    <img class="closepannel" src="../assets/-.png" />
    <div class="heading_right">Price</div>
    <img src="../assets/350.png" />
  </div>

  <div class="pannelright">
    <img class="closepannel" src="../assets/-.png" />
    <div class="heading_right">Price</div>
    <div class="twocol">
      <div class="leftrow">
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="selected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
      </div><div class="rightrow">
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="selected"></div><span>Neighbourhood</span>
      </div>
    </div>

  </div>

  <div class="pannelright">
    <img class="closepannel" src="../assets/-.png" />
    <div class="heading_right">Price</div>
    <div class="twocol">
      <div class="leftrow">
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="selected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
      </div><div class="rightrow">
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="unselected"></div><span>Neighbourhood</span>
        <div class="selected"></div><span>Neighbourhood</span>
      </div>
    </div>

  </div>

</div>
<div class="leftcontent">
  <%= form_tag "/items/search_keyword", :method => :get, :id => "search_form"  do %>

    <div class="refinesearchresults">
      <%= select_tag( "location", options_from_collection_for_select(@items_with_uniq_cities, :city, :city, params[:location]), :prompt => "Select City", :class => "search_dd") %>
      <span>from</span>
      <%= text_field_tag :search_from, params[:search_from] %>
      <span>to</span>
      <%= text_field_tag :search_to, params[:search_to] %>
      <%= image_submit_tag("Objet-dynamique-vectoriel1-.png") %>
    </div>

    <div class="sortby">
      <%= select_tag "sort_option", options_for_select([["Recommended" , "1"],["High to Low" ,"2"],["Low to High", "3"],["Newest","4"]], params[:sort_option]), :prompt => "Sort By",:onchange => "$('#search_form').submit();" %>
      <span>sort by</span>
    </div>

  <%end%>

  <div class="resultsholderlist">
    <% unless @items.blank? %>
      <div id="searched-items-div">
        <%= render :partial => "items", :locals => {:items => @items} %>
      </div>
    <% else %>
      Please try some other search criteria.
    <% end %>

  </div>
</div>

<%#*- e per day - <%= link_to "Book now", item_path(item.id) %>

<script type="text/javascript">
  
  var disabledDaysRange = [["05-12-2012 to 05-19-2012", "05-09-2012 to 05-10-2012", "05-27-2012 to 05-30-2012"]];
  function disableRangeOfDays(d) {
    for(var i = 0; i < disabledDaysRange.length; i++) {
      if($.isArray(disabledDaysRange[i])) {
        for(var j = 0; j < disabledDaysRange[i].length; j++) {
          var r = disabledDaysRange[i][j].split(" to ");
          r[0] = r[0].split("-");
          r[1] = r[1].split("-");
          if(new Date(r[0][2], (r[0][0]-1), r[0][1]) <= d && d <= new Date(r[1][2], (r[1][0]-1), r[1][1])) {
            return [false];
          }
        }
      }else{
        if(((d.getMonth()+1) + '-' + d.getDate() + '-' + d.getFullYear()) == disabledDaysRange[i]) {
          return [false];
        }
      }
    }
    return [true];
  }  
  
  $('#search_from').datepicker({
    <%#*dateFormat: 'mm-dd-yy',%>
    <%#*beforeShowDay: disableRangeOfDays%>
  });  
  
  $('#search_to').datepicker();
</script>