<style>
  .booked { 
    border: 4px solid;
    color: red; 
  }
  .booked span{ 
    background: darkgray !important;
    color: red !important;
    font-weight: bold !important;
  }
  .selected{    
  }
  .selected a{ 
    background: aquamarine !important;
    font-weight: bold !important;
  }
</style>


<script type='text/javascript'>//<![CDATA[
  $(window).load(function(){
    $(document).ready(function(){      
      var disabledDaysRange = new Array;
      disabledDaysRange = <%= raw @manage_dates_array %>;
      function disableRangeOfDays(d) {
        
        for(var i = 0; i < disabledDaysRange.length; i++) {
          if($.isArray(disabledDaysRange[i])) {
            for(var j = 0; j < disabledDaysRange[i].length; j++) {
              var r = disabledDaysRange[i][j].split(" to ");
              r[0] = r[0].split("/");
              r[1] = r[1].split("/");
              if(new Date(r[0][2], (r[0][0]-1), r[0][1]) <= d && d <= new Date(r[1][2], (r[1][0]-1), r[1][1])) {
                return [false, 'booked'];
              }
            }
          }else{
            if(((d.getMonth()+1) + '/' + d.getDate() + '/' + d.getFullYear()) == disabledDaysRange[i]) {
              return [false, 'booked'];
            }
          }
        }

<% if !session[:start_date].blank? && !session[:end_date].blank? %>

  <% 
  date1 = session[:start_date]
  date2 = session[:end_date]
  dates = (Date.strptime(date1,'%m/%d/%Y')..Date.strptime(date2,'%m/%d/%Y')).to_a
  dates = dates.map{ |date_map| date_map.strftime('%m/%d/%Y') }
%>
          var selectedDays = new Array;
          selectedDays = <%= raw dates %>
        
          for(var i = 0; i < selectedDays.length; i++) {
          
            var r = selectedDays[i];
            r = r.split("/");
            if(String(new Date(r[2], (r[0]-1), r[1])) == String(d)) {
              return [true, 'selected'];
            }          
          }

<% end %>
        
        return [true];
      }
                  
      if('<%= session[:start_date] %>' == ""){
        $("#txtFromDate").datepicker({
          minDate: new Date(),
          maxDate: '<%= @item.availability_to.strftime("%m/%d/%Y") %>',
          dateFormat: 'mm/dd/yy',
          beforeShowDay: disableRangeOfDays,
        });
      }else{
        $("#txtFromDate").val('<%= session[:start_date] %>');
        $("#txtFromDate").datepicker({
          minDate: new Date(),
          maxDate: '<%= @item.availability_to.strftime("%m/%d/%Y") %>',
          dateFormat: 'mm/dd/yy',
          beforeShowDay: disableRangeOfDays

        });
      }
      if('<%= session[:start_date] %>' == ""){
        $("#txtToDate").datepicker({
          minDate: new Date(),
          maxDate: '<%= @item.availability_to.strftime("%m/%d/%Y") %>',
          dateFormat: 'mm/dd/yy',
          beforeShowDay: disableRangeOfDays
        });
      }else{
        $("#txtToDate").val('<%= session[:end_date] %>');
        $("#txtToDate").datepicker({
          minDate: new Date(),
          maxDate: '<%= @item.availability_to.strftime("%m/%d/%Y") %>',
          dateFormat: 'mm/dd/yy',
          beforeShowDay: disableRangeOfDays
        });
      }
      if('<%= session[:start_date] %>' != "" && '<%= session[:end_date] %>' != ""){
        calculateTotalAmount();
      }
    });
  });//]]>
</script>

<a href='#' class="back " onclick='history.back();'>&lt;&lt; Back to results</a>
<div class="leftcontent">
  <div class="shadowCont">
    <div class="fltL">
      <h1 class="charming"><%= @item.title %>!</h1>
      <h6><%= link_to "(Edit this Item)", edit_item_path(@item) if (current_user && @item.user.email == current_user.email)%></h6>
      <%= link_to "Delete this Item", item_path(@item), :method => :delete, :confirm => "Are you sure?"  if (current_user && @item.user.email == current_user.email)%>

      <p class="charming_text"><%= @item.address %>(<%= @item.zipcode %> - <%= @item.city %>, <%= @item.country_code   %>)</p>
    </div>
    <div class="fltR">
      <h1 class="charming graytext">
        <%= number_to_currency(exchange_currency(@item.price.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %></h1>
      <p class="charming_text graytext"><%=  @item.time_for_unit_price %></p>
    </div>
    <div class="clear"></div>
    <% unless @item.avatars.size > 0 %>
      <img src="../assets/gallery.png"alt="" class="gallery" />
    <% else %>
      <div id="rg-gallery" class="rg-gallery">
        <div class="rg-thumbs">
          <!-- Elastislide Carousel Thumbnail Viewer -->
          <div class="es-carousel-wrapper">
            <div class="es-nav">
              <span class="es-nav-prev">Previous</span>
              <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
              <ul>
                <% @item.avatars.each do |avatar| %>
                  <li>
                    <a href="#">
                      <img src="<%= avatar.photo.url(:thumb) %>"
                           data-large="<%= avatar.photo.url(:original) %>"
                           alt="image01"
                           data-description="<%= @item.title %>" />
    <%#= image_tag(, :alt=>"", :width => "471px",:height=>"391px", :class => "gallery") %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <!-- End Elastislide Carousel Thumbnail Viewer -->
        </div><!-- rg-thumbs -->
      </div><!-- rg-gallery -->
    <% end %>


    <div class="fltR w200 mt100" style="width: 165px;margin-top: 110px;">
      <h1 class="size">Size:</h1>
      <p class="size_text"><%= @item.size %> <%= @item.size_unit %></p>
      <div class="clear"></div>
      <h1 class="size">Type:</h1>
      <p class="size_text"><%= @item.listing_type.name %></p>
      <div class="clear"></div>
      <h1 class="size">Number of floors:</h1>
      <p class="size_text"></p>
      <div class="clear"></div>
      <h1 class="size">Cleaning Fee:</h1>
      <p class="size_text"><%= number_to_currency(exchange_currency(@item.cleaning_fee.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
      </p>
      <div class="clear"></div>
      <h1 class="size">Deposit Fee:</h1>
      <p class="size_text"><%= number_to_currency(exchange_currency(@item.deposit.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %></p>
      <div class="clear"></div>
      <h1 class="size">Available from:</h1>
      <p class="size_text"><%= @item.availability_from.strftime("%m-%d-%Y") %></p>
      <div class="clear"></div>
      <h1 class="size">Available to:</h1>
      <p class="size_text"><%= @item.availability_to.strftime("%m-%d-%Y") %></p>
      <div class="clear"></div>
      <h1 class="size">Gathering Available:</h1>
      <p class="size_text">
        <% if (@item.is_shareable == true) then %>Upto
          <%= @item.maximum_members %> persons
        <%else%>
          NO
        <%end%>  </p>
      <div class="clear"></div>
    </div>
    <div class="clear"></div><br/>

    <div id="favorite_div_<%= @item.id %>">
      <%= render :partial => "favorite", :locals => {:item => @item} %>
    </div>

    <p class="charming_text mt30"><%= @item.description %></p>

    <div class="line"></div>
    <h1 class="charming">Gatherings</h1>
    <p class="charming_text">
      <% gatherings = @curr_offers.where("persons_in_gathering is NOT NULL") %>
    <div style="width: 100%;clear: both;">
      <% gatherings.each do|gathering| %>
        <div style="border-bottom: 1px solid;">
          Start Date: <%= gathering.rental_start_date.strftime("%m-%d-%Y") %><br />
          End Date: <%= gathering.rental_end_date.strftime("%m-%d-%Y") %><br />
          Total required Persons: <%= gathering.persons_in_gathering %><br />
          Joined Persons: <%= gathering.members.size %><br/>
          Rental Price per person: <%= gathering.gathering_rental_price %><br />

          Gathering Deadline: <%= gathering.gathering_deadline.blank? ? '' : gathering.gathering_deadline.strftime("%m-%d-%Y") %><br /><br />
          <% unless current_user.blank? %>
            <% if gathering.members.size.to_i < gathering.persons_in_gathering.to_i && gathering.user_id != current_user.id && gathering.owner_id != current_user.id %>
              <% if !gathering.members.include?(current_user) && gathering.rental_start_date >= Date.today %>
                <%= link_to "Join", "/join_gathering/#{gathering.id}" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    </p>

    <div class="line"></div>
    <h1 class="charming">what other people think</h1>
    <p class="charming_text">what other people think what other people thinkwhat other people thinkwhat other people think</p>
    <div class="line"></div>
    <div id="comments" style="height: 200px;display: none;">

      <%= form_for @comment, :url => "/items/add_comment" do |f| %>
        <% if @comment.errors.any? %>
          <div id="errorExplanation" class="erro_messages">
            <h2>Oops! Looks like you need to include the following:</h2>
            <ul>
              <li style="list-style: square;float: left;">
                <%= @comment.errors.full_messages.to_sentence  %>
              </li>
            </ul>
          </div>
        <% end %>

        <%= hidden_field_tag "id",@item.id %>
        <div class="field">
          <%= f.label :title %><br/>
          <%= f.text_field "title" %>
        </div>
        <div class="field">
          <%= f.label :comment %><br />
          <%= f.text_area "comment", :rows => 5 %><br />
          <a class="search ml70" onclick="$('#new_comment').submit();" href="#">Leave Comment</a>
        </div>
      <% end %>
    </div>
    <br/><br/>
<%#if current_user%>
    <div id="show_comments" style="display: none;" >
      <b>Previous Comments:</b><br/>
      <%unless @item.comments.blank? %>
        <%@item.comments.each do|f|%>
          <b><%=f.title  %></b><br/>
          <%= f.comment %><br/>
          <i><%= f.user.first_name %> at <%= f.created_at.strftime("%Y-%m-%d %H:%M:%S") %></i>
          <br/>
          <br/>
        <%end%>
      <%end%>
    </div>
<%#*<div id="rating_of_item_<%= @item.id %>
<%#= render :partial => "/ratings/rating", :locals => { :asset => @item, :only_view => false } 
<%#*</div>%>

<%#end%>
  </div>
</div>


<div class="fltR">
  <div class="shadowCont w212">
    <div class="fltL">
      <% if @item.user.avatars.size > 0 %>
        <%= link_to image_tag(@item.user.avatars.first.photo.url(:thumb), :height => "56", :alt => "Seller-Image" ), profile_path(@item.user) %>
      <% else %>
        <%= link_to image_tag("User.png", :height => "56"), profile_path(@item.user) %>
      <% end %>
    </div>
    <div class="fltR w107">

<%#       *<img src="../assets/rating.png" alt="" />%>

      <h1 class="name"><%= link_to @item.user.popup_storz_display_name, profile_path(@item.user) %></h1>
      <p class="name_text"><%= @item.user.country %></p>
      <% if current_user != @item.user %>
        <div id="store-btn">
          <%= link_to_function "Contact Me", "$('#contact_me_div').toggle('slow');", :class => "send"  %>
        </div>
      <% end %>

      <div style="float: left;width: 100%;margin-top: 10px;display: none;" id="contact_me_div">
        <%= form_tag contact_me_messages_path , :html => {:id => "contact_me_form"}, :remote  => true do %>
          <%= hidden_field_tag :topic, "Inquiry" %>
          <%= hidden_field_tag :user_id, @item.user.id %>
          <span style="width: auto;float: left;">
            <%= text_area_tag  :body, "", :style => "width:118px;height:100px;" %>
          </span>
          <div style="float: left;margin-top: 5px;">
            <%= submit_tag "Send" %>&nbsp;&nbsp;&nbsp;<%= link_to_function "Cancel", "$('#contact_me_div').toggle('slow');"  %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="shadowCont w212 mt30">
    <h1 class="available">Availabilities</h1>
    <div id="box-bookit">
      <%= form_tag new_item_offer_path(@item.id), :method => :get  , :id => "book_it_form", :onsubmit => "return check_dates();" do  %>
        <div id="pricing" style="margin-top: 10px;">
          <div class="price_to_book" >
            <span id="price"  style="float: left;width: 110px;">
              <%= number_to_currency(exchange_currency(@item.price.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>
            </span>
            <span style="float: left;">
              <select name="price_per_span" onchange="change_price_to_book($(this));">
                <option value="<%= number_to_currency(exchange_currency(@item.price.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>">Per day</option>
                <option value="<%= number_to_currency(exchange_currency(@item.price_per_week.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>">Per week</option>
                <option value="<%= number_to_currency(exchange_currency(@item.price_per_month.to_i, @item.price_unit), :unit => session[:curr] == "USD" ? "$" : "€", :precision => 0) %>">Per month</option>
              </select>
              <%= hidden_field_tag :per_day_price, @item.price %>
              <%= hidden_field_tag :per_week_price, @item.price_per_week %>
              <%= hidden_field_tag :per_month_price, @item.price_per_month %>
            </span>
          </div>

  <%#*<div class="clear"></div>%>
        </div>
        <div id="r-date">
          <div id="pickup" style="margin-top: 10px;float: left;">
            <span style="float: left;width: 60px;">
              <label>Pick up</label>
            </span>
            <span style="float: left;width: 140px;">
              <input type="text" value="mm/dd/yy" name="pick_up" id="txtFromDate" onchange ="calculateTotalAmount();" size="15" />
            </span>
          </div>
          <div id="return"  style="margin-top: 10px;float: left;">
            <span style="float: left;width: 60px;">
              <label>Return</label>
            </span>
            <span style="float: left;width: 140px;">
              <input type="text" value="mm/dd/yy"  name="return" id="txtToDate" onchange ="calculateTotalAmount();" size="15" />
            </span>
          </div>
          <div class="clear"></div>
        </div>

        <div id="r-date">
          <div id="pickup" style="margin-top: 10px;float: left;">
            <span style="float: left;width: 100px;">
              <label>Total Days</label>
            </span>
            <span style="float: left;width: 100px;">
              <div id="total_days" class="price_to_book" style="margin-left: 10px;font-size: 14px;">0 &nbsp;days</div>
            </span>
          </div>
          <div id="return"  style="margin-top: 10px;float: left;">
            <span style="float: left;width: 100px;">
              <label>Total Price</label>
            </span>
            <span style="float: left;width: 100px;">
              <div id="total_price" class="price_to_book" style="margin-left: 10px;font-size: 14px;">0</div>
            </span>
          </div>
          <div class="clear"></div>
        </div>

        <div id="submit-book">

          <% unless (@item.user == current_user) %>
            <a href="#" onclick="$('#book_it_form').submit();" class="search ml70"> Book it </a>
          <% else %>
            <a href="#" onclick="alert('You are owner, You can not book it, Thanks.');return false;" class="search ml70">Book it</a>
          <% end %>

        </div>
      <% end %>
    </div>


    <div class="clear"></div>
  </div>



</div>

<div class="clear"></div>
<%#private static Calendar calendar = Calendar.getInstance()%>
<%#*<div id="datepicker"></div>%>

<script type="text/javascript">
  $("#datepicker").datepicker({
    onSelect: function(dateText, inst) {
      $("#datepicker_value").val(dateText);
    }
   
  });
</script>

<script type="text/javascript">
  function send_rating(rating_url, mode){
    jQuery.ajax({
      type:"GET",
      url: rating_url,
      data: ({'rate': true }),
      beforeSend: function (response) {
        jQuery('#'+mode+'_ajax_loader').show();
      },
      success: function (response) {
        jQuery("div #rating_<%= @item.id %>").html(response);
        jQuery('#'+mode+'_ajax_loader').hide();

      }
    });
  }
</script>



<script type="text/javascript">
  function change_price_to_book(elem){
    $('#price').html(elem.val());
  }
  function check_dates(){
    if($('#txtFromDate').val() == "" || $('#txtFromDate').val() == "mm/dd/yy" || $('#txtToDate').val() == "" || $('#txtToDate').val() == "mm/dd/yy" ){
      alert('Please select right date');
      return false;
    }else{
      return true;
    }
  }
</script>

<script>
  function calculateTotalAmount(){
    $("#txtToDate").datepicker('option', 'minDate', new Date($("#txtFromDate").val()));

    if($("#txtFromDate").val()=="mm/dd/yy"){
      alert('Please select pickup date first, thanks.');
      $("#txtToDate").val("mm/dd/yy");
    }
    else
    {
      if($("#txtToDate").val()=="")
      {
        $("#txtToDate").val($("#txtFromDate").val());
      }
    }

    if($('#txtFromDate').val() != 'mm/dd/yy' && $('#txtToDate').val() != 'mm/dd/yy'){
      
      start = $('#txtFromDate').val();      
      start_date = new Date(start);
      end = $('#txtToDate').val();
      end_date = new Date(end);
      
      number_of_days = ((end_date - start_date)/(1000*60*60*24)) + 1;
      if(number_of_days == 0){
        number_of_days = 1;
      }
      
      $('#total_days').text( Math.round(number_of_days)+ " days");
      calculated_price = calculate_price(number_of_days);

      jQuery.ajax({
        type:"GET",
        url: '/items/set_dates?start_date='+start+'&end_date='+end,
        success: function(){
          jQuery.ajax({
            type:"GET",
            url: '/items/exchange_price?calculated_price='+calculated_price+'&price_unit=<%= @item.price_unit %>'
          });
        }
      });
      
      
      
    }
  }
  
  function calculate_price(number_of_days){
    months = Math.floor(number_of_days/30);
    weeks = Math.floor((number_of_days - (Math.floor((30 * months))))/7);
    days = (number_of_days - (30 * months)) - (weeks * 7);
    return months * $('#per_month_price').val()  + weeks * $('#per_week_price').val() + days * $('#per_day_price').val();
  }
</script>






<%#=  @item.availability_from.strftime("%d-%m-%Y %I:%M%p") %>
<%#=  @item.availability_to.strftime("%d-%m-%Y %I:%M%p") %>



<%#*</div>%>
<%#*</div>%>