<a href="#" class="back">&lt;&lt; Back to results</a>
<div class="leftcontent">
  <div class="shadowCont">
    <div class="fltL">
      <h1 class="charming"><%= @item.title %>!</h1>
      <h6><%= link_to "(Edit this Item)", edit_item_path(@item)   if (@item.user.email == current_user.email)%></h6>
      <%= link_to "Delete this Item", item_path(@item), :method => :delete, :confirm => "Are you sure?"  if (@item.user.email == current_user.email)%>

      <p class="charming_text"><%= @item.address %>(<%= @item.zipcode %> - <%= @item.city %>, <%= @item.country_code   %>)</p>
    </div>
    <div class="fltR">
      <h1 class="charming graytext"><%= @item.price_unit %><%= @item.price %></h1>
      <p class="charming_text graytext"><%=  @item.time_for_unit_price %></p>
    </div>
    <div class="clear"></div>
    <img src="../assets/gallery.png" alt="" class="gallery" />
    <div class="fltR w200 mt100">
      <h1 class="size">Size:</h1>
      <p class="size_text"><%= @item.size %> <%= @item.size_unit %></p>
      <div class="clear"></div>
      <h1 class="size">Type:</h1>
      <p class="size_text"><%= @item.type %></p>
      <div class="clear"></div>
      <h1 class="size">Number of floors:</h1>
      <p class="size_text"></p>
      <div class="clear"></div>
      <%if @item.is_shareable%>
        Is shareable  up to <%= @item.maximum_members %>
      <%end%>

    </div>
    <div class="clear"></div>

    <p class="charming_text mt30"><%= @item.description %>

    <div class="line"></div>

    <h1 class="charming">what other people think</h1>
    <p class="charming_text">what other people thinkwhat other people thinkwhat other people thinkwhat other people think</p>



  </div>

</div>

<div class="fltR">
  <div class="shadowCont w212">
    <div class="fltL">
      <% if @item.user.avatars.size > 0 %>
        <%= image_tag(@item.user.avatars.first.photo.url(:thumb), :height => "56", :alt => "Seller-Image" )%>
      <% else %>
        <%= image_tag("User.png", :height => "56") %>
      <% end %>
    </div>
    <div class="fltR w107">
      <img src="../assets/rating.png" alt="" />
      <h1 class="name"><%= @item.user.popup_storz_display_name %></h1>
      <p class="name_text"><%= @item.user.country %></p>
      <% if current_user != @item.user %>
        <div id="store-btn">
          <%= link_to_function "Contact Me", "$('#contact_me_div').toggle('slow');", :class => "send"  %>
        </div>
      <% end %>

      <div style="float: left;width: 100%;margin-top: 10px;display: none;" id="contact_me_div">
        <%= form_tag contact_me_messages_path , :html => {:id => "contact_me_form"}, :remote  => true do %>
          <%= hidden_field_tag :topic, "Inquiry" %>
          <%= hidden_field_tag :user_id, @item.user.id %>
          <span style="width: auto;float: left;">
            <%= text_area_tag  :body, "", :style => "width:370px;height:100px;" %>
          </span>
          <div style="float: left;margin-top: 5px;">
            <%= submit_tag "Send" %>&nbsp;&nbsp;&nbsp;<%= link_to_function "Cancel", "$('#contact_me_div').toggle('slow');"  %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="shadowCont w212 mt30">
    <h1 class="available">Availabilities</h1>
    <a href="#" class="daytime">daytime</a>
    <a href="#" class="daytime">daytime</a>
    <div class="clear"></div>
    <a href="#" class="daytime">daytime</a>
    <a href="#" class="daytime">daytime</a>
    <div class="clear"></div>

    <img src="../assets/calender.png" alt="" class="mt30" />

    <a href="#" class="search ml70">Back</a>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>



<%#=  @item.availability_from.strftime("%d-%m-%Y %I:%M%p") %>
<%#=  @item.availability_to.strftime("%d-%m-%Y %I:%M%p") %>



<%#*</div>%>
<%#*</div>%>