<div style="padding: 20px;">
  <div id="get-list-header">
    <div class="white-button" style="float: left;margin-right: 10px;">
      <%= link_to t(:details), edit_item_path(@item) %>
    </div>
    <div class="white-button" style="float: left;margin-right: 10px;">
      <%= link_to t(:photo), "#" %>
    </div>
    <div class="white-button" style="float: left;margin-right: 10px;">
      <%= link_to t(:preview), item_path(@item) %>
    </div>
  </div>
  <br/>
  <div id="lisit-name"><h1><%= @avatar.item.title %></h1></div>

  <div id="show-thumbnail">
    <% unless @avatar.new_record? %>
      <div id="thumbnail">
        <%= image_tag(@avatar.photo.url(:thumb) )%>
      </div>
      <div id="thumbnail-txt"><%= t(:thumbnail) %></div>
    <%end%>
  </div>
  <div id="thumnail-details">
    <span class="familar-photo"><%= t(:photo) %></span>
    <br/>
    <br/>
    <span class="gray-14"><%= t(:type_acceptable) %></span>
    <br/>
    <br/>
    <% if @avatar.new_record? %>
      <%= file_field_tag :photo_1 if @item.avatars.size == 0 or @item.avatars.size < 16 %><br />
      <%= file_field_tag :photo_2 if @item.avatars.size == 0 or @item.avatars.size < 15 %><br />
      <%= file_field_tag :photo_3 if @item.avatars.size == 0 or @item.avatars.size < 14  %><br />
      <%= file_field_tag :photo_4 if @item.avatars.size == 0 or @item.avatars.size < 13  %><br />
      <%= file_field_tag :photo_5 if @item.avatars.size == 0 or @item.avatars.size < 12  %><br />

      <%= file_field_tag :photo_6 if @item.avatars.size == 0 or @item.avatars.size < 11  %><br />
      <%= file_field_tag :photo_7 if @item.avatars.size == 0 or @item.avatars.size < 10  %><br />
      <%= file_field_tag :photo_8 if @item.avatars.size == 0 or @item.avatars.size < 9  %><br />
      <%= file_field_tag :photo_9 if @item.avatars.size == 0 or @item.avatars.size < 8  %><br />
      <%= file_field_tag :photo_10 if @item.avatars.size == 0 or @item.avatars.size < 7  %><br />

      <%= file_field_tag :photo_11 if @item.avatars.size == 0 or @item.avatars.size < 6  %><br />
      <%= file_field_tag :photo_12 if @item.avatars.size == 0 or @item.avatars.size < 5  %><br />
      <%= file_field_tag :photo_13 if @item.avatars.size == 0 or @item.avatars.size < 4  %><br />
      <%= file_field_tag :photo_14 if @item.avatars.size == 0 or @item.avatars.size < 3  %><br />
      <%= file_field_tag :photo_15 if @item.avatars.size == 0 or @item.avatars.size < 2  %><br />
      <%= f.hidden_field:photo %><br />
    <%else%>
      <br/>
      <br/>
      <%@avatar.each do |avatar|%>
        <%= image_tag(avatar.photo.url(:large) )%>
        <br/>
        <br/>
        <%= link_to t(:delete_photo), item_avatar_path(@item,avatar), :method => :delete, :confirm => t(:sure_delete) %>
      <%end%>
    <%end%>
    <br/>
    <br/>

    <% if @avatar.new_record? %>
      <center><button type="submit" class="large-max button orange"> <%= t(:upload_pic) %></button></center>
    <%end%>
  </div>

</div>