<div style="padding: 20px;">
  <div id="get-list-header">
    <div class="white-button" style="float: left;margin-right: 10px;">
      <%= link_to "Details", edit_item_path(@item) %>
    </div>
    <div class="white-button" style="float: left;margin-right: 10px;">
      <%= link_to "Photos", "#" %>
    </div>
    <div class="white-button" style="float: left;margin-right: 10px;">
      <%= link_to "Preview", item_path(@item) %>
    </div>
  </div>
  <br/>
  <div id="lisit-name"><h1><%= @avatar.item.title %></h1></div>

  <div id="show-thumbnail">
    <% unless @avatar.new_record? %>
      <div id="thumbnail">
        <%= image_tag(@avatar.photo.url(:thumb) )%>
      </div>
      <div id="thumbnail-txt">Your listing thumbnail</div>
    <%end%>
  </div>
  <div id="thumnail-details">
    <span class="familar-photo">Photos</span>
    <br/>
    <br/>
    <span class="gray-14">gif / jpeg / png acceptable</span>
    <br/>
    <br/>
    <% if @avatar.new_record? %>
      <%= file_field_tag :photo_1 if @item.avatars.size == 0 or @item.avatars.size < 4 %><br />
      <%= file_field_tag :photo_2 if @item.avatars.size == 0 or @item.avatars.size < 3 %><br />
      <%= file_field_tag :photo_3 if @item.avatars.size == 0 or @item.avatars.size < 2  %><br />
      <%= f.hidden_field:photo %><br />
    <%else%>
      <br/>
      <br/>
      <%@avatar.each do |avatar|%>
        <%= image_tag(avatar.photo.url(:large) )%>
        <br/>
        <br/>
        <%= link_to "Delete photo", item_avatar_path(@item,avatar), :method => :delete, :confirm => "Are you sure?" %>
      <%end%>
    <%end%>
    <br/>
    <br/>

    <% if @avatar.new_record? %>
      <center><button type="submit" class="large-max button orange"> Upload Photo</button></center>
    <%end%>
  </div>

</div>