<p><%= t(:welcome) %> <%= @resource.email %><%= t(:symbol) %></p>

<p><%= t(:confirm_account) %></p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
