<p><%= t(:hello) %> <%= @resource.email %><%= t(:symbol) %></p>

<p><%= t(:requested_password_confirm) %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(:requested_password_confirm2) %></p>
<p><%= t(:requested_password_confirm3) %></p>
