<div class="listx-bg">
  <%unless messages.blank? %>  
    <% messages.each do |msg|%>
      <% @sender = User.find_by_id(msg.sent_messageable_id) %>
      <% @receiver = User.find_by_id(msg.received_messageable_id) %>
      <%= t(:message_body) %> :<%= raw(msg.body) %><br/>
      <%= t(:sender) %> : <%= @sender.first_name %> <%= @sender.last_name %><br/>
      <%= t(:receiver) %> : <%= @receiver.first_name %> <%= @receiver.last_name %><br/>
      <%= link_to t(:delete_message), delete_message_admin_users_path(:id => msg.id), :confirm => "Are you sure!"%>
      <br/><br/><br/>
    <%end%>
  <%else%>
    There are no messages to show!
  <%end%>
</div>