<div id="get-list-header">
  <h2><%= :all_users %></h2>
</div>
<div class="listx-bg">
  <% unless @users.blank? %>
    <% @users.each do | user | %>
      <div class="listx" style="margin-bottom: 10px;border-bottom: 1px solid gray;padding: 10px;">
      
        <div class="name-list"><%= user.email %> - <%= user.first_name %> <%= user.last_name %></div>
        <div class="manage-bg">
          <div class="btns">
            <%= link_to t(:details) , admin_user_path(user)%>
          </div>
          <div class="btns">
            <%= link_to t(:delete_user) , "/admin_destroy_user/#{user.id}", :confirm => t(:delete_user_user)%>
          </div>
        </div>
      </div>
    <%end%>
  <%else%>
    <%= t(:no_user_registered) %>
  <%end%>
</div>

<div class="btn-bar">

</div>
