<div style="float: left; padding: 10px; border: 1px solid gray;">
  <div>
  </div>
  <div id="get-list-header">
    <div id="lisit-txt"><%= @user.email %><br/><br/>
      <span class="hel-14">

      </span>
    </div>
    <div>
      <%= t(:other_info) %>
      <br/>
      <%= t(:name_info) %> <%= @user.first_name %> <%= @user.last_name %>
      <br/>
      <%= t(:lives_in) %>Lives in: <%= @user.address1 %> <%= @user.address2 %> <%= @user.city %> <%= @user.country %>
      <br/>
    </div>
  <!--  <div>
      <%#*Invitations sent to <%= @user.invitations.size %> users amongst those
<%#= @user.invitations.where("is_accepted = ?",true).size %> registered%>

    </div> -->
  </div>
  <br/><br/>




</div>