<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:popup) %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery-ui" %>
    <%= stylesheet_link_tag "ui.theme" %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "maps" %>
    <%= javascript_include_tag "all" %>    

    <%= javascript_include_tag "geoRssOverlay" %>

    <%= javascript_include_tag "markerGroup" %>
    <%= javascript_include_tag "ym4r-gm" %>

    <%= javascript_include_tag "tmpl" %>
    <%= javascript_include_tag "easing" %>
    <%= javascript_include_tag "elastislide" %>
    <%= javascript_include_tag "gallery" %>
    <%= javascript_include_tag "jcarousel.min" %>
    <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
    <%= raw(@map.to_html) if @map %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "dg" %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= yield(:head) %>

  </head>
  <body>
    
     <div class='spread'>
      <div class='twshare left'>
        <a href="http://twitter.com/share?text=aaaaaaaaaa" class="twitter-share-button" data-count="horizontal" data="qqqqqqqq"><%= t(:tweet1) %></a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </div>
    </div>
    
    <div>
      <%= t(:admin_panel) %> &nbsp;|&nbsp;
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>&nbsp;|&nbsp;
      <% end %>
      <br/>
      <br/>
      <%= link_to t(:all_users), admin_users_path %>&nbsp;|&nbsp;
      <%= link_to t(:create_users), new_admin_user_path %>&nbsp;|&nbsp;
      
      <%= link_to t(:all_listings), admin_items_path %>&nbsp;|&nbsp;
      <%= link_to t(:create_listings), new_admin_item_path %>&nbsp;|&nbsp;
      <%= link_to t(:manage_listings), admin_items_path %>&nbsp;|&nbsp;
      
      <%= link_to t(:all_bookings), admin_offers_path %>&nbsp;|&nbsp;
      
      <%= link_to t(:ownership), admin_items_path %>&nbsp;|&nbsp;
      <%= link_to t(:commision), admin_items_path %>&nbsp;|&nbsp;
      <%= link_to t(:specific_listing), admin_items_path %>&nbsp;|&nbsp;
      <%= link_to t(:edit_listing), admin_items_path %>&nbsp;|&nbsp;
      <%= link_to t(:delete_users) , admin_users_path %>&nbsp;|&nbsp;
      <%= link_to t(:delete_booking), admin_items_path %>&nbsp;|&nbsp;
      <%= link_to t(:delete_listing), "/delete_listings" %>&nbsp;|&nbsp;
      <%= link_to t(:validate_guest), admin_items_path %>
      <%#= link_to t(:offers), admin_offers_path %>&nbsp;|&nbsp;
      <%= link_to t(:change_all_commission_rates), change_rate_admin_items_path %>&nbsp;|&nbsp;
      <%=  link_to t(:all_messages), all_messages_admin_users_path%>&nbsp;|&nbsp;
      <%=  link_to t(:all_ratings), all_ratings_admin_users_path%>&nbsp;|&nbsp;
      <%= link_to t(:send_message_to_all_users), send_to_all_admin_messages_path %>&nbsp;|&nbsp;
      <%= link_to t(:send_invitation_to_users), send_invitation_admin_users_path %>

    </div>


    <% if notice %>
      <p class="notice" style="padding: 5px;width :95%;float:left; background-color:lightgreen;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="notice" style="padding: 5px;width :95%;float:left; background-color:red;"><%= alert %></p>
    <% end %>
    <%= yield %>

  </body>
</html>