<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PopUpStorz</title>
    <%= stylesheet_link_tag    "application" %>

    <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>    <!-- jsFiddle -->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css"/> <!-- jsFiddle -->
    <link rel="stylesheet" type="text/css" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css"/> <!-- jsFiddle -->    
    <script src="http://maps.google.com/maps?file=api&amp;&amp;v=2&amp;key=AIzaSyAPEeqlhndG4KU6-bRWegIBrs-v-kFcdgY"
    type="text/javascript"></script>
    <script src="http://www.facebook.com/assets.php/en_US/all.js" type="text/javascript"></script>

    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag "geoRssOverlay" %>

    <%= javascript_include_tag "markerGroup" %>
    <%= javascript_include_tag "ym4r-gm" %>
<%#= javascript_include_tag "https://js.stripe.com/v1/" %>

    <%= javascript_include_tag "tmpl" %>
    <%= javascript_include_tag "easing" %>
    <%= javascript_include_tag "elastislide" %>
    <%= javascript_include_tag "gallery" %>

    <script type="text/javascript" src="http://ww2.accudata.com/wp-content/themes/accudata/js/jquery.jcarousel.min.js"></script>



    <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
    <%= raw(@map.to_html) if @map %>
    <%= csrf_meta_tags %>
<%#= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

    <script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>

    <%= yield(:head) %>

    <noscript>
      <style>
        .es-carousel ul{
          display:block;
        }
      </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
      <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
          <a href="#" class="rg-image-nav-prev">Previous Image</a>
          <a href="#" class="rg-image-nav-next">Next Image</a>
        </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
          <div class="rg-caption" style="display:none;">
            <p></p>
          </div>
        </div>
      </div>
    </script> 

  </head>

  <body>

    <%= render :partial => "/layouts/social_medias" %>

    <div class="maincontainer">

      <div class="header">
        <div class="maincontainer">

          <div class="loginpannel">
            <% unless user_signed_in? %>
              <%= form_tag new_user_session_path do %>
                <%= text_field_tag 'user[email]' %>
                <%= password_field_tag 'user[password]' %>
                <input type="submit" value="Login" />
                <%= link_to "Forgot your password?", new_password_path(User) %><br />
                
              <% end %>
            <% else %>
              <%= link_to "Hi #{current_user.popup_storz_display_name}", dashboard_path(current_user.id),:class => ((params[:controller] == "home" and params[:action] == "index") or (params[:controller] == "users" and params[:action] == "show") ? "m_act" : "") %>
              <% unread_notifications_count = current_user.notifications.unread_notifications.count %>
              <% if unread_notifications_count > 0 %>
                (<%= link_to unread_notifications_count, dashboard_path(current_user) %>)
              <% end %>

              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% end %>
          </div>

          <div class="logo">
            <%= link_to image_tag("Objet-dynamique-vectoriel.png"), root_path %>
          </div>
          <div class="menubar">
            <div class="dropdowns">
              <div class="dropdown">
                <span><%= params[:locale]== 'fr' ? 'FR' : 'EN' %></span>
                <ul>
                  <li><%= link_to "FR", "#", :onclick => "addParamToUrl('locale', 'fr')" %></li>
                  <li><%= link_to "EN", "#", :onclick => "addParamToUrl('locale', 'en')" %></li>
                </ul>
              </div>
              <div class="dropdown">
                <span> <%= session[:curr]== 'USD' ? '$' : '€' %> </span>
                <ul>
                  <li><%= link_to "$", "#", :onclick => "addParamToUrl('curr', 'USD')" %></li>
                  <li><%= link_to "€",  "#", :onclick => "addParamToUrl('curr', 'EUR')" %></li>
                </ul>
              </div>


              <%= link_to(image_tag("listaspace.png"), new_item_path ) %>
<%#*<img class="listaspace" src="../assets/" />%>
            </div>

            <% if user_signed_in? %>
              <span style="float: left;">
                <% unread_notifications_count = current_user.notifications.unread_notifications.count %>

                <%=
                link_to "Dashboard", inbox_messages_path, :class => ((params[:controller] == "accounts" or params[:controller] == "items" ) ? "m_act" : "")
              %>
  <%#=
  link_to "Dashboard", dashboard_path(current_user.id), :class => ((params[:controller] == "accounts" or params[:controller] == "items" ) ? "m_act" : "")
  %>
                <% if unread_notifications_count > 0 %>
                  <%= link_to "("+ unread_notifications_count.to_s+")", dashboard_path(current_user), :style=>["padding-left: 2px;text-align: left !important;"] %>
                <% end %>
                <%= link_to 'Search', search_home_searches_path, :class => ((params[:controller] == "searches") ? "m_act" : "") %>
              </span>
              <div class="clear"></div>
              <span style="float: left;margin-left: 100px;">
                <% if params[:controller] == "searches" %>
    <%#= link_to 'Members', members_searches_path, :class => ((params[:controller] == "searches" and ( params[:action] == "members" or params[:action] == "search_members" )) ? "m_act" : "") %>
    <%#= link_to 'Gatherings', gatherings_searches_path, :class => ((params[:controller] == "searches" and ( params[:action] == "gatherings" or params[:action] == "search_gatherings" )) ? "m_act" : "") %>
                <% end %>
              </span>
              <% if params[:action] == "dashboard"  || (params[:controller] == "email_settings") || (params[:action] == "inbox" && params[:controller] == "messages") || (params[:action] == "listings_home" && params[:controller] == "items") || (params[:action] == "my_pop_ups" && params[:controller] == "items") || (params[:action] == "gatherings" && params[:controller] == "items") || (params[:action] == "favorites" && params[:controller] == "items") || (params[:action] == "show" && params[:controller] == "users") || params[:action] == "dashboard" || (params[:action] == "invitations" && params[:controller] == "users") || (params[:action] == "gatherings" && params[:controller] == "items")  || (params[:action] == "overview" && params[:controller] == "items")  || (params[:action] == "index" && params[:controller] == "items") %>
                <span style="float: left;">
                  <% if params[:controller] == "accounts" or params[:controller] == "messages" or params[:controller] == "items" or params[:controller] == "users" or (params[:controller] == "email_settings") %>
                    <%= link_to 'Messages', inbox_messages_path %>
                    <%= link_to 'My Listings', listings_home_items_path %>
                    <%= link_to 'My Bookings', "/items/pop_ups"%>
      <%#= link_to 'My Gatherings', "/items/gatherings"%>
                    <%= link_to 'My Favorites', favorites_items_path %>
                    <%= link_to('My Profile', profile_path(current_user.id)) %>                    
                    <%= link_to "Send Invitations","/invitation" %>
                    <%= link_to "Email Settings","/email_settings/index" %>
                  <% end %>
                </span>
              <% end %>

            <% else %>
              <span style="float: left;">
                <a href="/home/about">About</a>
                <%= link_to('Signup', new_user_registration_path)  %>
              </span>
            <% end %>

            <br/>
            <br/>

          </div>
        </div>
      </div>

      <div class="contentholder">
        <% if notice %>
          <p class="notice" style="padding: 5px;width :95%;background-color:lightgreen;"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="notice" style="padding: 5px;width :95%;background-color:red;"><%= alert %></p>
        <% end %>
        <%= yield %>
        <div class="clear"></div>
      </div>

      <div class="fltR footer mt30 mr100">
        <a href="/home/feedback">Pop Up Storz 2012</a>        <a href="/home/terms">Terms</a>        <a href="/home/contact">Contact</a>
      </div>

    </div>
  </body>
</html>

<script>

  function addParamToUrl(param, value)
  {
    //check if param exists
    var result = new RegExp(param + "=([^&]*)", "i").exec(window.location.search);
    result = result && result[1] || "";

    //added seperately to append ? before params
    var loc = window.location;
    var url = loc.protocol + '//' + loc.host + loc.pathname + loc.search;

    //param doesn't exist in url, add it
    if (result == '')
    {
      //doesn't have any params
      if (loc.search == '')
      {
        url += "?" + param + '=' + value;
      }
      else
      {
        url += "&" + param + '=' + value;
      }
    }
    else
    {

      value_to = param == 'curr' ? value == 'USD' ? 'EUR' : 'USD' : value == 'fr' ? 'en' : 'fr';
      value_from = param == 'curr' ? value == 'USD' ? 'USD' : 'EUR' : value == 'fr' ? 'fr' : 'en';
      url = param == 'curr' ? url.replace("curr="+value_to,"curr="+value_from) : url.replace("locale="+value_to,"locale="+value_from);

    }

    //return the finished url
    window.location = url;
  }

</script>