<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PopUpStorz</title>
    <%= stylesheet_link_tag    "application" %>

    <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>    <!-- jsFiddle -->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css"/> <!-- jsFiddle -->
    <link rel="stylesheet" type="text/css" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css"/> <!-- jsFiddle -->
    <%= javascript_include_tag "application" %>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAPEeqlhndG4KU6-bRWegIBrs-v-kFcdgY"
    type="text/javascript"></script>
    <script src="http://www.facebook.com/assets.php/en_US/all.js" type="text/javascript"></script>

    <%= javascript_include_tag "geoRssOverlay" %>
    <%= javascript_include_tag "markerGroup" %>
    <%= javascript_include_tag "ym4r-gm" %>



    <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
    <%= raw(@map.to_html) if @map %>
    <%= csrf_meta_tags %>

    <%= yield(:head) %>

  </head>

  <body>

    <div class="right">
      <a href="/auth/twitter" class="twiter"></a>
      <a href="/auth/facebook" class="facebook"></a>
      <a href="/auth/google" class="google"></a>
      <a href="/auth/email" class="mail"></a>
    </div>

    <div class="maincontainer">
      <div class="header">
        <div class="maincontainer">
          <div class="loginpannel">
            <% unless user_signed_in? %>
              <%= form_tag new_user_session_path do %>
                <%= text_field_tag 'user[email]' %>
                <%= password_field_tag 'user[password]' %>
                <input type="submit" value="Login" />
              <% end %>
            <% else %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% end %>
          </div>

          <div class="logo">
            <a href="/">
              <%= image_tag "Objet-dynamique-vectoriel.png" %>
            </a>
          </div>
          <div class="menubar">
            <div class="dropdowns">
              A<%= link_to "ENG",  {:locale => "en" } %>
              <%= link_to "FR", {:locale => "fr" }%>
              <%= link_to "$",  {:curr => "USD" } %>
              <%= link_to "€", {:curr => "EUR" } %>




              <%= link_to(image_tag("listaspace.png"), new_item_path ) %>
<%#*<img class="listaspace" src="../assets/" />%>
            </div>

            <% if user_signed_in? %>
              <%= link_to "Hi #{current_user.popup_storz_display_name}", profile_path(current_user),:class => ((params[:controller] == "home" and params[:action] == "index") or (params[:controller] == "users" and params[:action] == "show") ? "m_act" : "") %>
              <%= link_to 'Members', "/members", :class => ((params[:controller] == "users" and params[:action] == "members") ? "m_act" : "") %>
              <%= link_to 'Messages', inbox_messages_path, :class => ((params[:controller] == "messages" and params[:action] == "inbox") ? "m_act" : "") %>
  <%#= link_to('Profile', profile_path(current_user.id)) %>
  <%#= link_to "Personal Space", items_path %>
            <%end%>
            <% unless user_signed_in? %>
              <a href="/home/about">About</a>
              <%= link_to('Signup', new_user_registration_path)  %>
            <% end %>
            <br/>
            <br/>
<%#= number_to_currency(exchange_currency(500), :unit => session[:curr]) %>
          </div>
        </div>
      </div>

      <div class="contentholder">
        <% if notice %>
          <p class="notice" style="padding: 5px;width :95%;background-color:lightgreen;"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="notice" style="padding: 5px;width :95%;background-color:red;"><%= alert %></p>
        <% end %>
        <%= yield %>
<%#= render 'devise/menu/login_items' %>

        <div class="fltR footer mt30 mr100">
          <a href="#">Pop Up Storz 2012</a>        <a href="#">Terms</a>        <a href="#">Contact</a>
        </div>
        <div class="clear"></div>
      </div>


    </div>
  </body>
</html>
