<!DOCTYPE html>
<html>
  <head>
    <title>PopUpStorz</title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "jquery.datepick" %>

    <%= javascript_include_tag "application" %>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAPEeqlhndG4KU6-bRWegIBrs-v-kFcdgY"
    type="text/javascript"></script>
    <script src="http://www.facebook.com/assets.php/en_US/all.js" type="text/javascript"></script>

    <%= javascript_include_tag "geoRssOverlay" %>
    <%= javascript_include_tag "markerGroup" %>
    <%= javascript_include_tag "ym4r-gm" %>
    <%= javascript_include_tag "jquery.datepick" %>


    <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
    <%= raw(@map.to_html) if @map %>
    <%= csrf_meta_tags %>

    <%= yield(:head) %>

  </head>
  <body>
    <div style="margin: auto 0;float: left;width: 980px;">

      <% if notice %>
        <p class="notice" style="padding: 5px;width :95%;background-color:lightgreen;"><%= notice %></p>
      <% end %>
      <% if   alert %>
        <p class="notice" style="padding: 5px;width :95%;background-color:red;"><%= alert %></p>
      <% end %>

      <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
      <!--    <div style="float: right;margin-right: 20px;">
            <a href="/auth/twitter" class="services">
      <%= image_tag "twitter2.jpeg", :size => "20x20", :alt => "Twitter" %>
            </a><br/>
            <a href="/auth/facebook" class="services">
      <%= image_tag "fb.jpeg", :size => "20x20", :alt => "Facebook" %>
            </a><br/>
            <a href="/auth/google" class="services">
      <%= image_tag "googleplus.jpeg", :size => "20x20", :alt => "Google+" %>
            </a><br/>
            <a href="/auth/email" class="services">
      <%= image_tag "emailbox.jpeg", :size => "20x20", :alt => "email" %>
            </a><br/>

          </div>
      -->
      <%= yield %>



    </div>
  </body>

</html>

