<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=  t(:popup)%></title>
    <!-- Script TACTfactory -->
    <%= javascript_include_tag :rails, :application %>
    
    <%#= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "jquery-ui.min" %>    
    
    <%= javascript_include_tag "all" %>    
    
    <%= javascript_include_tag "jquery.hint" %>
    <%= javascript_include_tag "jquery.jcarousel.min" %>
    
    <%= javascript_include_tag "jquery.chosen.min" %>
    <%= javascript_include_tag "jquery.chosen" %>
    
    <%= javascript_include_tag "jquery.fileinput" %>
    <%= javascript_include_tag "jcarousel.min" %>    
    
    <%= javascript_include_tag "maps" %>

    <!-- Script Old -->
    <%= javascript_include_tag "geoRssOverlay" %>
    <%= javascript_include_tag "markerGroup" %>
    <%= javascript_include_tag "ym4r-gm" %>
    <%= javascript_include_tag "hashchange" %>
    <%= javascript_include_tag "tmpl" %>
    <%= javascript_include_tag "easing" %>
    <%= javascript_include_tag "elastislide" %>
    <%= javascript_include_tag "gallery" %>

    <!-- CSS TACTfactory -->
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery-ui" %>
    <%= stylesheet_link_tag "ui.theme" %>

    <%= stylesheet_link_tag "jquery.chosen" %> 
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css"/> <!-- jsFiddle -->
    <link rel="stylesheet" type="text/css" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css"/> <!-- jsFiddle -->

    <%= yield(:head) %>

    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

    <noscript>
      <style>
        .es-carousel ul{
          display:block;
        }
      </style>
    </noscript>

    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
      <div class="rg-image-wrapper">
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
          <div class="rg-caption" style="display:none;">
            <p></p>
          </div>
        </div>
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
          <a href="#" class="rg-image-nav-prev"><%= t(:prev_image) %></a>
          <a href="#" class="rg-image-nav-next"><%= t(:next_image) %></a>
        </div>
        {{/if}}
      </div>
    </script> 
  </head>

  <body>
    <div class="maincontainer">
      <div class="header">
        <div class="header-background"></div>
        <div class="maincontainer">
          <div class="logo">
            <%= link_to image_tag("Objet-dynamique-vectoriel.png"), root_path %>
          </div>

          <div class="menubar">
            <div class="dropdowns">
              <div class="dropdown">
                <span><%= params[:locale]== 'fr' ? 'FR' : 'EN' %></span>
                <ul>
                  <li><%= link_to "FR", "#", :onclick => "addParamToUrl('locale', 'fr')" %></li>
                  <li><%= link_to "EN", "#", :onclick => "addParamToUrl('locale', 'en')" %></li>
                </ul>
              </div>
              <div class="dropdown">
                <span> <%= session[:curr]== 'USD' ? '$' : '€' %> </span>
                <ul>
                  <li><%= link_to "$", "#", :onclick => "addParamToUrl('curr', 'USD')" %></li>
                  <li><%= link_to "€", "#", :onclick => "addParamToUrl('curr', 'EUR')" %></li>
                </ul>
              </div>
              <br/><%= link_to("", new_item_path, :style=>"display: block; margin-right: 0;", :id=>"logo" ) %>
            </div>

            <% if user_signed_in? %>
              <span id="bar-navigate" class="menubar-left">
                <% unread_notifications_count = current_user.notifications.unread_notifications.count %>
                <span class="<%= ((params[:controller] == "accounts" or params[:controller] == "messages" or params[:controller] == "users" or params[:controller] == "email_settings"  or (params[:controller] == "items" and params[:action] != "show" and params[:action] !="search_keyword") ) ? "m_act" : "") %>" style="float: left; padding-bottom: 5px;">
                  <%= link_to t(:dashboard), inbox_messages_path, :style => "padding-right: 0;" %>

                  <% messages_size = current_user.messages.are_to(current_user).unread.size %>
                  <% if messages_size > 0 %>
                    <%= link_to messages_size.to_s, inbox_messages_path, :style=>["border: 1px solid; margin-right: 22px; min-width: 18px; padding: 0px 3px; text-align: center;"] %>
                  <% end %>       
                </span>
                <span style="float: right;">
                  <%= link_to "#{t(:hi)} #{current_user.popup_storz_display_name}", dashboard_path(current_user.id),:class => ((params[:controller] == "home" and params[:action] == "index") or (params[:controller] == "users" and params[:action] == "show") ? "m_act" : "") %>

                  <%= link_to t(:logout), destroy_user_session_path, :method => :delete %>                

                  <% if current_user && current_user.admin? %>
                    <%= link_to t(:admin_panel), admin_items_path %>
                  <% end %>     
                </span>
                <div style="float:left;" class='<%= (((params[:controller] == "items" and params[:action] == "search_keyword")  or params[:controller] == "searches" or (params[:controller] == "items" and params[:action] == "show")) ? "m_act" : "") %>'>
                  <div class="searchDropdown searchMenu" onclick="search_menu()">
                    <span class="searchMenu" >
                      <%= t(:search) %>
                      <ul id="search_options" class="searchMenu">
                        <li class="searchMenu"><%= link_to t(:spaces3), "/searches/spaces" %></li>
                        <li class="searchMenu"><%= link_to t(:gatherings2),  "/searches/gatherings" %></li>
                        <li class="searchMenu"><%= link_to "Members",  "/searches/members" %></li>
                      </ul>
                    </span>
                  </div>
                </div>
              </span>
              <div divclass="clear"></div>

              <span id="bar-search" class="menubar-left" style="margin-left: 100px;">
                <% if params[:controller] == "searches" %>
    <%#= link_to 'Members', members_searches_path, :class => ((params[:controller] == "searches" and ( params[:action] == "members" or params[:action] == "search_members" )) ? "m_act" : "") %>
    <%#= link_to 'Gatherings', gatherings_searches_path, :class => ((params[:controller] == "searches" and ( params[:action] == "gatherings" or params[:action] == "search_gatherings" )) ? "m_act" : "") %>
                <% end %>
              </span>

            <% else %> <!-- Test : if unauthorized -->
              <span id="bar-unauth" class="menubar-left">
                <a href="/home/about" class="<%= (( params[:controller] == "home" && params[:action] == "about") ? "m_act" : "")%>">About</a>
                <%= link_to t(:signup), new_user_registration_path, :class=>((( params[:controller] == "registrations" || params[:controller] == "devise/passwords" )&& params[:action] == "new") ? "m_act" : "")  %>
                <a href="#" onclick="login_menu()"><%= t(:login)%></a>
                <div class="clear"></div>
                <div id="loginpannel" class="loginpannel" style="margin-left: 179px;">
                  <% unless user_signed_in? %>
                    <%= form_tag new_user_session_path do %>
                      <%= text_field_tag 'user[email]' %>
                      <%= password_field_tag 'user[password]' %>
                      <input type="submit" value="Login" />
                    <% end %>
                  <% else %>
                    <% if params[:action] == "dashboard"  || (params[:controller] == "email_settings") || (params[:action] == "inbox" && params[:controller] == "messages") || (params[:action] == "listings_home" && params[:controller] == "items") || (params[:controller] == "messages") || (params[:action] == "my_pop_ups" && params[:controller] == "items") || (params[:action] == "gatherings" && params[:controller] == "items") || (params[:action] == "favorites" && params[:controller] == "items") || (params[:action] == "show" && params[:controller] == "users") || params[:action] == "dashboard" || (params[:action] == "invitations" && params[:controller] == "users") || (params[:action] == "gatherings" && params[:controller] == "items")  || (params[:action] == "overview" && params[:controller] == "items")  || (params[:action] == "index" && params[:controller] == "items") || (params[:action] == "gatherings_at_my_place" && params[:controller] == "items") || ((params[:action] == "created_prev_gatherings" || params[:action] == "created_coming_gatherings" || params[:action] == "pending_gathering_acceptance" || params[:action] == "past_transactions" ) && params[:controller] == "items" )||(params[:controller] == "accounts") || (params[:controller] == "items" && params[:action] == "new") %>
                      <% if params[:action] == "dashboard"  || (params[:controller] == "email_settings") || (params[:action] == "inbox" && params[:controller] == "messages") || ((params[:action] == "listings_home" or params[:action] == "new") && params[:controller] == "items") || (params[:controller] == "messages") || (params[:action] == "my_pop_ups" && params[:controller] == "items") || (params[:action] == "gatherings" && params[:controller] == "items") || (params[:action] == "favorites" && params[:controller] == "items") || (params[:action] == "show" && params[:controller] == "users") || params[:action] == "dashboard" || (params[:action] == "invitations" && params[:controller] == "users") || (params[:action] == "gatherings" && params[:controller] == "items")  || (params[:action] == "overview" && params[:controller] == "items")  || (params[:action] == "index" && params[:controller] == "items") || (params[:action] == "gatherings_at_my_place" && params[:controller] == "items") || ((params[:action] == "created_prev_gatherings" || params[:action] == "created_coming_gatherings" || params[:action] == "pending_gathering_acceptance" || params[:action] == "past_transactions" ) && params[:controller] == "items" ) || (params[:controller] == "items" && params[:action] == "new") %>
                        <span style="float: left;">
                          <% if params[:controller] == "accounts" or params[:controller] == "messages" or params[:controller] == "items" or params[:controller] == "users" or (params[:controller] == "email_settings") %>
                            <%= link_to t(:messages), inbox_messages_path %>
                            <%= link_to t(:my_listings), overview_items_path %>
                            <%= link_to t(:my_bookings), "/items/created_coming_gatherings"%>
                            <%= link_to t(:my_favorites), favorites_items_path %>
                            <%= link_to t(:my_profile), profile_path(current_user.id) %>
                            <%= link_to t(:account),"/invitation" %>
                          <% end %>
                        </span>
                      <% end %>
                    <% end %>


                  <% end %>
                </div>
              </span>
            <% end %> <!-- End Test Authorized -->
          </div>
        </div>
      </div>

      <div class="contentholder"> 
        <% if notice %>
          <div class="notice"><p style="background-color: #00cccc;"><%= notice %></p></div>
        <% end %>
        <% if alert %>
          <div class="notice"><p style="background-color:red;"><%= alert %></p></div>
        <% end %>
        <% if flash[:error] %>
          <p class="notice" style="padding: 5px;width :95%;background-color:red;"><%= flash[:error] %></p>
        <% end %>

        <!-- Test B  TACT=This is a joke ??? -->
        <% if 
          (params[:action] == "dashboard")  || 
            (params[:controller] == "messages") ||		# TACT= allway true (params[:action] == "inbox" && params[:controller] == "messages") ||
          (params[:controller] == "email_settings") ||
            (params[:controller] == "users" && (
              params[:action] == "show"	||
                params[:action] == "invitations")
          )  ||              		
            (params[:controller] == "items" && (
              params[:action] == "listings_home"						||
                params[:action] == "new" 									|| 
                params[:action] == "my_pop_ups"							|| 
                params[:action] == "gatherings"							|| 
                params[:action] == "favorites"							|| 
                params[:action] == "overview"								|| 
                params[:action] == "index"									|| 
                params[:action] == "gatherings_at_my_place"			|| 
                params[:action] == "created_prev_gatherings"			|| 
                params[:action] == "created_coming_gatherings"		|| 
                params[:action] == "pending_gathering_acceptance"	|| 
                params[:action] == "past_transactions" )
          ) %>

          <div id="bar-useraction" class="menu-sub-layout" style="">
            <!-- Test C  TACT=This is a joke ??? why check Test B ?-->
            <% if (
                params[:controller] == "accounts"	|| 
                  params[:controller] == "messages"	|| 
                  params[:controller] == "items"		|| 
                  params[:controller] == "users"		|| 
                  params[:controller] == "email_settings" 
              ) %>
              <span class="menu-sub" style="background-color: <%= (params[:controller] == 'messages' ) ? 'cyan' : '' %>">
                <%= link_to t(:messages), inbox_messages_path %>
              </span>
              <span class="menu-sub" style="background-color: <%= (params[:controller] == 'items' ) ? 'cyan' : '' %>">
                <%= link_to t(:my_listings), overview_items_path %>
              </span>
              <span class="menu-sub" style="background-color: <%= (params[:controller] == 'items' ) ? 'cyan' : '' %>">
                <%= link_to t(:my_bookings), "/items/created_coming_gatherings" %>
              </span>
              <span class="menu-sub" style="background-color: <%= (params[:controller] == 'items' ) ? 'cyan' : '' %>">
                <%= link_to t(:my_favorites), favorites_items_path %>
              </span>
              <span class="menu-sub" style="background-color: <%= (params[:controller] == 'users' ) ? 'cyan' : '' %>">
                <%= link_to t(:my_profile), profile_path(current_user.id) if current_user %>  
              </span>
              <span class="menu-sub" style="background-color: <%= (params[:controller] == 'users' ) ? 'cyan' : '' %>">
                <%= link_to t(:account),"/invitation" %>
              </span>
            <% end %> <!-- End Test C -->
          </div>
        <% end %> <!-- End Test B -->          
        <%= yield %>
        <div class="clear"></div>
      </div>
      <div class="fltR footer mt30 mr100">
        <span><%= "ctrl: " + params[:controller] + " action: " + params[:action] %></span>
        <a href="/home/feedback"><%= t(:popup_12) %></a>
        <a href="/home/terms"><%= t(:terms) %></a>
        <a href="/home/contact"><%= t(:contact) %></a>        
      </div>      
    </div>
    <%= render :partial => "/layouts/social_medias" %>
    <script type="text/javascript">    
      /*$(document).ready(function() {
        $("input[hint]").hint();
        $("textarea[hint]").hint();
        $('#loginpannel').hide();
      });*/
	
      $(window).load(function() {
        $("input[hint]").hint();
        $("textarea[hint]").hint();
        $('#loginpannel').hide();
        
        $('.notice').delay(3500).fadeTo("slow", 0.00, function(){
          $(this).slideUp("slow", function() {
            $(this).remove();
          });
        });
        
      });

      function addParamToUrl(param, value)  {
        //check if param exists
        var result = new RegExp(param + "=([^&]*)", "i").exec(window.location.search);
        result = result && result[1] || "";
		
        //added seperately to append ? before params
        var loc = window.location;
        var url = loc.protocol + '//' + loc.host + loc.pathname + loc.search;
		
        //param doesn't exist in url, add it
        if (result == '') {
          //doesn't have any params
          if (loc.search == '') {
            url += "?" + param + '=' + value;
          } else {
            url += "&" + param + '=' + value;
          }
        } else {
          value_to = param == 'curr' ? value == 'USD' ? 'EUR' : 'USD' : value == 'fr' ? 'en' : 'fr';
          value_from = param == 'curr' ? value == 'USD' ? 'USD' : 'EUR' : value == 'fr' ? 'fr' : 'en';
          url = param == 'curr' ? url.replace("curr="+value_to,"curr="+value_from) : url.replace("locale="+value_to,"locale="+value_from);
        }
		
        //return the finished url
        window.location = url;
      }
	
      function search_menu(){
        $('#search_options').toggle("slow");
      }
	  
      function login_menu(){
        $('#loginpannel').toggle("slow");
      }
	
      $(document).click(function(event) {  
        if($(event.target).hasClass("searchMenu") == true){      
          $('#search_options').show();
        } else {
          if($('#search_options').is(":hidden") == false){
            $('#search_options').hide();
          }
        }
	  		
      });
            
      function mini_drop(){
        $('#mini_drop_options').toggle();
      }
      
      $(document).click(function(event) {
        if($(event.target).hasClass("searchMenu") == true){
          $('#search_options').show();
        }
        else{
          if($('#search_options').is(":hidden") == false){
            $('#search_options').hide();
          }
        }
      });
    </script>

    <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;&amp;v=2&amp;key=AIzaSyAPEeqlhndG4KU6-bRWegIBrs-v-kFcdgY"></script>
    <script type="text/javascript" src="http://www.facebook.com/assets.php/en_US/all.js" ></script>
    <script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>
    <%= GMap.header(:with_vml => false, :host => request.host).html_safe %>
    <%= raw(@map.to_html) if @map %>
  </body>
</html>
