<h2>
  <%= t(:picture_verification) %>
</h2>
<div style="width: auto;height: auto;border: 1px solid silver;padding: 5px;">
  <%= t(:picture_to_verify_you_exist) %>
</div>
<% unless @account.is_picture_verified %>
  <%= form_for @account, :html => {:multipart => true, :onsubmit => "if($('#photo').val() == ''){alert(#{t(:choose_file)});return false;}else{return true;}"} do |f| %>
    <br/>
    <%= hidden_field_tag "verification_type", params[:verification_type] %>
    <b> <%= t(:upload_picture) %></b><br/>
    <div class="newPaperclipFiles">
      <%= file_field_tag :photo %>
    </div>
    <br/><br/>
    <div class="actions">
      <%= submit_tag "Upload Picture" %>
    </div>
  <% end %>
<% end %>
