<h2>
  <%= t(:sms_verification) %>
</h2>
<div style="width: auto;height: auto;border: 1px solid silver;padding: 5px;">
<%= t(mobile_num_to_verify_you_exits) %>
</div>
<% if @account.sms_verification_code.blank? %>
  <%= form_for @account, :remote => true do |f| %>
    <br/>
    <%= hidden_field_tag "verification_type", params[:verification_type] %>
    <b><%= t(:enter_number) %></b><br/>
    <%= text_field_tag "mobile_number", current_user.cell_phone.blank? ? "+30" : current_user.cell_phone  %>
    <br/><br/>
    <div class="actions">
      <%= f.submit "Send me Verification Code" %>
    </div>
  <% end %>
<% else %>
  <%= form_for @account, :remote => true do |f| %>
    <br/>
    <br/>
    <%= hidden_field_tag "verification_type", params[:verification_type] %>
    <%= text_field_tag "sms_verification_code" , "", :placeholder => "Enter Verification Code" %>
    <br/><br/>
    <div class="actions">
      <%= f.submit "Enter code and Submit" %>
    </div>
  <% end %>
<% end %>
