<div style="float: left;width: 250px;border: 1px solid silver;height: auto;padding: 5px;">
  <h2><%= t(:get_verified)%></h2>
  <%= link_to t(:verify_phone), verification_selection_accounts_path(:verification_type => "sms", :account_id => @account.id ), :remote => true %>&nbsp;<%= image_tag "#{@account.is_sms_verified ? 'true.gif' : 'false.gif'}" %><br/><br/>
  <%= link_to t(:verify_picture), verification_selection_accounts_path(:verification_type => "picture", :account_id => @account.id ), :remote => true %>&nbsp;<%= image_tag "#{@account.is_picture_verified ? 'true.gif' : 'false.gif'}" %><br/><br/>
<%#= link_to "Verify your Credit Card", verification_selection_accounts_path(:verification_type => "cc", :account_id => @account.id ), :remote => true %>
<%#= image_tag "#{@account.is_cc_verified ? 'true.gif' : 'false.gif'}" %>
  <%= link_to t(:verify_facebook), verification_selection_accounts_path(:verification_type => "facebook", :account_id => @account.id ), :remote => true %>&nbsp;<%= image_tag "#{@account.is_facebook_verified ? 'true.gif' : 'false.gif'}" %><br/><br/>
  <%= link_to t(:verify_twitter), verification_selection_accounts_path(:verification_type => "twitter", :account_id => @account.id ), :remote => true %>&nbsp;<%= image_tag "#{@account.is_twitter_verified ? 'true.gif' : 'false.gif'}" %><br/><br/>
<%#= link_to "LinkedIn Verification", verification_selection_accounts_path(:verification_type => "linkedin", :account_id => @account.id ), :remote => true %>&nbsp;
<%#= image_tag "#{@account.is_linkedin_verified ? 'true.gif' : 'false.gif'}" %>
</div>
<div id="verification_div" style="float: left;width: 500px;padding: 10px;">
  <%= t(:options_verify)%>
</div>
<div style="float: left;width: 400px;border: 1px solid silver;height: auto;padding: 10px;">
  <p>
    <%= t(:popupstorz_intro)%>
  </p>
  <p>
    <%= t(:popupstorz_intro2)%>
  </p>
</div>

